$grid-background-column-color: rgba(#f15a14,.2);
$grid-background-baseline-color: rgba(#009a8e,.3);
$footer-background-color: #d2d2d2;
$body-background-color: #EFF0F2;
$side-bar-background-color: rgb(230, 230, 230);
$color01: #7f97ca;
$color02: #7f97ca;
$tabletdcolor00: #e7e8e9;

$text-color: #58595b;
$breadcrumb: #58595b;

$tabletdcolor01: #7f97ca;

$tabletdcolor02: #58595b;
$tabletdcolor03: #8a8a8a;
$tabletdcolor04: #b2b2b2;
$tabletdcolor05: #e5e5e5;
$tabletd-border-color: #cccccc;