$grid-background-column-color: rgba(#f15a14,.2);
$grid-background-baseline-color: rgba(#009a8e,.3);
$footer-background-color: #d2d2d2;
$body-background-color: #EFF0F2;
$side-bar-background-color: rgb(230, 230, 230);
$color01: #7f97ca;
$text-color: #58595b;