// --------------------------------------------
// settings

$total-columns : 8;
$column-width : 5em;
$gutter-width : 1em;
$grid-padding : 0;

$container-style: magic;
$container-width: 48em;

$medium-columns : 8; //768
$large-columns : 12; //1200

// --------------------------------------------
// layout

@include border-box-sizing;

.container {
  @include container;
  overflow: hidden;
  min-width: 768px;
}
.header , .footer {
  ul, li {
    @include reset-list;
  }
}

// --------------------------------------------
// pad

$main : 8;
$side : $medium-columns - $main;

.main {
  @include span-columns($medium-columns);
  margin-right: - 100%;
  .show-right & { margin-left: - space(4); }
  //不隱藏
  //@include span-columns($medium-columns);
}
.header {
  height: 115px; 
}
.index {
  padding: 1em;
}
.right {
  @include span-columns(4 omega);
  margin-right: -100%;
  .show-right & { margin-right: 0; }
  //不隱藏
  //@include span-columns($medium-columns);
}

// --------------------------------------------
// Desktop

$main : 8;
$side : $large-columns - $main;

@include at-breakpoint($large-columns) {
  
  .container {
    max-width: 1200px;
  }
  
  [href="#right"] { visibility: hidden; }

  .main {
    width: columns($main);
    //不隱藏
    //@include span-columns($medium-columns);
    .show-right & { margin-left: 0; }
  }

  .right {
    width: columns($side);
    //不隱藏
    //@include span-columns(4 omega);
    margin-right: 0;
    .show-right & { margin-right: 0; }
  }
  
  .index {
    padding: 0;
  }

}

// --------------------------------------------
// styles (for demo only)

.container {
  //@include susy-grid-background;
  //@include at-breakpoint($medium-columns) { @include susy-grid-background; }
  //@include at-breakpoint($large-columns) { @include susy-grid-background; }
}

header, footer {
  @include clearfix;
  clear: both;
  min-height: 3em;
  background: rgba(#fcf,.75);
  text-align: center;
}

.toggle { text-transform: none; }

[href="#right"] { float: right; }

.right, .main {
  @include transition(.3s all ease);
  // height: 20em;
  // padding: 1em;
}
//.right { @include opacity(0); }

.main {
  background: rgba(#9cf,.75);
  min-height: 20em;
  &:after {
    @include leader;
    content: " ";
    display: block;
    text-align: center;
    font-style: italic;
    text-transform: none;
  }
}

.right {
  background: rgba(#ffc,.75);
  min-height: 20em;
  .show-right & { @include opacity(1); }
  @include at-breakpoint($large-columns) { @include opacity(1); }
}

