// --------------------------------------------
// settings

$total-columns : 8;
$column-width : 76px;
$gutter-width : 20px;
$grid-padding : 0;

//$container-style: magic;
//$container-style: static;
$container-width: 768px;

$medium-columns : $total-columns; //768
$large-columns : 12; //1200

// --------------------------------------------
// layout

@include border-box-sizing;

.container {
  @include container;
  overflow: hidden;
}

// --------------------------------------------
// pad

$main : 8;
$side : $medium-columns - $main;

.main {
  @include span-columns($medium-columns);
  margin-right: - 100%;
  .show-right & { margin-left: - space(4); }
  //不隱藏
  //@include span-columns($medium-columns);
}
.index {
  padding: 20px;
}
.right {
  @include span-columns(4 omega);
  margin-right: -100%;
  .show-right & { margin-right: 0; }
  //不隱藏
  //@include span-columns($medium-columns);
}

// --------------------------------------------
// Desktop

$columns: 12;
$column-width: 80px;
$gutter-width : 20px;
// $grid-padding : 10px;
$large-columns : 12; //1200
$container-width: 1200px;
$main : 8;
$side : $large-columns - $main;

@include at-breakpoint($large-columns) {
  
  .container {
    @include container;
    overflow: inherit;
  }
  
  [href="#right"] { visibility: hidden; }

  .main {
    width: columns($main);
    //不隱藏
    //@include span-columns($medium-columns);
    .show-right & { margin-left: 0; }
  }

  .right {
    width: columns($side);
    //不隱藏
    //@include span-columns(4 omega);
    margin-right: 0;
    .show-right & { margin-right: 0; }
  }
  
  .index {
    padding: 0;
  }

}

// --------------------------------------------
// styles (for demo only)

.container {
  //@include susy-grid-background;
  //@include at-breakpoint($medium-columns) { @include susy-grid-background; }
  //@include at-breakpoint($large-columns) { @include susy-grid-background; }
}

header, footer {
  @include clearfix;
  clear: both;
}
footer {
  background: $footer-background-color;
}

.toggle { text-transform: none; }

[href="#right"] { float: right; }

.right, .main {
  @include transition(.3s all ease);
  // height: 20em;
  // padding: 1em;
}
//.right { @include opacity(0); }

.main {
}

.right {
  background: rgba(#ffc,.75);
  min-height: 20em;
  .show-right & { @include opacity(1); }
  @include at-breakpoint($large-columns) { @include opacity(1); }
}

