@import "compass";
@import "compass/reset";
@import "susy";

// --------------------------------------------
// settings

$total-columns : 8;
$column-width : 5em;
$gutter-width : 1em;
$grid-padding : 0;

$container-style: magic;
$container-width: 48em;

$medium-columns : 8; //768
$large-columns : 12; //1200

// --------------------------------------------
// layout

@include border-box-sizing;

.container {
  @include container;
}

// --------------------------------------------
// pad

$main : 8;
$side : $medium-columns - $main;

@include at-breakpoint($medium-columns) {

  .main {
    @include span-columns($medium-columns);
    margin-right: - 100%;
    .show-right & { margin-left: - space(4); }
  }

  .right {
    @include span-columns(4 omega);
    margin-right: -100%;
    .show-right & { margin-right: 0; }
  }
}

// --------------------------------------------
// Desktop

$main : 8;
$side : $large-columns - $main;

@include at-breakpoint($large-columns) {
  
  .container {
    max-width: 1200px;
  }
  [href="#right"] { visibility: hidden; }

  .main {
    width: columns($main);
    .show-right & { margin-left: 0; }
  }

  .right {
    width: columns($side);
    margin-right: 0;
    .show-right & { margin-right: 0; }
  }
}

// --------------------------------------------
// styles (for demo only)

.container {
  //@include susy-grid-background;
  //@include at-breakpoint($medium-columns) { @include susy-grid-background; }
  //@include at-breakpoint($large-columns) { @include susy-grid-background; }
  text-transform: uppercase;
}

header, footer {
  @include clearfix;
  clear: both;
  min-height: 3em;
  padding: 1em;
  background: rgba(#fcf,.75);
  text-align: center;
}

.toggle { text-transform: none; }

[href="#right"] { float: right; }

.right, .main {
  @include transition(.3s all ease);
  height: 20em;
  padding: 1em;
}
.right { @include opacity(0); }

.main {
  background: rgba(#eee,.75);
  &:after {
    @include leader;
    content: " ";
    display: block;
    text-align: center;
    font-style: italic;
    text-transform: none;
  }
}

.right {
  background: rgba(#ffc,.75);
  .show-right & { @include opacity(1); }
  @include at-breakpoint($large-columns) { @include opacity(1); }
}