.titleimage
  background-color: $color01

.titleimage h1
  font-family: Klavika-Light
  font-size: 42px
  padding: 70px 33px 15px
  height: 125px
  color: #fff
  font-weight: 100

.rtitleimage
  +reset-baseline

.maincont
  background-color: #FFF
  display: block
  // padding-top: 30px
  // padding-left: 30px
  // padding-right: 45px
  // padding-bottom: 80px
  padding: 30px 45px 80px 30px
  +pie-clearfix
.slogan
  +pie-clearfix
  p
    margin-bottom: 14px
    +remove-move-to-baseline

.slogan
  &.style01
    padding-top: 20px
    padding-bottom: 33px
    border-bottom: 1px solid #d2d2d2
    margin-bottom: 50px
    p
      font-size: 20px
      line-height: 30px
      color: #666
    p.italic
      font-size: 16px
      line-height: 24px
      font-style: italic

  &.style02
    +padding-leader(.75)
    +padding-trailer(.75)
    border-top: 1px solid $color01
    border-bottom: 1px solid $color01
    p
      fon-size: 24px
      line-height: 32px
      color: $color02

.maincont      
  background-color: #fff
  display: block
  padding-top: 30px

.rcont1
  font-size: 16px
  color: $text-color
  padding: 30px 40px
  padding-right: 10px
  background-color: #CCC
  min-height: 100px
  h6
    font-size: 16px
    line-height: 24px
    margin-bottom: 10px
    font-weight: bold
  p.app
    font-size: 16px
    line-height: 24px
    font-weight: normal
  p
    font-size: 16px
    line-height: 20px
    font-weight: bold
  .link03
    a
      text-decoration: underline
      font-style: italic
  

  //@include leader(1)
  // @include trailer(1)
@import page/index
@import page/product
@import page/innovation
@import page/about
@import page/applications
@import page/contact_us
@import page/library
@import page/our_company