.maincont {
  background-color: #FFF;
  display: block;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 55px;
  @include pie-clearfix;
}
@import "page/index";
@import "page/innovation";
@import "page/about";
@import "page/applications";
@import "page/contact_us";
// @import "page/page-name";
// @import "page/page-name";
// @import "page/page-name";
