.titleimage
  background-color: $color01

.titleimage h1
  font-family: Klavika-Light
  font-size: 42px
  padding: 70px 35px 15px
  height: 125px
  color: #fff
  font-weight: 100

.rtitleimage
  +reset-baseline

.maincont
  background-color: #FFF
  display: block
  padding-top: 30px
  padding-left: 45px
  padding-right: 45px
  +pie-clearfix
.slogan
  +pie-clearfix
.library,.product
  .slogan
    fon-size: 24px
    line-height: 32px
    color: $color02
    border-top: 1px solid $color01
    border-bottom: 1px solid $color01
    +padding-leader(.75)
    +padding-trailer(.75)

@import page/index
@import page/product
@import page/innovation
@import page/about
@import page/applications
@import page/contact_us
@import page/library
@import page/our_company