/*webfont*/
@font-face {
  font-family: "klavika";
  src: url('../font/klavika-webfont.ttf') format('truetype'), url('../font/klavika-webfont.eot') format('embedded-opentype');
}
/*font*/
@font-face {
  font-family: "Klavika-Regular";
  src: url('../font/Klavika-Regular.otf') format('truetype'), url('../font/Klavika-Regular.otf') format('embedded-opentype');
}
@font-face {
  font-family: "Klavika-RegularItalic";
  src: url('../font/Klavika-RegularItalic.otf') format('truetype'), url('../font/Klavika-RegularItalic.otf') format('embedded-opentype');
}
@font-face {
  font-family: "Klavika-Light";
  src: url('../font/Klavika-Light.otf') format('truetype'), url('../font/Klavika-Light.otf') format('embedded-opentype');
}
@font-face {
  font-family: "klavika-Medium";
  src: url('../font/Klavika-Medium.otf') format('truetype'), url('../font/Klavika-Medium.otf') format('embedded-opentype');
}
@font-face {
  font-family: "Klavika-MediumItalic";
  src: url('../font/Klavika-MediumItalic.otf') format('truetype'), url('../font/Klavika-MediumItalic.otf') format('embedded-opentype');
}
@font-face {
  font-family: "Klavika-Bold";
  src: url('../font/Klavika-Bold.otf') format('truetype'), url('../font/Klavika-Bold.otf') format('embedded-opentype');
}

@import "basic/typography"; //import baseline Mixin
body {
  font-family: "klavika",
               AvenirNext-Regular,
               HelveticaNeue-Light, Helvetica, Arial,
               'Heiti TC',
               微軟正黑體, 'Microsoft JhengHei',
               sans-serif;
}

a {
  @include unstyled-link;
  @include link-colors($color02);
}

// 設定 h1 – h6, p 邊界為 0
// #{headings()},
// p {
//   margin: 0;
//   font-weight: normal;
// }

//h1 {
// $font-size: 42px;
// @include baseline-font-size($font-size, 1);
// @include trailer(1, $font-size);
//}

// h2 {
//   $font-size: 20px;
//   @include baseline-font-size($font-size);
// }

// small {
//   display: block;
//   $font-size: 12px;
//   @include baseline-font-size($font-size);
//   @include trailer(1, $font-size);
//   opacity: .5;
// }

// p {
//   $font-size: 14px;
//   @include baseline-font-size($font-size);
//   @include trailer(1, $font-size);
// }

// .header p {
//   margin: 0;
// }

// $i: 0;
// @each $font-size in 11px, 12px, 14px, 16px, 18px, 24px, 28px, 32px {
//   .font-scale-#{$i} {
//     @include adjust-font-size-to($font-size);
//     @include trailer(1, $font-size);
//     @include move-to-baseline($font-size);
//     &:before {
//       content: "#{$font-size} ";
//     }
//   }
//   $i: $i + 1;
// }

@mixin reset-baseline {
  @include adjust-leading-to(.1, if($relative-font-sizing, $base-font-size, $base-font-size));
}