/*font*/
@font-face {
  font-family: "klavika";
  src: url('../font/klavika-webfont.ttf') format('truetype'), url('../font/klavika-webfont.eot') format('embedded-opentype');
}
body {
  font-family: "klavika",
               AvenirNext-Regular,
               HelveticaNeue-Light, Helvetica, Arial,
               'Heiti TC',
               微軟正黑體, 'Microsoft JhengHei',
               sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  color: $text-color;
  background: $body-background-color;
}

#{headings()} {
  @include reset-box-model;
  @include adjust-font-size-to(32px);
}

a {
  @include link-colors($color01);
  @include hover-link;
}

p {
  @include reset-box-model;
  @include adjust-font-size-to(14px);
  @include leader(1);
  @include trailer(1);
}
@mixin reset-baseline {
  @include adjust-leading-to(.1, if($relative-font-sizing, $base-font-size, $base-font-size));
}