// vertical rhythm
$base-font-size: 1em;
$font-size: 1em;
$base-line-height: 1.5em;
//$relative-font-sizing: false;

// compass
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

/*font*/
@import "basic/typography";
@font-face {
  font-family: "klavika";
  src: url('../font/klavika-webfont.ttf') format('truetype'), url('../font/klavika-webfont.eot') format('embedded-opentype');
}
body {
  font-family: "klavika",
               AvenirNext-Regular,
               HelveticaNeue-Light, Helvetica, Arial,
               'Heiti TC',
               微軟正黑體, 'Microsoft JhengHei',
               sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
   //text-rendering: optimizeLegibility;
  font-weight: 400;
  color: #585858;
}

.hide {
  display: none;
}

#{headings()} {
  @include reset-box-model;
  @include adjust-font-size-to(32px);
}

a {
  @include link-colors(blue);
  @include hover-link;
}

p {
  @include reset-box-model;
  @include adjust-font-size-to(14px);
  @include leader(1);
  @include trailer(1);
}
