//erb
/ =content_tag(:div, image_tag("/images/2.1_product_provecta_film_rtitle.jpg"),:class => "rtitleimage" )
/ =content_tag(:div,\
/   content_tag(:p, "What can you do to DingZing technical film?") +\
/   content_tag(:div, link_to("Download the brochure >>","url"), :class => "link03" ),\
/ :class => "rcont1" )

//slim
/ .rightcont
/ .rightcont
/   .rtitleimage
/     img src="/images/2.1_product_provecta_film_rtitle.jpg"
/   .rcont1
/     p What can you do to DingZing technical film?
/     .link03
/       a href="/innovation_playground/" Download the brochure >>