.slogan.style01
  p DingZing DZ Seals, for hydraulic applications, all of which have excellent tensile strength, compression set, oil temperature and pressure resistance. DingZing DZ is known for long lasting lift cycle, suitable for light, medium and heavy duty cylinders.