<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td colspan="2" rowspan="2" class="col_0 txtwhite txt16">Physical Properties / Item</td>
      <td width="13%" class="col_h txt16 H83"><p class="style1">Specific</p>
      <p class="style1">Gravity</p></td>
      <td width="12%" class="col_h txt16"><p class="txtwhite txt16 H83">M.V.T.</p></td>
      <td width="12%" class="col_h txt16"><span class="txtwhite txt16 H83">M.V.T.</span></td>
      <td width="13%" class="col_h txt16"><span class="txtwhite txt16 H83">W.P.R.</span></td>
      <td width="11%" class="col_h txt16"><span class="txtwhite txt16 H83">PE Carrier</span></td>
      <td width="10%" class="col_h txt16"><p class="txtwhite txt16 H83">Melting</p>
      <p class="txtwhite txt16 H83">Point</p></td>
    </tr>
    <tr>
      <td class="bgf H56">D792</td>
      <td class="bgf"><p>ASTM<br />
      E96-93 BW</p></td>
      <td class="bgf">JIS L 1099A1</td>
      <td class="bgf">JIS 1092 B</td>
      <td class="bgf">&nbsp;</td>
      <td class="bgf"> (ºC)</td>
    </tr>
    <tr>
      <td width="16%" align="left" valign="top" bgcolor="#666666" class="txtwhite">High Heat Resistance &amp; Breathability</td>
      <td width="13%" align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="/download/dintex/pdf/fkt1981s-e.pdf" target="_blank">FKT1981S</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9" class="H56">1.42</td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td">&gt;10000</td>
      <td class="td">--</td>
      <td class="td">182</td>
    </tr>

    <tr>
      <td rowspan="6" align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>High</p>
      <p>Breathability</p></td>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1981s-pe-e.pdf" target="_blank">FKT1981S+PE WHITE</a></td>
      <td class="td"><p>1.42</p>
      <p>&nbsp;</p></td>
      <td class="td">20000</td>
      <td class="td">5000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">200</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1981s-pe-e.pdf" target="_blank">FKT1981S+PE 102NATURAL</a></td>
      <td class="td"><p>1.28</p>
      <p>&nbsp;</p></td>
      <td class="td">20000</td>
      <td class="td">5000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">200</td>
    </tr>

    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1880-pe-e.pdf" target="_blank">FT1880-PE</a></td>
      <td class="td"><p>1.23</p>
      <p>&nbsp;</p></td>
      <td class="td">12000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">145</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1880s-pe-e.pdf" target="_blank">FT1880S-PE</a></td>
      <td class="td"><p>1.23</p>
      <p>&nbsp;</p></td>
      <td class="td">12000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">145</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1881-pe-e.pdf" target="_blank">FT1881-PE</a></td>
      <td class="td"><p>1.30</p>
      <p>&nbsp;</p></td>
      <td class="td">12000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">145</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1881s-pe-e.pdf" target="_blank">FT1881S-PE</a></td>
      <td class="td"><p>1.29</p>
      <p>&nbsp;</p></td>
      <td class="td">12000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">145</td>
    </tr>
    <tr>
      <td rowspan="6" align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>Medium</p>
      <p>Breathability</p></td>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1680-pe-e.pdf" target="_blank">FT1680-PE</a></td>
      <td class="td"><p>1.24</p>
      <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">2500</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/fT1680s-pe-e.pdf" target="_blank">FT1680S-PE</a></td>
      <td class="td"><p>1.21</p>
      <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">2500</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1681-pe-e.pdf" target="_blank">FT1681-PE</a></td>
      <td class="td"><p>1.26</p>
      <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">2500</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex/pdf/ft1681s-pe-e.pdf" target="_blank">FT1681S-PE</a></td>
      <td class="td"><p>1.30</p>
      <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">2500</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"> <a href="/download/dintex/pdf/ft1177-pe-e.pdf" target="_blank">FT1177-PE</a></td>
      <td class="td"><p>1.24</p>
      <p>&nbsp;</p></td>
      <td class="td">8000</td>
      <td class="td">2500</td>
      <td class="td">8000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"> <a href="/download/dintex/pdf/ft1177w-pe-e.pdf" target="_blank">FT1177W-PE</a></td>
      <td class="td"><p>1.30</p>
      <p>&nbsp;</p></td>
      <td class="td">8000</td>
      <td class="td">2500</td>
      <td class="td">8000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
    </tr>
    <tr>
      <td rowspan="4" align="left" valign="top" bgcolor="#999999" class="txtwhite"><p>Low</p>
      <p>Breathability</p></td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="/download/dintex/pdf/fs2090-e.pdf" target="_blank">FS2090</a></td>
      <td class="td"><p>1.20</p>
      <p>&nbsp;</p></td>
      <td class="td">200</td>
      <td class="td">700</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#">--</a></td>
      <td class="td">160</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="/download/dintex/pdf/fs2090gw-e.pdf" target="_blank">FS2090GW</a></td>
      <td class="td"><p>1.29</p>
      <p>&nbsp;</p></td>
      <td class="td">200</td>
      <td class="td">700</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#">--</a></td>
      <td class="td">155</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="/download/dintex/pdf/fs2091s-e.pdf" target="_blank">FS2091S</a></td>
      <td class="td"><p>1.15</p>
      <p>&nbsp;</p></td>
      <td class="td">200</td>
      <td class="td">700</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#">--</a></td>
      <td class="td">155</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="/download/dintex/pdf/fs2091sw-e.pdf" target="_blank">FS2091SW</a></td>
      <td class="td"><p>1.27</p>
      <p>&nbsp;</p></td>
      <td class="td">200</td>
      <td class="td">700</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="/product/advanta_film/advanta_breathable.html#">--</a></td>
      <td class="td">155</td>
    </tr>
    <tr>
      <td colspan="8" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="8" align="left" valign="top" bgcolor="#FFFFFF"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>