<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="18%" rowspan="2" class="col_0 txtwhite txt16">物性 / 品名</td>
      <td width="9%" class="col_h txt16 H83"><p>比重</p></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83">透濕度 M.V.T.</p></td>
      <td width="10%" class="col_h txt16"><span class="txtwhite txt16 H83">透濕度 M.V.T.</span></td>
      <td width="10%" class="col_h txt16"><span class="txtwhite txt16 H83">防水度 W.P.R.</span></td>
      <td width="12%" class="col_h txt16"><span class="txtwhite txt16 H83">PE Carrier</span></td>
      <td width="13%" class="col_h txt16"><p class="txtwhite txt16 H83">熔點</p></td>
      <td width="14%" class="col_h txt16">顏色</td>
    </tr>
    <tr>
      <td class="bgf H56">D792</td>
      <td class="bgf"><p>ASTM E96-93 BW</p></td>
      <td class="bgf">JIS L 1099A1</td>
      <td class="bgf">JIS L 1092 B</td>
      <td class="bgf">&nbsp;</td>
      <td class="bgf"> (ºC)</td>
      <td class="bgf">&nbsp;</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_lw-pe-t.pdf" target="_blank">Dintex LW-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
      <td class="td">白色磨砂霧面</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_hc-pe-t.pdf" target="_blank">Dintex HC-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3500</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">140</td>
      <td class="td">灰色霧面</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_hb-pe-t.pdf">Dintex HB-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3500</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">140</td>
      <td class="td">鐵灰色</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_bg-pe-t.pdf">Dintex BG-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
      <td class="td">灰色</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_lb-pe-t.pdf">Dintex LB-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
      <td class="td">黑灰色</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_lg-pe-t.pdf">Dintex LG-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
      <td class="td">淺灰色霧面</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_bl-pe-t.pdf">Dintex BL-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
      <td class="td">天空藍</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_rd-pe-t.pdf">Dintex RD-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">150</td>
      <td class="td">紅色霧面</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_htw-pe-t.pdf">Dintex HTW-PE</a></td>
      <td class="td"><p>1.28</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">170</td>
      <td class="td">白色磨砂霧面</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"> <a href="/download/dintex_color/pdf/dintex_ht-pe-t.pdf" target="_blank">Dintex HT-PE</a></td>
      <td class="td"><p>1.20</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">170</td>
      <td class="td">本色</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/dintex_color/pdf/dintex_16v0-pe-t.pdf" target="_blank">Dintex 16V0-PE</a></td>
      <td class="td"><p>1.20</p>
        <p>&nbsp;</p></td>
      <td class="td">10000</td>
      <td class="td">3000</td>
      <td class="td">&gt; 10000</td>
      <td class="td"><a href="product_doupel_color.html#"><img src="/resources/images/dintex_button.jpg" width="9" height="9" /></a></td>
      <td class="td">145</td>
      <td class="td">白色磨砂霧面</td>
    </tr>
    <tr>
      <td colspan="8" align="left" class="bgf">** 以上數據與資訊僅提供作為參考用途，請勿將其視為唯一保證或依據。</td>
    </tr>
    <tr></tr>
    <tr></tr>
  </table>
</div>