// 1-3
.story_img {
  @include box-sizing(content-box);
  position: relative;
  overflow: hidden;
  div[class^="layer"]{
    position: absolute;
  }
  *{
    @include transition (all 0.5s ease);
  }
  .layer00 {
    z-index: 1;
  }
  .layer01 {
    z-index: 2;
  }
  .layer02 {
    z-index: 3;
  }
  .layer03 {
    z-index: 4;
  }
  .layer04 {
    z-index: 5;
  }
}
#p1-1 {
  .layer00 { left: 118px; top: 86px;}
  .layer01 { left: 135px; top: 99px;}
  .layer02 { left: 135px; top: 0px;}
  .layer03 { left: 135px; top: 63px;}
  .layer04 { left: 118px; top: 35px;}
  &:hover,&.move {
    @include transition (all 0.5s ease);
    .layer00 { left: 0px; top: 62px;}
    .layer01 { left: 71px; top: 91px;}
    .layer03 { left: 71px; top: 54px;}
    .layer04 { left: 0px; top: 11px;}
  }
}
#p1-2 {
  .layer00 { left: 0; top: 0;}
  .layer01 { left: 104px; top: 63px;}
  &:hover,&.move {
    @include transition (all 0.5s ease);
    .layer01 { left: 59px; top: 37px;}
  }
}
#p1-3 {
  .layer00 { left: 40px; top: 0;}
  .layer01 { left: 70px; top: 243px;}
  .layer02 { left: 62px; top: 228px;}
  &:hover,&.move {
    @include transition (all 0.5s ease);
    .layer01 { left: 60px; top: 223px;}
    .layer02 { left: 2px; top: 170px;}
  }
}
#p2-1 {
  .layer00 { left: 60px; top: 34px;}
  .layer01 { left: 70px; top: 26px;}
  .layer02 { left: 77px; top: 38px;}
  .layer03 { left: 59px; top: 38px;}
  &:hover,&.move {
    @include transition (all 0.5s ease);
    .layer00 { left: 120px; top: 34px;}
    .layer01 { left: 104px; top: 23px;}
    .layer02 { left: 80px; top: 28px;}
    .layer03 { left: 19px; top: 38px;}
  }
}