// TAB 選單
.es-carousel-wrapper {
  height: 120px;
  padding: 10px 50px;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
}
.es-carousel {
  overflow: hidden;
  height: 100px;
  ul {
    display: none;
    li {
      float: left;
      display: block;
      width: 276px;
      background-image: url("/images/innovation/divider.png");
      padding: 0 1px;
      a {
        height: 100px;
        display: block;
        background-color: #fff;
        -webkit-touch-callout: none;
        padding: 0 25px;
        overflow: hidden;
        /* option */
        @include transition (all 0.2s ease-in-out);
        span , img {
          margin-top: 10px;
          display: block;
        }
        span {
          font-size: 16px;
          line-height: 18px;
          color: $text-color;
          max-width: 144px;
          letter-spacing: -.01em;
          padding-top: 20px;
          float: left;
        }
        img {
          float: right;
        }
      }

      &.selected a {
        border-top: 4px solid $color01;
        border-color: #fff;
        background-color: $color01;
        display: block;
        span {
          color: #fff;
        }
      }
    }
    li+li {
      margin-left: -1px;
    }
  }
}
.es-nav span {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-position: no-repeat;
  text-indent: -9999px;
  &.es-nav-prev {
    left: 0;
    right: auto;
    background-image: url(../images/innovation/img_inno_arrow_left.png);
  }
  &.es-nav-next {
    right: 0;
    left: auto;
    background-image: url(../images/innovation/img_inno_arrow_right.png);

  }
  &:hover {
    opacity: 1.0;
  }
}