// TAB 內容
.tab_content {
  background-color: #fff;
  @include pie-clearfix;
}
.story_text , .story_img {
  width: 600px;
  margin: 0 auto;
  @include pie-clearfix;
}
.story_text {
  padding: 60px;
  background-color: #fff;
  position: relative;
  h4 {
    color: $color02;
    font-size: 36px;
    line-height: 36px;
    font-family: Klavika;
    width: 480px;
  }
  >h4+p.second {
    @include adjust-font-size-to(16px);
    margin-bottom: 55px;
    margin-top: 25px;
  }
  .product {
    h5.logo {
      @include remove-text;
      margin: 0;
      margin-bottom: 5px;
      height: 26px;
    }
    .orkesta {
      //background-image: url("../images/logo_orkesta.png");
      @include at2x('../images/logo_orkesta',png,91px,26px);
      width: 91px;
    }
    .provecta {
      //background-image: url("../images/logo_provecta.png");
      @include at2x('../images/logo_provecta',png,97px,26px);
      width: 97px;
    }
    .provecta_orkesta {
      //background-image: url("../images/logo_provecta_orkesta.png");
      @include at2x('../images/logo_provecta_orkesta',png,210px,26px);
      width: 210px;
    }
    .product_info {
      clear: both;
      font-size: 13px;
      line-height: 20px;
      @include leader(1);
      @include trailer(1);
    }
  }
  .download {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 30px 60px;
    width: 100%;
    @include adjust-font-size-to(14px);
    background-color: $color01;
    h6 {
      float: left;
      @include remove-text;
      //background-image: url("../images/icon_dl_blue.jpg");
      @include at2x('../images/icon_dl_blue',png,38px,38px);
      background-repeat: no-repeat;
      width: 38px;
      height: 38px;
      margin-right: 10px;
    }
    span {
      display: block;
      color: #fff;
      margin-top: -4px;
    }
    a {
      @include linkbiu;
      display: block;
      color: #fff;
      margin-top: -4px;
      // text-decoration: underline;
      // font-style: italic;
    }
  }
  
}
.story_img {
  text-align: center;
  height: 550px;
  display: block;
  background-image: url(../images/innovation/story_img.png);
}
.col {
  @include pie-clearfix;
}
.col + .col {
  // border-top: 1px solid #d2d2d2;
}
@include at-breakpoint($large-columns) {

  .col {
    // &:nth-child(odd) {
    //   .story_text {float: left;}
    //   .story_img {float: right;margin-right: 0;}
    // }
    // &:nth-child(even) {
    //   .story_text {float: right;}
    //   .story_img {float: left;margin-left: 0;}
    // }
  }
  .story_text {
    float: right;
  }
  .story_img {
    float: left;
  }
  .story_text , .story_img {
    height: 550px; 
  }
  .smartposition #tabMenu {
    width: 1200px;
    background-color: $body-background-color;
  }
}
