<div class="tablelist">
  <div class="dz">
    <div class="r17">
      <table width="335" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td width="20%" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Items  </td>
          <td width="20%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Ø d </span></td>
          <td width="20%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Ø D   </span></td>
          <td width="20%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">h  </span></td>
          <td width="20%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">HA</span></td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">22</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">32.7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">28</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">38.7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">40</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">55.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">45</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">60.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">50</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">65.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">55</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">70.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">56</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">71.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">60</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">75.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">63</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">78.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">65</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">80.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">70</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">85.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">75</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">90.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">80</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">95.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">85</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">100.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">90</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">105.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">95</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">110.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">115.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">105</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">120.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">110</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">125.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">115</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">130.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">120</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">135.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
      </table>
    </div>
    <div class="l18">
      <table width="335" border="0" cellpadding="0" cellspacing="0"  >
        <tr>
          <td width="20%" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Items </td>
          <td width="20%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Ø d </span></td>
          <td width="20%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Ø D </span></td>
          <td width="20%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">h </span></td>
          <td width="20%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">HA</span></td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">124</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">139.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">125</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">140.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">145.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">135</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">150.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">140</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">155.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">165.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">155</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">170.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">160</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">175.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">170</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">185.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">180</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">195.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.3</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">1 1/2</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2 1/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">1/8</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.14</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">1 1/4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">1 13/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">1/8</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.14</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">1 3/4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2 5/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">1/8</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.14</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2 9/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">1/8</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.14</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2 1/2</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3 3/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.234</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2 1/4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2 15/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.234</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2 3/4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3 3/8</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.234</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3 5/8</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.234</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3 1/2</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4 3/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.234</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>D-10"</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4 5/8</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3/16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">0.234</td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>&nbsp;</p>
          <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
        </tr>
      </table>
    </div>
  </div>
</div>