$text-color: #292929;
$hot-color: #01a5ca;
$width:940px;

@mixin reset-list {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
@mixin trailer20 {
  margin-bottom: 20px;
}
 
@mixin remove-text {
  text-indent: -9999px;
  display:block;
}