<div class="tablelist">
  <div class="dz"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
      <tr>
        <td width="353" valign="top"><strong>Mechanical Properties</strong>
          <ul>
            <li>• Material: 8L95J </li>
            <li>• Specific Gravity (ASTM D792): 1.20 </li>
            <li>• Hardness (ASTM D2240): 95 </li>
            <li>• Tensile Strength (ASTM D412): 317 </li>
            <li>• 100% Modulus (ASTM D412): 110 </li>
            <li>• 300% Modulus (ASTM D412): 170 </li>
            <li>• Compression Set 70h/70ºC (ASTM D395B): 34 </li>
            <li>• Compression Set 70h/100ºC (ASTM D395B): 56</li>
            <li></li>
          </ul>        </td>
          <td width="353" valign="top"><strong>Oil Resistance</strong>
            <ul><li>• Testing Oil: Hydraulic Oil 46# </li>
            <li>• Testing Temperature (ºC): 100 </li>
            <li>• Testing Time (Hour): 100 </li>
            <li>• Hardness Variation (Shore A): -1 </li>
            <li>• Tensile Strength Variation (%): -4 </li>
            <li>• Volume Variation (%): +0.08</li>
            <li></li>
          </ul>        </td>
        </tr>
        <tr>
          <td valign="top"><strong>Working Conditions</strong>
            <ul>
              <li>• Max. Working Pressure: 40 Mpa </li>
              <li>• Working Speed: 0.03 ~ 0.5 m/sec </li>
              <li>• Working Temperature: -20ºC ~ 100ºC</li>
              <li></li>
            </ul></td>
            <td valign="top">&nbsp;</td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="20%" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Type </td>
            <td width="30%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Section </span></td>
            <td width="16%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Material  </span></td>
            <td width="16%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Hardness </p>
            <p class="txtwhite txt16 H83">(Shore A) </p></td>
            <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Adaptable </p>
            <p class="txtwhite txt16 H83">Temp ºC</p></td>
          </tr>
          <tr>
            <td align="left" valign="top" bgcolor="#666666" class="txtwhite">D-2</td>
            <td align="center" valign="middle" bgcolor="#E7E8E9"><img src="resources/images/d2s.jpg" width="150" height="70" /></td>
            <td align="left" valign="top" bgcolor="#E7E8E9">8L95J  </td>
            <td align="left" valign="top" bgcolor="#E7E8E9">95  </td>
            <td align="left" valign="top" bgcolor="#E7E8E9">-20ºC ~ 100ºC</td>
          </tr>
          <tr>
            <td align="left" valign="top" bgcolor="#666666" class="txtwhite"> D-3</td>
            <td align="center" valign="middle" bgcolor="#E7E8E9"><img src="resources/images/d3s.jpg" width="150" height="70" /></td>
            <td align="left" valign="top" bgcolor="#E7E8E9">8L95J </td>
            <td align="left" valign="top" bgcolor="#E7E8E9">95  </td>
            <td align="left" valign="top" bgcolor="#E7E8E9">-20ºC ~ 100ºC</td>
          </tr>
        </table>
      </div>
    </div>