<div class="tablelist">
<div class="dz">
  <table width="95%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="15%" rowspan="2" class="col_0 txtwhite txt16">Physical Properties / Item </td>
      <td width="9%" class="col_h txt16 H83"><p>Specific </p>
        <p>Gravity </p></td>
      <td width="9%" class="col_h txt16"><p class="txtwhite txt16 H83">M.V.T.</p>        </td>
      <td width="9%" class="col_h txt16"><span class="txtwhite txt16 H83">M.V.T. </span></td>
      <td width="10%" class="col_h txt16">M.V.T.</td>
      <td width="10%" class="col_h txt16">RET</td>
      <td width="10%" class="col_h txt16"><span class="txtwhite txt16 H83">W.P.R.</span></td>
      <td width="11%" class="col_h txt16"><p class="txtwhite txt16 H83">Melting </p>
        <p class="txtwhite txt16 H83">Point</p></td>
      <td width="17%" class="col_h txt16">Pattern</td>
    </tr>
    <tr>
      <td class="bgf H56">D792</td>
      <td class="bgf"><p>ASTM E96-93 BW </p>        </td>
      <td class="bgf">JIS L 1099A1 </td>
      <td class="bgf">JIS L 1099B1 </td>
      <td class="bgf">ISO 11092 </td>
      <td class="bgf">JIS L 1092 B </td>
      <td class="bgf"> (ºC)</td>
      <td class="bgf">&nbsp;</td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-1-e.pdf" target="_blank">Dintex LW P-1</a></td>
      <td class="td"><p>1.42 </p>
        <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182 </td>
      <td align="left" valign="middle" bgcolor="#E7E8E9"><img href="/download/dintex_print/dintex_print/dintex-lw5-1.jpg" width="94" height="94" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-2-e.pdf" target="_blank">Dintex LW P-2</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182</td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-2.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-3-e.pdf" target="_blank">Dintex LW P-3</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td">&gt;5,000<span class="style3">≈</span></td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182 </td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-3.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-6-e.pdf" target="_blank">Dintex LW P-6</a></td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182 </td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-6.jpg" width="94" height="94" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"> <a href="/download/dintex_print/pdf/dintex_lw_p-7-e.pdf" target="_blank">Dintex LW P-7</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182 </td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-7.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-8-e.pdf" target="_blank">Dintex LW P-8</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182 </td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-8.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-9-e.pdf" target="_blank">Dintex LW P-9</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182 </td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-9.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-10-e.pdf" target="_blank">Dintex LW P-10</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182 </td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-10.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-11-e.pdf" target="_blank">Dintex LW P-11</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182</td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-11.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-12-e.pdf" target="_blank">Dintex LW P-12</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182</td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-12.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-13-e.pdf" target="_blank">Dintex LW P-13</a> </td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182</td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-13.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td height="84" align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-15-e.pdf" target="_blank">Dintex LW P-15</a></td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182</td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-15.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td class="col_v txtwhite"><a href="/download/dintex_print/pdf/dintex_lw_p-16-e.pdf" target="_blank">Dintex LW P-16</a></td>
      <td class="td"><p>1.42 </p>
          <p>&nbsp;</p></td>
      <td class="td"><span class="style3">≈</span>20,000</td>
      <td class="td"><span class="style3">≈</span>5,000</td>
      <td class="td"><span class="style3">≈</span>100,000</td>
      <td class="td"><span class="style3">≈</span>5</td>
      <td class="td">&gt; 10,000</td>
      <td class="td">182</td>
      <td class="td"><img href="/download/dintex_print/dintex_print/dintex-lw5-16.jpg" width="94" height="94" border="1" class="tableimg" /></td>
    </tr>
    <tr>
      <td colspan="9" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr></tr>
    <tr></tr>
</table>
</div>