//banner

.banner {
  position: relative;
  .swipe {
    margin-bottom: -7px;
  }
  .position-nav {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}
.banner_footer {
  background-color: $color01;
  color: #fff;
  text-align: center;
  padding: 20px 15% 15px;
  @include trailer20;
}
.newsbanner {
  @include trailer20;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  .swipe-wrap {
    overflow: hidden;
    position: relative;
    > div {
      float:left;
      width:100%;
      position: relative;
    }
  }
}

.position-nav {
  li {
    @include border-radius (100%);
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: rgba(255, 255, 255, .2);
    //cursor: pointer;
    &.on {
      background-color: #fff;
    }
  }
  li+li {
    margin-left: 5px;
  }
}

nav.slider-pagination {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.prev, .next {
  color: rgba(255, 255, 255, .5);
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
  margin: -26px 0 0;
}
.prev {
  right: 100%;
  margin-right: -52px;
}
.next {
  left: 100%;
  margin-left: -52px;
}
.swipe {
  width: 768px;
  height: 256px;
}
@include at-breakpoint($large-columns) {
  .swipe {
    width: 1200px;
    height: 400px;
  }
  .banner_footer {
    font-size: 1.5em;
    line-height: 1.333;
    padding: 23px 20%;
    height: 100px;
  }
}

.product {
  //@include trailer;
  @extend %clearfix;
  section {
    background: #fff;
    @include trailer20;
    h3 {
      color: $color01;
      font-size: 1.25em;
    }
    p {
      line-height: 1.5;
      margin-top: .5em;
      margin-bottom: .5em;
      letter-spacing: -.05em;
    }
    p+p {
      a {
        color: $color01;
        text-decoration: underline;
        font-weight: 600;
        font-style: italic;
      } 
      height: auto;
      margin: 0;
    }
  }
  section {
     
    padding: 1em 7em .75em 2em;
  }
  @include at-breakpoint($large-columns,12) {
    section {
      @include isolate-grid(3);
    }
  }
}

@include at-breakpoint($large-columns) {
  .product section {
    padding-right: 4em;
    padding-left: 1em;
  }
}
.product {
  h3 {
    height: 16px;
    @include remove-text;
    width: 100px;
    height: 20px;
  }
  @import "sprite/logo/*.png";
  @include all-logo-sprites;
  //.logo-sprite
  //.logo-provecta
  //.logo-orkesta
  //.logo-adventa
  //.logo-duopel
  section p {
    line-height: 1.286;
  }  
}