.r1,.r2,.r3,.r4
  background-repeat: no-repeat
  padding-top: 108px
  padding-bottom: 80px
  //+trailer(2)
  strong
    //font-weight: bold
    font-weight: bold
    +adjust-font-size-to(14px)
    +trailer(1)
  p
    +adjust-font-size-to(14px)
    +trailer(1)
.r1,.r3
  padding-left: 521px
  min-height: 380px
.r2,.r4
  padding-left: 17px
  padding-right: 505px
  min-height: 430px
.r1
  background-image: url(../images/library/library_1.jpg)
  
.r2
  background-image: url(../images/library/library_2.jpg)

.r3
  background-image: url(../images/library/library_3.jpg)

.r4
  background-image: url(../images/library/library_4.jpg)
