// .r0,.r1,.r2,.r3,.r4
  
.library
  div[class^="r"]
    background-repeat: no-repeat
    padding-top: 100px
    font-size: 14px
    background-position: center bottom
    min-height: 400px
    a
      +linkbiu
    strong
      font-weight: bold
      display: block
      +trailer(1)
    p
      +trailer(1)

    &:nth-child(even)
      padding-left: 20px
.r0 , .r2
  padding-right: 500px
.r1
  padding-left: 520px
.r3
  padding-left: 450px
.r4
  padding-right: 450px


.r0
  background-image: url(../images/library/library_0.jpg)
.r1
  background-image: url(../images/library/library_1.jpg)
.r2
  background-image: url(../images/library/library_2.jpg)
.r3
  background-image: url(../images/library/library_3.jpg)
.r4
  background-image: url(../images/library/library_4.jpg)
