.socialresponsibility
  .slogan
    p
      +at-breakpoint($large-columns)
        width: 67%
  h4
    color: #333
    font-weight: bold
  h4,p
    +trailer(1)
    +at-breakpoint($large-columns)
      float: none
.green-section
  width: 100%
  font-size: 16px
  +pie-clearfix
  span
    font-size: 14px
    line-height: 1.2em
    width: 80px
    float: left
    +trailer(1)
    margin-right: 5%
  +at-breakpoint($large-columns)
    width: 30%
    margin-right: 5%
    float: left
    &:last-child
      margin-right: 0
      float: right
