.maincont
  font-size: 16pt
  line-height: 1.5

.contlist
  padding-top: 35px
  padding-bottom: 84px
  li
    margin-bottom: 6px
    //width: 45%
    //margin-right: 50%
    // &:nth-child(n+5)
    //   float: right
    //   margin-right: 0
    //   clear: left

    /* style */
  a
    color: $color02
    font-size: 20px
    line-height: 30px
    +linkbiu

.tablelist
  font-size: 13px
  color: #333
  +trailer(2)
  table
    // margin-bottom: 36px
    // margin-top: -6px
    margin-bottom: 30px
    margin-top: 0
  td
    height: 25px
    border: 1px solid #B0B2B2
    padding-top: 6px
    padding-left: 6px
    padding-bottom: 6px
    vertical-align: top
    &.col_0
      background-color: #333
      color: #fff
    &.col_v
      background-color: #58595b
      color: #fff
    &.col_h
      background-color: $color02
      color: #fff
    &.bgf
      background-color: #fff

    &.bgg
      background-color: $tabletdcolor00
    &.bdf
      border-corlor: #fff
    &.bdg
      border-corlor: #ebebeb
    &.txtwhite
      color: #fff
      a
        color: #fff
        text-decoration: underline
    &.H83
      height: 83px
    &.txt16
      font-size: 16px
    &.td
      background-color: $tabletdcolor00
.style2
  font-size: 25px
  color: $color02
.style1
  color: #fff
.undertable1
  color: #58595b
  margin-right: 5px
.undertable2
  color: #999
  margin-right: 5px
  margin-left: 20px
.tableimg
  margin-top: 20px
.dz
  img
    margin-bottom: 30px
  td
    &.td
      background-color: $tabletdcolor00
  .noline, .noline
    td
      border-top-style: none
      border-right-style: none
      border-bottom-style: none
      border-left-style: none
  .r17
    margin-right: 17px
    float: left
    width: 335px
  .l18
    display: block
    float: left
    margin-left: 18px
  .script
    font-size: 14px
    color: #7f97ca
    margin-bottom: 25px
  strong
    font-size: 14px
    font-weight: bold
    display: block
    margin-bottom: 5px

// sidebar menu
.rcontact

@import "product/dz_belts"
@import "product/dz_seals"