<div class="tablelist">
  <p class="style2">Closed-Cell Foam  </p>
  <p class="style2">&nbsp;</p>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" class="col_0 txtwhite txt16">Physical<br />
        Properties / Item </td>
      <td class="col_h txt16 H83">Hardness </td>
      <td class="col_h txt16">Speciﬁc<br />
        Gravity</td>
      <td class="col_h txt16">Tensile<br />
        Strength</td>
      <td class="col_h txt16">Tear<br />
        Strength</td>
      <td class="col_h txt16">300%<br />
        Modulus</td>
      <td class="col_h txt16">Elongation</td>
      </tr>
    <tr>
      <td class="bgf H56"><p>(ASKER C)<br /> 
        JIS6050<br />
      SRIS 0101</p></td>
      <td class="bgf">D792</td>
      <td class="bgf">(kg/cm²)<br />
        D412</td>
      <td class="bgf">(kg/cm)<br />
        D624 (Die C)</td>
      <td class="bgf">(kg/cm²)<br />
        D412</td>
      <td class="bgf">(%)<br />
        D412</td>
      </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/foam/pdf/ftf1085-e.pdf" target="_blank">FTF1085</a> </td>
      <td class="td">50C </td>
      <td class="td">0.4 </td>
      <td class="td"><p>warp: 26 </p>
        <p>weft: 24 </p></td>
      <td class="td"><p>warp: 19 </p>
        <p>weft: 20 </p></td>
      <td class="td"><p>warp: 16 </p>
        <p>weft: 15 </p></td>
      <td class="td"><p>warp: 489 </p>
        <p>weft: 483 </p></td>
      </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/foam/pdf/ff1t85e-e.pdf" target="_blank">FF1T85E</a> </td>
      <td class="td">35C </td>
      <td class="td">0.35 </td>
      <td class="td"><p>warp: 44 </p>
        <p>weft: 23 </p></td>
      <td class="td"><p>warp: 14 </p>
        <p>weft: 16 </p></td>
      <td class="td"><p>warp: -- </p>
        <p>weft: 17 </p></td>
      <td class="td"><p>warp: 220 </p>
        <p>weft: 400 </p></td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/foam/pdf/fsf1088-e.pdf" target="_blank">FSF1088</a> </td>
      <td class="td">50C </td>
      <td class="td">0.4 </td>
      <td class="td"><p>warp: 20 </p>
        <p>weft: 22 </p></td>
      <td class="td"><p>warp: 19 </p>
        <p>weft: 20 </p></td>
      <td class="td"><p>warp: 17 </p>
        <p>weft: 17 </p></td>
      <td class="td"><p>warp: 426 </p>
        <p>weft: 442 </p></td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/foam/pdf/ff9s88e-e.pdf" target="_blank">FF9S88E</a> </td>
      <td class="td">32C </td>
      <td class="td">0.36 </td>
      <td class="td"><p>warp: 32 </p>
        <p>weft: 20 </p></td>
      <td class="td"><p>warp: 12 </p>
        <p>weft: 13 </p></td>
      <td class="td"><p>warp: -- </p>
        <p>weft: 13 </p></td>
      <td class="td"><p>warp: 252 </p>
        <p>weft: 435 </p></td>
      </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/foam/pdf/ff9s89e-e.pdf" target="_blank">FF9S89E</a></td>
      <td class="td">22C</td>
      <td class="td">0.35</td>
      <td class="td"><p>warp: 21 </p>
        <p>weft: 13</p></td>
      <td class="td"><p>warp: 8 </p>
        <p>weft: 8</p></td>
      <td class="td"><p>warp: -- </p>
        <p>weft: 11</p></td>
      <td class="td"><p>warp: 199 </p>
        <p>weft: 349</p></td>
      </tr>
    <tr>
      <td colspan="7" align="left" class="bgf">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="7" align="left" class="bgf"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <span class="style2">Open Cell Foam</span>
  <p>&nbsp;</p>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" class="col_0 txtwhite txt16">Physical<br />
        Properties / Item </td>
      <td class="col_h txt16 H83">Hardness </td>
      <td class="col_h txt16">Speciﬁc<br />
        Gravity</td>
      <td class="col_h txt16">Tensile<br />
        Strength</td>
      <td class="col_h txt16">Tear<br />
        Strength</td>
      <td class="col_h txt16">300%<br />
        Modulus</td>
      <td class="col_h txt16">Elongation</td>
    </tr>
    <tr>
      <td class="bgf H56"><p>(ASKER F)<br />
        JIS6050<br />
        SRIS 0101</p></td>
      <td class="bgf">D792</td>
      <td class="bgf">(kg/cm²)<br />
        D412</td>
      <td class="bgf">(kg/cm)<br />
        D624 (Die C)</td>
      <td class="bgf">(kg/cm²)<br />
        D412</td>
      <td class="bgf">(%)<br />
        D412</td>
    </tr>

    <tr>
      <td class="col_et txtwhite"><a href="/download/foam/pdf/af2d40-e.pdf" target="_blank">AF2D40</a> </td>
      <td class="td">92F </td>
      <td class="td">0.4 </td>
      <td class="td"><p>warp: 26 </p>
          <p>weft: 28 </p></td>
      <td class="td"><p>warp: 10 </p>
          <p>weft: 8.8 </p></td>
      <td class="td"><p>warp: 21 </p>
          <p>weft: 25 </p></td>
      <td class="td"><p>warp: 331 </p>
          <p>weft: 313 </p></td>
    </tr>

    <tr>
      <td colspan="7" align="left" class="bgf">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="7" align="left" class="bgf"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
  <p>&nbsp; </p>
</div>
