<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" class="col_0 txtwhite txt16">物性 / 品名 </td>
      <td class="col_h txt16 H83">硬度 </td>
      <td class="col_h txt16">比重</td>
      <td class="col_h txt16">抗張強度</td>
      <td class="col_h txt16">撕裂強度</td>
      <td class="col_h txt16">300%模數</td>
      <td class="col_h txt16">伸長率</td>
      <td class="col_h txt16">熔點</td>
    </tr>
    <tr>
      <td class="bgf H56">(Shore A/D)<br />
        D2240</td>
      <td class="bgf">D792</td>
      <td class="bgf">(kg/cm²)<br />
        D412</td>
      <td class="bgf">(kg/cm)<br />
        D624 (Die C)</td>
      <td class="bgf">(kg/cm²)<br />
        D412</td>
      <td class="bgf">(%)<br />
        D412</td>
      <td class="bgf">(ºC)</td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/bio/pdf/fs6170__1__dz03p-t.pdf" target="_blank">FS6170X1+DZ03P</a></td>
      <td class="td">77A </td>
      <td class="td">1.22 </td>
      <td class="td"><p>warp: 309</p>
          <p>weft: 324</p></td>
      <td class="td"><p>warp: 40</p>
          <p>weft: 40</p></td>
      <td class="td"><p>warp: 54</p>
          <p>weft: 53</p></td>
      <td class="td"><p>warp: 687</p>
          <p>weft: 700</p></td>
      <td class="td">116</td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/bio/pdf/fs6185-t.pdf" target="_blank">FS6185</a></td>
      <td class="td">85A	</td>
      <td class="td">1.22	</td>
      <td class="td"><p>warp: 410</p>
        <p>weft: 394</p></td>
      <td class="td"><p>warp: 83</p>
        <p>weft: 80</p></td>
      <td class="td"><p>warp: 125</p>
        <p>weft: 112</p></td>
      <td class="td"><p>warp: 596</p>
        <p>weft: 623</p></td>
      <td class="td">165</td>
    </tr>
    <tr>
      <td colspan="8" align="left" class="bgf">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="8" align="left" class="bgf"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>