<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" class="col_0 txtwhite txt16">Physical<br />
      Properties / Item </td>
      <td class="col_h txt16 H83">Hardness </td>
      <td width="102" class="col_h txt16">Speciﬁc<br />
      Gravity</td>
      <td width="78" class="col_h txt16">Tensile<br />
      Strength</td>
      <td width="75" class="col_h txt16">Tear<br />
      Strength</td>
      <td width="73" class="col_h txt16">300%<br />
      Modulus</td>
      <td width="74" class="col_h txt16">Elongation</td>
      <td width="75" class="col_h txt16">Melting<br />
      Point</td>
    </tr>
    <tr>
      <td class="bgf H56">(Shore A/D)<br />
      D2240</td>
      <td class="bgf">D792</td>
      <td class="bgf">(kg/cm²)<br />
      D412</td>
      <td class="bgf">(kg/cm)<br />
      D624 (Die C)</td>
      <td class="bgf">(kg/cm²)<br />
      D412</td>
      <td class="bgf">(%)<br />
      D412</td>
      <td class="bgf">(ºC)</td>
    </tr>
    <tr>
      <td colspan="8" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td height="39" colspan="8" align="left" valign="top" bgcolor="#FFFFFF"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>