<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" class="col_0 txtwhite txt16">Physical<br />
      Properties / Item </td>
      <td class="col_h txt16 H83">Hardness </td>
      <td width="102" class="col_h txt16">Speciﬁc<br />
      Gravity</td>
      <td width="78" class="col_h txt16">Tensile<br />
      Strength</td>
      <td width="75" class="col_h txt16">Tear<br />
      Strength</td>
      <td width="73" class="col_h txt16">300%<br />
      Modulus</td>
      <td width="74" class="col_h txt16">Elongation</td>
      <td width="75" class="col_h txt16">Melting<br />
      Point</td>
    </tr>
    <tr>
      <td class="bgf H56">(Shore A/D)<br />
      D2240</td>
      <td class="bgf">D792</td>
      <td class="bgf">(kg/cm²)<br />
      D412</td>
      <td class="bgf">(kg/cm)<br />
      D624 (Die C)</td>
      <td class="bgf">(kg/cm²)<br />
      D412</td>
      <td class="bgf">(%)<br />
      D412</td>
      <td class="bgf">(ºC)</td>
    </tr>
    <tr>

      <td class="col_et txtwhite"><a href="/download/tape/pdf/dindex_091x3.3-e.pdf" target="_blank">DINDEX 091X3.3</a></td>
      <td class="td">77</td>
      <td class="td">1.13 </td>
      <td class="td"><p>warp: 335</p>
      <p>weft: 324</p></td>
      <td class="td"><p>warp: 64</p>
      <p>weft: 67</p></td>
      <td class="td"><p>warp: 77</p>
      <p>weft: 66</p></td>
      <td class="td"><p>warp: 677</p>
      <p>weft: 764</p></td>
      <td class="td">135 </td>
    </tr>
    
    <tr>
      <td class="col_et txtwhite"><a href="/download/tape/pdf/dindex_091x3.3-e.pdf" target="_blank">FTSK38+DZ80</a></td>
      <td class="td">70</td>
      <td class="td">1.07</td>
      <td class="td"><p>warp: 200</p>
      <p>weft: 224</p></td>
      <td class="td"><p>warp: 77</p>
      <p>weft: 69</p></td>
      <td class="td"><p>warp: 67</p>
      <p>weft: 47</p></td>
      <td class="td"><p>warp: 542</p>
      <p>weft: 655</p></td>
      <td class="td">140</td>
    </tr>

    <tr>
      <td class="col_et txtwhite"><a href="/download/tape/pdf/dindex_091x3.3-e.pdf" target="_blank">FTSK67+0
6</a></td>
      <td class="td">87</td>
      <td class="td">1.21</td>
      <td class="td"><p>warp: 260</p>
      <p>weft: 261</p></td>
      <td class="td"><p>warp: 45</p>
      <p>weft: 41</p></td>
      <td class="td"><p>warp: 126</p>
      <p>weft: 116</p></td>
      <td class="td"><p>warp: 426</p>
      <p>weft: 451</p></td>
      <td class="td">148</td>
    </tr>

    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/tape/pdf/dindex_078x3.3-e.pdf" target="_blank">DINDEX 078X3.3 </a></td>
      <td class="td">78</td>
      <td class="td">1.19 </td>
      <td class="td"><p>8000</p></td>
      <td class="td">430 psi</td>
      <td class="td">1500</td>
      <td class="td">8000</td>
      <td class="td">n/a</td>
    </tr>

    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/tape/pdf/dindex_078x3.3-e.pdf" target="_blank">FSSK07+06</a></td>
      <td class="td">88</td>
      <td class="td">1.21</td>
      <td class="td"><p>warp: 421</p>
      <p>weft: 470</p></td>
      <td class="td"><p>warp: 73</p>
        <P>weft: 86</P></td>
      <td class="td"><p>warp: 160</p>
        <P>weft: 132</P></td>
      <td class="td"><p>warp: 538</p>
        <P>weft: 624</P></td>
      <td class="td">162</td>
    </tr>
    <tr>
      <td colspan="8" align="left" class="col_h txtwhite"><div align="center">For DINDEX 091 x 3.3 and DINDEX 078 x 3.3</div></td>
    </tr>
    <tr>
      <td height="301" class="col_0 bdf style5"><div align="center" class="style5 style3">
        <div align="left" class="style1">
          <p>Thickness
          (mm)<br />
         </p>
          <p>&nbsp;</p>
        </div>
      </div></td>
      <td colspan="3" class="col_0 bdf style5"><div align="left" class="style1">
        <p>Width (mm)<br />
       </p>
        <p>&nbsp;</p>
      </div></td>
      <td colspan="4" class="col_0 bdf style5"><div align="left" class="style1">
        <p>Packing
        (Meter/Kg)</p>
        <p>&nbsp;</p>
      </div></td>
      <!--
      <td colspan="5" rowspan="17" align="left" bgcolor="#1D1D1D"><div align="center"><img src="/download/tape/elastic-tape-e.jpg" width="350" height="272" vspace="130" /></div></td>
    -->
    </tr>
    <tr>
      <td width="128" rowspan="7" align="left" class="bdf bgg style5">
        <div align="center" class="style5">
          <div align="left">0.12</div>
        </div>
    </td>
      <td colspan="3" class="bdg bgg style5"><div align="left">3</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">2400</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">4</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">1800</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">5</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">1500</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">6</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">1200</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">8</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">900</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">10</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">750</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">12</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">600</div></td>
    </tr>
    <tr>
      <td width="128" rowspan="2" align="left" class="bdf bgg style5"><div align="center" class="style5">
        <div align="left">0.22</div>
      </div></td>
      <td colspan="3" class="bdg bgg style5"><div align="left">10</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">420</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">12</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">350</div></td>
    </tr>
    <tr>
      <td width="128" rowspan="7" align="left" class="bdf bgg style5"><div align="center" class="style5">
        <div align="left">0.3</div>
      </div></td>
      <td colspan="3" class="bdg bgg style5"><div align="left">3</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">960</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">4</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">720</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">5</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">600</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">6</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">480</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">8</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">360</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">10</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">300</div></td>
    </tr>
    <tr>
      <td colspan="3" class="bdg bgg style5"><div align="left">12</div></td>
      <td colspan="4" class="bdg bgg style5"><div align="left">240</div></td>
    </tr>
    <tr>
      <td colspan="8" align="left" class="bgf">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="8" align="left" class="bgf"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>
