<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Physical<br />
      Properties / Item </td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83">Hardness </td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Speciﬁc<br />
      Gravity</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tensile<br />
      Strength</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tear<br />
      Strength</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">300%<br />
      Modulus</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Elongation</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Melting<br />
      Point</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">UV<br />
      Discoloration</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF" class="H56">(Shore A/D)<br />
      D2240</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">D792</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
      D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm)<br />
      D624 (Die C)</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
      D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(%)<br />
      D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(ºC)</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">G154</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p><a href="/download/aliphatic/pdf/fta3270x39_pex39-e.pdf" target="_blank">FTA3270X39+PEX39</a></p>
      <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">78A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.07</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 345 </p>
      <p>weft: 354 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 48 </p>
      <p>weft: 50 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 82 </p>
      <p>weft: 79 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 514 </p>
      <p>weft: 537 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">--</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="/download/aliphatic/pdf/fta3290_5.5-e.pdf" target="_blank">FTA3290+5.5</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">92A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.09   </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 681 </p>
      <p>weft: 610 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 77 </p>
      <p>weft: 68 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 419 </p>
      <p>weft: 415 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 370 </p>
      <p>weft: 351 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">92   </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="/download/aliphatic/pdf/fta3296_5.5-e.pdf" target="_blank">FTA3296+5.5</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">55D  </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.08</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 616 </p>
      <p>weft: 605</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 87 </p>
      <p>weft: 87 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 432 </p>
      <p>weft: 415 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 374 </p>
      <p>weft: 355 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">104</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="/download/aliphatic/pdf/fsa3295_30-e.pdf" target="_blank">FSA3295+30</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">48D</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.12</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 670 </p>
      <p>weft: 636</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 112 </p>
      <p>weft: 109</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 418 </p>
      <p>weft: 420</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 393 </p>
      <p>weft: 387</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">107</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="/download/aliphatic/pdf/fsa3h95_5.5-e.pdf" target="_blank">FSA3H95+5.5</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>95A</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.16</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 580 </p>
      <p>weft: 534</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 103 </p>
      <p>weft: 102</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 164 </p>
      <p>weft: 158</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 609 </p>
      <p>weft: 594</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">142</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
    </tr>
    <tr>
      <td colspan="9" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="9" align="left" valign="top" bgcolor="#FFFFFF"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>