<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" class="col_0 txtwhite txt16">物性 / 品名</td>
      <td class="col_h txt16 H83">硬度 </td>
      <td class="col_h txt16">比重</td>
      <td class="col_h txt16">抗張強度</td>
      <td class="col_h txt16">撕裂強度</td>
      <td class="col_h txt16">300%模數</td>
      <td class="col_h txt16">伸長率</td>
      <td class="col_h txt16">熔點</td>
    </tr>
    <tr>
      <td class="bgf H56">(Shore A/D)<br />
      D2240</td>
      <td class="bgf">D792</td>
      <td class="bgf">(kg/cm²)<br />
      D412</td>
      <td class="bgf">(kg/cm)<br />
      D624 (Die C)</td>
      <td class="bgf">(kg/cm²)<br />
      D412</td>
      <td class="bgf">(%)<br />
      D412</td>
      <td class="bgf">(ºC)</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><a href="/download/hot_melt/pdf/fta3270x39__pex39-t.pdf" target="_blank" class="style1">FTA3270X39+PEX39</a> </td>
      <td class="td">78A </td>
      <td class="td">1.07 </td>
      <td class="td"><p>warp: 345</p>
      <p>weft: 354</p></td>
      <td class="td"><p>warp: 48</p>
      <p>weft: 50</p></td>
      <td class="td"><p>warp: 82</p>
      <p>weft: 79</p></td>
      <td class="td"><p>warp: 514</p>
      <p>weft: 537</p></td>
      <td class="td">93</td>
    </tr>
    <tr>
      <td class="col_et txtwhite"><p><a href="/download/hot_melt/pdf/ft3254x1__dz03-t.pdf" target="_blank">FT3254X1+DZ03</a></p>
      <p>&nbsp;</p></td>
      <td class="td">58A</td>
      <td class="td">1.05</td>
      <td class="td"><p>warp: 77</p>
      <p>weft: 47</p></td>
      <td class="td"><p>warp: 12</p>
      <p>weft: 14</p></td>
      <td class="td"><p>warp: 11</p>
      <p>weft: 9.2</p></td>
      <td class="td"><p>warp: 916</p>
      <p>weft: 852</p></td>
      <td class="td">100</td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs2650-pe-t.pdf" target="_blank" class="style1">FS2650-PE</a> </td>
      <td class="td">47D </td>
      <td class="td">1.19 </td>
      <td class="td"><p>warp: 450</p>
      <p>weft: 450</p></td>
      <td class="td"><p>warp: 115</p>
      <p>weft: 115</p></td>
      <td class="td"><p>warp: 85</p>
      <p>weft: 75</p></td>
      <td class="td"><p>warp: 800</p>
      <p>weft: 810</p></td>
      <td class="td">85 </td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs26v0-pe-t.pdf" target="_blank" class="style1">FS26V0-PE</a> </td>
      <td class="td">92A </td>
      <td class="td">1.13 </td>
      <td class="td"><p>warp: 219</p>
      <p>weft: 242</p></td>
      <td class="td"><p>warp: 96</p>
      <p>weft: 90</p></td>
      <td class="td"><p>warp: 69</p>
      <p>weft: 66</p></td>
      <td class="td"><p>warp: 730</p>
      <p>weft: 769</p></td>
      <td class="td">85 </td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs3215x1__dz03p-t.pdf" target="_blank" class="style1">FS3215X1+DZ03P</a> </td>
      <td class="td">40D </td>
      <td class="td">1.19</td>
      <td class="td"><p>warp: 318</p>
      <p>weft: 296</p></td>
      <td class="td"><p>warp: 77</p>
      <p>weft: 80</p></td>
      <td class="td"><p>warp: 72</p>
      <p>weft: 64</p></td>
      <td class="td"> <p>warp: 903</p>
      <p>weft: 891</p></td>
      <td class="td">60 </td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs3233x1__dz03p-t.pdf" target="_blank" class="style1">FS3233X1+DZ03P</a> </td>
      <td class="td">45D </td>
      <td class="td">1.16 </td>
      <td class="td"><p>warp: 445</p>
      <p>weft: 435</p></td>
      <td class="td"><p>warp: 88</p>
      <p>weft: 91</p></td>
      <td class="td"><p>warp: 70</p>
      <p>weft: 58</p></td>
      <td class="td"><p>warp: 892</p>
      <p>weft: 902</p></td>
      <td class="td">90 </td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs3253x1__dz03p-t.pdf" target="_blank" class="style1">FS3253X1+DZ03P</a> </td>
      <td class="td">65A </td>
      <td class="td">1.15 </td>
      <td class="td"><p>warp: 177</p>
      <p>weft: 184</p></td>
      <td class="td"><p>warp: 45</p>
      <p> weft: 45</p></td>
      <td class="td"><p>warp: 23</p>
      <p>weft: 22</p></td>
      <td class="td"><p>warp: 1011</p>
      <p>weft: 1026</p></td>
      <td class="td">100</td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs3258x1__dz03p-t.pdf" target="_blank" class="style1">FS3258X1+DZ03P</a> </td>
      <td class="td">73A </td>
      <td class="td">1.16 </td>
      <td class="td"><p>warp: 121</p>
      <p>weft: 125</p></td>
      <td class="td"><p>warp: 37</p>
      <p>weft: 37</p></td>
      <td class="td"><p>warp: 28</p>
      <p>weft: 30</p></td>
      <td class="td"><p>warp: 911</p>
      <p>weft: 945</p></td>
      <td class="td">85 </td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs3280x1__dz03p-t.pdf" target="_blank" class="style1">FS3280X1+DZ03P</a> </td>
      <td class="td">83A </td>
      <td class="td">1.21 </td>
      <td class="td"><p>warp: 383</p>
      <p>weft: 382</p></td>
      <td class="td"><p>warp: 75</p>
      <p>weft: 70</p></td>
      <td class="td"><p>warp: 73</p>
      <p>weft: 72</p></td>
      <td class="td"><p>warp: 717</p>
      <p>weft: 723</p></td>
      <td class="td">115 </td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><p><a href="/download/hot_melt/pdf/fs3713-t.pdf" target="_blank" class="style1">FS3713</a></p>
      <p>&nbsp;</p></td>
      <td class="td">92A</td>
      <td class="td">1.19</td>
      <td class="td"><p>warp: 525</p>
      <p>weft: 453</p></td>
      <td class="td"><p>warp: 74</p>
      <p>weft: 72</p></td>
      <td class="td"><p>warp: 111</p>
      <p>weft: 108</p></td>
      <td class="td"><p>warp: 838</p>
      <p>weft: 813</p></td>
      <td class="td">65</td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs4213__dz03p-t.pdf" target="_blank" class="style1">FS4213+DZ03P</a> </td>
      <td class="td">95A </td>
      <td class="td">1.17 </td>
      <td class="td"><p>warp: 475</p>
      <p>weft: 454</p></td>
      <td class="td"><p>warp: 93</p>
      <p>weft: 95</p></td>
      <td class="td"><p>warp: 78</p>
      <p>weft: 77</p></td>
      <td class="td"><p>warp: 768</p>
      <p>weft: 759</p></td>
      <td class="td">82 </td>
    </tr>
    <tr>
      <td align="left" class="col_es txtwhite"><a href="/download/hot_melt/pdf/fs5723x1__dz03p-t.pdf" target="_blank" class="style1">FS5723X1+DZ03P</a></td>
      <td class="td">40D</td>
      <td class="td">1.19</td>
      <td class="td"><p>warp: 293</p>
      <p>weft: 219</p></td>
      <td class="td"><p>warp: 102</p>
      <p>weft: 91</p></td>
      <td class="td"><p>warp: 87</p>
      <p>weft: 63</p></td>
      <td class="td"><p>warp: 737</p>
      <p>weft: 796</p></td>
      <td class="td">57</td>
    </tr>
    <tr>
      <td colspan="8" align="left" class="bgf">** 以上數據與資訊僅提供作為參考用途，請勿將其視為唯一保證或依據。</td>
    </tr>
    <tr>
      <td colspan="8" align="left" class="bgf"><span class="undertable1">█</span>聚醚類薄膜 <span class="undertable2">█</span>聚酯類薄膜</td>
    </tr>
  </table>
</div>