<div class="tablelist">
  <div class="dz">
    <div class="r17">
      <table width="335" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td width="20%" class="col_0 txtwhite txt16">Items  </td>
          <td width="20%" class="col_h txt16 H83"><span class="txtwhite txt16">Ø d </span></td>
          <td width="20%" class="col_h txt16"><span class="txtwhite txt16 H83">Ø D   </span></td>
          <td width="20%" class="col_h txt16"><span class="txtwhite txt16 H83">h  </span></td>
          <td width="20%" class="col_h txt16"><span class="txtwhite txt16 H83">HA</span></td>
        </tr>
        <tr>
          <td class="col_v txtwhite"><p>D-8</p>
          <p>&nbsp;</p></td>
          <td class="td">25  </td>
          <td class="td">40</td>
          <td class="td"> 12 </td>
          <td class="td">13 </td>
        </tr>
        <tr>
          <td class="col_v txtwhite"><p>D-8</p>
          <p>&nbsp;</p></td>
          <td class="td">30   </td>
          <td class="td">45  </td>
          <td class="td">12  </td>
          <td class="td">13</td>
        </tr>
        <tr>
          <td class="col_v txtwhite"><p>D-8</p>
          <p>&nbsp;</p></td>
          <td class="td">35  </td>
          <td class="td">50  </td>
          <td class="td">12  </td>
          <td class="td">13 </td>
        </tr>
        <tr>
          <td class="col_v txtwhite"><p>D-8</p>
          <p>&nbsp;</p></td>
          <td class="td">45  </td>
          <td class="td">60  </td>
          <td class="td">12</td>
          <td class="td"> 13</td>
        </tr>
      </table>
    </div>
    <div class="l18">
      <table width="335" border="0" cellpadding="0" cellspacing="0"  >
        <tr>
          <td width="20%" class="col_0 txtwhite txt16">Items </td>
          <td width="20%" class="col_h txt16 H83"><span class="txtwhite txt16">Ø d </span></td>
          <td width="20%" class="col_h txt16"><span class="txtwhite txt16 H83">Ø D </span></td>
          <td width="20%" class="col_h txt16"><span class="txtwhite txt16 H83">h </span></td>
          <td width="20%" class="col_h txt16"><span class="txtwhite txt16 H83">HA</span></td>
        </tr>
        <tr>
          <td class="col_v txtwhite"><p>D-8</p>
          <p>&nbsp;</p></td>
          <td class="td">55  </td>
          <td class="td">70  </td>
          <td class="td">12  </td>
          <td class="td">13 </td>
        </tr>
        <tr>
          <td class="col_v txtwhite"><p>D-8</p>
          <p>&nbsp;</p></td>
          <td class="td">60  </td>
          <td class="td">75</td>
          <td class="td"> 12 </td>
          <td class="td">13 </td>
        </tr>
        <tr>
          <td class="col_v txtwhite"><p>D-8</p>
          <p>&nbsp;</p></td>
          <td class="td">70</td>
          <td class="td"> 85 </td>
          <td class="td">12  </td>
          <td class="td">13 </td>
        </tr>
        <tr>
          <td class="col_v txtwhite"><p>D-8</p>
          <p>&nbsp;</p></td>
          <td class="td">80  </td>
          <td class="td">95</td>
          <td class="td"> 12</td>
          <td class="td"> 13</td>
        </tr>
      </table>
    </div>
  </div>
</div>