//Piston

/ D-1
/ D-8
/ .slogan.style01
/ 	.column.half
/ 	  img src="/resources/images/2.6.1_product_dz_seals_piston_d1_pic.jpg"
/ 	  .picscript
/ 	    p R ≦ 0.3
/ 	    p Piston Ø D Surface Roughness: 0.4~3.2 μ mRmax (0.1~0.8 μ mRa)
/ 	.column.half