.footer {
  padding: 20px;
  padding-bottom: 10px;
  .copyright {
    text-align: center;
    @include span-columns(8);
  }

  .footer_navigation {
    @include span-columns(6);
    >li {
      float: left;
      width: 33%;
    }
  }
  
  .contact_us {
    @include span-columns(2 omega);
    background-color: #eeeeee;
    padding: 16px 15px;
    @include adjust-font-size-to(16px);
    h6 {
      padding-top: 50px;
      background-image: url(../images/icon_email.png);
      background-repeat: no-repeat;
      font-size: 1em;
    }
    p {
      font-size: 1em;
      margin: 10px 0;
    }
    a {
      color: $color01;
      text-decoration: underline;
      font-weight: bold;
      font-style: italic;
    }
  }

  @include at-breakpoint($large-columns) {
    .footer_navigation {
      @include span-columns(8);
      background-color: none !important;
    }
    .contact_us {
      @include span-columns(4 omega);
      padding: 26px 28px;
    }
    @include span-columns(12);
  }
}