.header {

  @include pie-clearfix;
  position: relative;
  a {
    color: #585858;
    &:hover {text-decoration: none;}
  }

  .logo {
    float: left;
    margin: 20px 70px 10px 20px;
    margin-right: 70px;
    a {
      background: url(../images/Logo.jpg) no-repeat;
      display: block;
      width: 197px;
      height: 42px;
      strong {
        display: none;
      }
    }
  }

  /* MAIN NAVIGATION */

  .navigation {
    border-top: solid 1px #ddd;
    float: left;
    width: 100%;
    margin-top: 10px;
    .navigation-inner {
      border-top: solid 1px #fff;
    }
  }

  .main_navigation {
    //width: 100%;
    font-weight: 900;
    letter-spacing: -1px;
    a {
      display: block;
    }
    > li {
      float: left;
      > a {
        position: relative;
        padding: 10px 20px;
        line-height: 1.5;
        z-index: 151;
      }
      &:hover, &.active {
        > a {
          border-bottom: 4px solid #8094cf;
          margin-bottom: -4px;
        }
      }
    }
  }

  /* SUB NAVIGATION */

  .sub_navigation {
    @include box-sizing(content-box);
    position: absolute;
    display: none;
    z-index: 150;
    // 外觀
    background-color: rgba(230,230,230,.85);
    border-top: 4px solid rgba(0,0,0,.25);
    @include box-shadow (0px 3px 15px rgba(0,0,0,0.02));
    // 
    font-weight: 100;
    letter-spacing: normal;
    font-size: .85em;
    padding: 10px 0 5px;
    li {
      float: none;
      dl { margin: 10px; }
      dt, dd { @include reset-list; }
      dt { font-weight: bold; }
      a {
        padding: 5px 10px;
      }
      a:hover {
        background: #8094cf;
        color: #FFF;
      }
    }

    //multi Sub menu
    .submenu-col {
      float: left;
    }
  }

  ul.lang {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    font-size: 13px;
    overflow: hidden;
    > li {
      float: left;
    }
    a {
      display: block;
      line-height: 1.5;
    }
  }
}

@include at-breakpoint($large-columns) {

  .header {
    height: 145px; 

    .logo {
      margin-top: 40px;
      margin-bottom: 0;
      a {
        height: 62px;
      }
    }
    .navigation {
      width: auto;
      margin-top: 65px;
      border: none;
    }
    .navigation, .navigation .navigation-inner {
      border: none;
    }

    ul.lang {
      top: 80px;
    }
  }
}
