<div class="tablelist">
  <div class="dz">
    <div class="r17">
      <table width="335" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td width="60" class="col_0 txtwhite txt16">Items </td>
          <td width="55" class="col_h txt16 H83"><span class="txtwhite txt16">Ø d </span></td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">Ø D </span></td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">t</span></td>
          <td width="55" class="col_h txt16">h</td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">H</span></td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">10</td>
          <td class="td">16</td>
          <td class="td">3.5</td>
          <td class="td">5</td>
          <td class="td">3.5</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">13</td>
          <td class="td">19</td>
          <td class="td">4</td>
          <td class="td">4.5</td>
          <td class="td">4</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">16</td>
          <td class="td">22</td>
          <td class="td">3</td>
          <td class="td">4</td>
          <td class="td">3</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">20</td>
          <td class="td">28</td>
          <td class="td">3.5</td>
          <td class="td">5</td>
          <td class="td">3.5</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">20</td>
          <td class="td">30</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">25</td>
          <td class="td">32</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">25</td>
          <td class="td">35</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">25.4</td>
          <td class="td">34.93</td>
          <td class="td">4.75</td>
          <td class="td">7.14</td>
          <td class="td">4.75</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">31.75</td>
          <td class="td">41.28</td>
          <td class="td">4.75</td>
          <td class="td">7.14</td>
          <td class="td">4.75</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">32</td>
          <td class="td">40</td>
          <td class="td">4</td>
          <td class="td">7</td>
          <td class="td">4</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">32</td>
          <td class="td">45</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">38</td>
          <td class="td">48</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">38.1</td>
          <td class="td">47.63</td>
          <td class="td">4.75</td>
          <td class="td">7.14</td>
          <td class="td">4.75</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">40</td>
          <td class="td">50</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">45</td>
          <td class="td">55</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">45</td>
          <td class="td">60</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
      </table>
    </div>
    <div class="l18">
      <table width="335" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td width="60" class="col_0 txtwhite txt16">Items </td>
          <td width="55" class="col_h txt16 H83"><span class="txtwhite txt16">Ø d </span></td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">Ø D </span></td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">t</span></td>
          <td width="55" class="col_h txt16">h</td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">H</span></td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">50</td>
          <td class="td">60</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">50.8</td>
          <td class="td">60.33</td>
          <td class="td">4.75</td>
          <td class="td">7.14</td>
          <td class="td">4.75</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">55</td>
          <td class="td">65</td>
          <td class="td">5</td>
          <td class="td">7</td>
          <td class="td">5</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">60</td>
          <td class="td">70</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">63</td>
          <td class="td">75</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">65</td>
          <td class="td">75</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">70</td>
          <td class="td">80</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">75</td>
          <td class="td">85</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">80</td>
          <td class="td">90</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">90</td>
          <td class="td">100</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">100</td>
          <td class="td">110</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">100</td>
          <td class="td">115</td>
          <td class="td">8</td>
          <td class="td">10</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">110</td>
          <td class="td">120</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">120</td>
          <td class="td">130</td>
          <td class="td">7</td>
          <td class="td">10</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">120</td>
          <td class="td">132</td>
          <td class="td">5.5</td>
          <td class="td">8</td>
          <td class="td">5.5</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>ME-4</p>
          <p>&nbsp;</p></td>
          <td class="td">125</td>
          <td class="td">140</td>
          <td class="td">9</td>
          <td class="td">12</td>
          <td class="td">9</td>
        </tr>
      </table>
    </div>
  </div>
</div>