<div class="tablelist">
  <div class="dz">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
      <tr>
        <td valign="top"><strong>物性</strong>
          <ul>
            <li>• 材質: 8L95J </li>
            <li>• 重力 (ASTM D792): 1.20 </li>
            <li>• 硬度 (ASTM D2240): 95 </li>
            <li>• 張力 (ASTM D412): 317 </li>
            <li>• 100%彈性模數 (ASTM D412): 110 </li>
            <li>• 300%彈性模數 (ASTM D412): 170 </li>
            <li>• 70h/70ºC下的壓縮變形率 (ASTM D395B): 34 </li>
            <li>• 70h/100ºC下的壓縮變形率 (ASTM D395B): 56</li>
            <li></li>
          </ul>
        </td>
        <td valign="top"><strong>耐油性</strong>
          <ul>
            <li>• 測試用油：耐磨耗液壓油46#</li>
            <li>• 測試溫度(ºC)：100</li>
            <li>• 測試時間(小時)：100</li>
            <li>• 硬度變化(Shore A)：-1</li>
            <li>• 拉力強度變化(%)：-4</li>
            <li>• 體積變化(%)：+0.08</li>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td width="353" valign="top"><strong>作業條件</strong>
          <ul>
            <li>• 最大工作壓力: 40 Mpa </li>
            <li>• 工作速度: 0.03 ~ 0.5 m/sec </li>
            <li>• 工作溫度: -20ºC ~ 100ºC</li>
          </ul>
        </td>
        <td width="353" valign="top">&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="20%" class="col_0 txtwhite txt16">品名</td>
        <td width="30%" class="col_h txt16 H83"><span class="txtwhite txt16">剖面圖</span></td>
        <td width="16%" class="col_h txt16"><span class="txtwhite txt16 H83">材料</span></td>
        <td width="16%" class="col_h txt16"><p class="txtwhite txt16 H83">硬度</p>
        <p class="txtwhite txt16 H83">(Shore A) </p></td>
        <td class="col_h txt16"><p class="txtwhite txt16 H83">工作溫度範圍ºC</p></td>
      </tr>
      <tr>
        <td class="col_et txtwhite">ME-1</td>
        <td align="center" valign="middle" class="td"><img src="/resources/images/me1s.jpg" width="150" height="70" /></td>
        <td class="td">8L95J </td>
        <td class="td">95 </td>
        <td class="td">-20ºC ~ 100ºC</td>
      </tr>
      <tr>
        <td class="col_et txtwhite">ME-1N</td>
        <td align="center" valign="middle" class="td"><img src="/resources/images/me1ns.jpg" width="150" height="70" /></td>
        <td class="td">8L95J</td>
        <td class="td">95 </td>
        <td class="td">-20ºC ~ 100ºC</td>
      </tr>
      <tr>
        <td class="col_et txtwhite">ME-2</td>
        <td align="center" valign="middle" class="td"><img src="/resources/images/me2s.jpg" width="150" height="70" /></td>
        <td class="td">8L95J</td>
        <td class="td">95 </td>
        <td class="td">-20ºC ~ 100ºC</td>
      </tr>
      <tr>
        <td class="col_et txtwhite">ME-3</td>
        <td align="center" valign="middle" class="td"><img src="/resources/images/me3s.jpg" width="150" height="70" /></td>
        <td class="td">8L95J</td>
        <td class="td">95 </td>
        <td class="td">-20ºC ~ 100ºC</td>
      </tr>
      <tr>
        <td class="col_et txtwhite">ME-4</td>
        <td align="center" valign="middle" class="td"><img src="/resources/images/me4s.jpg" width="150" height="70" /></td>
        <td class="td">8L95J</td>
        <td class="td">95 </td>
        <td class="td">-20ºC ~ 100ºC</td>
      </tr>
      <tr>
        <td class="col_et txtwhite">ME-5</td>
        <td align="center" valign="middle" class="td"><img src="/resources/images/me5s.jpg" width="150" height="70" /></td>
        <td class="td">8L95J</td>
        <td class="td">95 </td>
        <td class="td">-20ºC ~ 100ºC</td>
      </tr>
      <tr>
        <td class="col_et txtwhite">ME-8</td>
        <td align="center" valign="middle" class="td"><img src="/resources/images/me8s.jpg" width="150" height="70" /></td>
        <td class="td">8L95J</td>
        <td class="td">95 </td>
        <td class="td">-20ºC ~ 100ºC</td>
      </tr>
    </table>
  </div>
</div>