<div class="tablelist">
    <div class="dz">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
        <tr>
          <td width="353" valign="top"><strong>應用</strong>
            <ul>
            <li>• 氣動工具/油管與燃料管</li>
            <li>• 油漆管件 </li>
            <li>• 機器氣動管 </li>
            <li>• 機器裝配軟管</li>
            <li></li>
          </ul>
        </td>
          <td width="353" valign="top"><strong>特色</strong>
            <ul>
            <li>• 質輕，彈性佳，耐磨，耐曲折</li>
            <li>• 耐油耐化學性</li>
            <li>• 使用溫度範圍廣 (-30℃ to +70℃)</li>
            <li>• 耐用、恢復性佳</li>
            <li>• 耐老化</li>
            <li>• 使用壽命長</li>
          </ul>
        </td>
      </tr>
    </table>
    
      <div class="script">
      <strong>可用性</strong>
        <ul>
        <li>• 爆破壓力: 25 bars</li>
        <li>• 最大工作壓力 Pressure Bar: 10 kg/cm² </li>
      </ul>
    </div>
      <div class="twotable"><div class="r35 floatl"><table width="331" border="0" cellpadding="0" cellspacing="0" class="line" >
        <tr>
        <td class="col_0 txtwhite txt16">內徑x外徑 (mm)</td>
        <td width="33%" class="col_h txt16 H83">壁厚</td>
        <td width="33%" class="col_h txt16">包裝</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">3.0 x 5.0 </td>
          <td class="td"><p>1</p>
        </td>
        <td class="td">100</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">4.0 x 6.0</td>
          <td class="td"><p>1</p>
        </td>
        <td class="td">100</td>
      </tr>
        <tr>
        <td class="col_et txtwhite"> 6.0 x 8.0</td>
          <td class="td"><p>1</p>
        </td>
        <td class="td">100</td>
      </tr>
        <tr>
        <td class="col_et txtwhite"> 8.0 x 10.0 </td>
          <td class="td"><p>1</p>
        </td>
        <td class="td">100</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">10.0 x 12.0 </td>
          <td class="td"><p>1</p>
        </td>
        <td class="td">100</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">12.0 x 14.0</td>
          <td class="td"><p>1</p>
        </td>
        <td class="td">100</td>
      </tr>
    </table></div>
    <div class="floatl">
      <table width="331" border="0" cellpadding="0" cellspacing="0"  class="line">
        <tr>
        <td class="col_0 txtwhite txt16">內徑x外徑 (mm)</td>
        <td width="33%" class="col_h txt16 H83">壁厚</td>
        <td width="33%" class="col_h txt16">包裝</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">0.106 x 5/32 </td>
          <td class="td"><p>0.025</p>
        </td>
        <td class="td">300</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">0.180 x 1/4 </td>
          <td class="td"><p>0.035</p>
        </td>
        <td class="td">300</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">0.232 x 5/16 </td>
          <td class="td"><p>0.040</p>
        </td>
        <td class="td">300</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">0.275 x 3/8 </td>
          <td class="td"><p>0.050</p>
        </td>
        <td class="td">300</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">3/8 x 1/2</td>
          <td class="td"><p>0.062</p>
        </td>
        <td class="td">300</td>
      </tr>
        <tr>
          <td class="col_et txtwhite">
        </td>
        <td class="td">&nbsp;</td>
        <td class="td">&nbsp;</td>
      </tr>
    </table></div>
</div>
  <div class="script">
  <strong>技術數據</strong>
  
</div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
    <td class="col_0 txtwhite txt16">特性 (方法)</td>
    <td class="col_h txt16 H83">硬度 (ASTM D2240)</td>
    <td class="col_h txt16">比重 (ASTM D2240) (ASTM D792)</td>
    <td class="col_h txt16">拉伸強度 (ASTM D70)</td>
    <td class="col_h txt16">張力 (ASTM D412)</td>
    <td class="col_h txt16">伸長率 (ASTM D412)</td>
    <td class="col_h txt16">300% 模數 (ASTM D412)</td>
    <td class="col_h txt16">熔點</td>
    <td class="col_h txt16">爆破壓力</td>
  </tr>
    <tr>
    <td class="col_et txtwhite">Value / Units</td>
      <td class="td"><p>60 Shore D</p>
    </td>
    <td class="td">1.17 </td>
    <td class="td">190 Lb/in</td>
    <td class="td">9000 psi </td>
    <td class="td">390% </td>
    <td class="td">5800 psi </td>
    <td class="td">361 ºF </td>
    <td class="td">500 psi</td>
  </tr>
</table>
  <div class="script">
  <strong>耐油性與耐化學性</strong>
  
</div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
    <td class="col_0 txtwhite txt16">特性</td>
    <td class="col_h txt16 H83">硬度</td>
    <td class="col_h txt16">Pts變化</td>
    <td class="col_h txt16">張力</td>
    <td class="col_h txt16">變化率(%)</td>
    <td class="col_h txt16">伸長率</td>
    <td class="col_h txt16">變化率(%)</td>
    <td class="col_h txt16">體積變化</td>
    <td class="col_h txt16">質量變化</td>
  </tr>
    <tr>
    <td class="col_et txtwhite">Air 70hr@212F </td>
      <td class="td"><p>60</p>
    </td>
    <td class="td">3 </td>
    <td class="td">7334 </td>
    <td class="td">7.2 </td>
    <td class="td">600 </td>
    <td class="td">11.9 </td>
    <td class="td">-0.02 </td>
    <td class="td">-0.01 </td>
  </tr>
    <tr>
    <td class="col_et txtwhite">Air 336hr@158F </td>
      <td class="td"><p>60</p>
    </td>
    <td class="td">3 </td>
    <td class="td">6911.4 </td>
    <td class="td">-0.3 </td>
    <td class="td">533 </td>
    <td class="td">-0.5 </td>
    <td class="td">-0.13</td>
    <td class="td">0.04 </td>
  </tr>
    <tr>
    <td class="col_et txtwhite">Fuel B 70hr@RT</td>
      <td class="td"><p>53</p>
    </td>
    <td class="td">-4 </td>
    <td class="td">7841 </td>
    <td class="td">13 </td>
    <td class="td">607 </td>
    <td class="td">13.2 </td>
    <td class="td">&nbsp;</td>
    <td class="td">&nbsp;</td>
  </tr>
    <tr>
    <td class="col_et txtwhite"> Fuel C 70hr@212F </td>
      <td class="td"><p>48</p>
    </td>
    <td class="td">-9 </td>
    <td class="td">6249.4 </td>
    <td class="td">-9.9 </td>
    <td class="td">584 </td>
    <td class="td">8.9 </td>
    <td class="td">15.13 </td>
    <td class="td">10.81 </td>
  </tr>
    <tr>
    <td class="col_et txtwhite">Fuel H 70hr@212F </td>
      <td class="td"><p>40</p>
    </td>
    <td class="td">-17 </td>
    <td class="td">5177.6 </td>
    <td class="td">-25.3 </td>
    <td class="td">629 </td>
    <td class="td">17.3 </td>
    <td class="td">29.82</td>
    <td class="td">20.48 </td>
  </tr>
    <tr>
    <td class="col_et txtwhite">IRM903 70hr@212F </td>
      <td class="td"><p>59</p>
    </td>
    <td class="td">2 </td>
    <td class="td">6752.2 </td>
    <td class="td">-2.6 </td>
    <td class="td">537 </td>
    <td class="td">0.1 </td>
    <td class="td">&nbsp;</td>
    <td class="td">&nbsp;</td>
  </tr>
    <tr>
    <td class="col_et txtwhite">Iso. Liq 3 70hr@104F</td>
      <td class="td"><p>37</p>
    </td>
    <td class="td">-20</td>
    <td class="td">5197</td>
    <td class="td">-25</td>
    <td class="td">602</td>
    <td class="td">12.3</td>
    <td class="td">32.51</td>
    <td class="td">22.27</td>
  </tr>
</table>
</div>
</div>