<div class="tablelist">
  <div class="dz">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
      <tr>
        <td width="353" valign="top"><strong>Applications</strong>
          <ul>
            <li>• Air tools / oil and fuel lines</li>
            <li>• Paint machines / hose reels</li>
            <li>• Polyether-based PU hoses for water applications: gardening, cleaning, medical and hydration tube</li>
            <li>• FDA and NSF grades available</li>
          </ul>        </td>
          <td width="353" valign="top"><strong>Features</strong>
            <ul>
              <li>• Light in weight</li>
              <li>• High tensile strength and elasticity</li>
              <li>• Excellent abrasion resistance</li>
              <li>• Good resistance to fuel, oils, and chemicals</li>
              <li>• Wide application temperature from -30ºC to +70ºC</li>
              <li>• Durable and long-lasting</li>
              <li>• Plasticizer free</li>
            </ul>        </td>
          </tr>
        </table>
        <div class="slogan hb36"></div>
        <!--<img src="/resources/images/Recoil.jpg" width="709" height="266" />-->
        <div class="script">
          <strong>Availability</strong>
          <ul>
            <li>• Burst Pressure: 25 bars</li>
            <li>• Also available in inches with various lengths. </li>
          </ul>
        </div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td class="col_0 txtwhite txt16">Part No.</td>
            <td width="17%" class="col_h txt16 H83"><p>I.D. x O.D </p>
            <p>(mm)</p></td>
            <td width="17%" class="col_h txt16"><p class="txtwhite txt16 H83">Working LM</p></td>
            <td width="17%" class="col_h txt16"><p class="txtwhite txt16 H83">Standard LM</p></td>
            <td width="17%" class="col_h txt16"><p class="txtwhite txt16 H83">E (mm)</p></td>
            <td width="17%" class="col_h txt16"><p class="txtwhite txt16 H83">Brass Fitting</p></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R508025  </td>
            <td class="td"><span class="txtwhite">5.0 x 8.0  </span></td>
            <td class="td"><span class="txtwhite">2.0  </span></td>
            <td class="td"><span class="txtwhite">2.5  </span></td>
            <td class="td"><span class="txtwhite">44  </span></td>
            <td class="td"><span class="txtwhite">1/4”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R508050   </td>
            <td class="td"><span class="txtwhite">5.0 x 8.0  </span></td>
            <td class="td"><span class="txtwhite">4.0  </span></td>
            <td class="td"><span class="txtwhite">5.0  </span></td>
            <td class="td"><span class="txtwhite">44  </span></td>
            <td class="td"><span class="txtwhite">1/4” </span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R508075  </td>
            <td class="td"><span class="txtwhite">5.0 x 8.0  </span></td>
            <td class="td"><span class="txtwhite">6.0  </span></td>
            <td class="td"><span class="txtwhite">7.5  </span></td>
            <td class="td"><span class="txtwhite">44  </span></td>
            <td class="td"><span class="txtwhite">1/4”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R508010  </td>
            <td class="td"><span class="txtwhite">5.0 x 8.0  </span></td>
            <td class="td"><span class="txtwhite">8.0   </span></td>
            <td class="td"><span class="txtwhite">10.0 </span></td>
            <td class="td"><span class="txtwhite">44  </span></td>
            <td class="td"><span class="txtwhite">1/4”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R651025  </td>
            <td class="td"><span class="txtwhite">6.5 x 10.0 </span></td>
            <td class="td"><span class="txtwhite">2.0   </span></td>
            <td class="td"><span class="txtwhite">2.5  </span></td>
            <td class="td"><span class="txtwhite">55  </span></td>
            <td class="td"><span class="txtwhite">1/4”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R651050   </td>
            <td class="td"><span class="txtwhite">6.5 x 10.0 </span></td>
            <td class="td"><span class="txtwhite">4.0  </span></td>
            <td class="td"><span class="txtwhite">5.0  </span></td>
            <td class="td"><span class="txtwhite">55  </span></td>
            <td class="td"><span class="txtwhite">1/4”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R651075  </td>
            <td class="td"><span class="txtwhite">6.5 x 10.0 </span></td>
            <td class="td"><span class="txtwhite">6.0  </span></td>
            <td class="td"><span class="txtwhite">7.5  </span></td>
            <td class="td"><span class="txtwhite">55   </span></td>
            <td class="td"><span class="txtwhite">1/4”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R651010  </td>
            <td class="td"><span class="txtwhite">6.5 x 10.0 </span></td>
            <td class="td"><span class="txtwhite">8.0   </span></td>
            <td class="td"><span class="txtwhite">10.0 </span></td>
            <td class="td"><span class="txtwhite">55  </span></td>
            <td class="td"><span class="txtwhite">1/4”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R801225  </td>
            <td class="td"><span class="txtwhite">8.0 x 12.0 </span></td>
            <td class="td"><span class="txtwhite">2.0  </span></td>
            <td class="td"><span class="txtwhite">2.5  </span></td>
            <td class="td"><span class="txtwhite">66  </span></td>
            <td class="td"><span class="txtwhite">3/8” </span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R801250  </td>
            <td class="td"><span class="txtwhite">8.0 x 12.0 </span></td>
            <td class="td"><span class="txtwhite">4.0  </span></td>
            <td class="td"><span class="txtwhite">5.0  </span></td>
            <td class="td"><span class="txtwhite">66  </span></td>
            <td class="td"><span class="txtwhite">3/8” </span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R801275  </td>
            <td class="td"><span class="txtwhite">8.0 x 12.0 </span></td>
            <td class="td"><span class="txtwhite">6.0  </span></td>
            <td class="td"><span class="txtwhite">7.5  </span></td>
            <td class="td"><span class="txtwhite">66  </span></td>
            <td class="td"><span class="txtwhite">3/8” </span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R801210   </td>
            <td class="td"><span class="txtwhite">8.0 x 12.0 </span></td>
            <td class="td"><span class="txtwhite">8.0  </span></td>
            <td class="td"><span class="txtwhite">1.0</span></td>
            <td class="td"><span class="txtwhite"> 66   </span></td>
            <td class="td"><span class="txtwhite">3/8”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R951325   </td>
            <td class="td"><span class="txtwhite">9.5 x 13.5 </span></td>
            <td class="td"><span class="txtwhite">2.0  </span></td>
            <td class="td"><span class="txtwhite">2.5  </span></td>
            <td class="td"><span class="txtwhite">88  </span></td>
            <td class="td"><span class="txtwhite">3/8”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R9513550  </td>
            <td class="td"><span class="txtwhite">9.5 x 13.5 </span></td>
            <td class="td"><span class="txtwhite">4.0  </span></td>
            <td class="td"><span class="txtwhite">5.0  </span></td>
            <td class="td"><span class="txtwhite">88  </span></td>
            <td class="td"><span class="txtwhite">3/8”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R9513575  </td>
            <td class="td"><span class="txtwhite">9.5 x 13.5 </span></td>
            <td class="td"><span class="txtwhite">6.0  </span></td>
            <td class="td"><span class="txtwhite">7.5  </span></td>
            <td class="td"><span class="txtwhite">88  </span></td>
            <td class="td"><span class="txtwhite">3/8”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R9513510</td>
            <td class="td"><span class="txtwhite"> 9.5 x 13.5   </span></td>
            <td class="td"><span class="txtwhite">8.0  </span></td>
            <td class="td"><span class="txtwhite">10.0 </span></td>
            <td class="td"><span class="txtwhite">88  </span></td>
            <td class="td"><span class="txtwhite">3/8”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R111625  </td>
            <td class="td"><span class="txtwhite">11.0 x 16.0  </span></td>
            <td class="td"><span class="txtwhite">2.0  </span></td>
            <td class="td"><span class="txtwhite">2.5  </span></td>
            <td class="td"><span class="txtwhite">97  </span></td>
            <td class="td"><span class="txtwhite">1/2” </span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R111650  </td>
            <td class="td"><span class="txtwhite">11.0 x 16.0  </span></td>
            <td class="td"><span class="txtwhite">4.0  </span></td>
            <td class="td"><span class="txtwhite">5.0  </span></td>
            <td class="td"><span class="txtwhite">97  </span></td>
            <td class="td"><span class="txtwhite">1/2” </span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R111675  </td>
            <td class="td"><span class="txtwhite">11.0 x 16.0   </span></td>
            <td class="td"><span class="txtwhite">6.0  </span></td>
            <td class="td"><span class="txtwhite">7.5  </span></td>
            <td class="td"><span class="txtwhite">97  </span></td>
            <td class="td"><span class="txtwhite">1/2”</span></td>
          </tr>
          <tr>
            <td class="col_v txtwhite">R111610  </td>
            <td class="td"><span class="txtwhite">11.0 x 16.0  </span></td>
            <td class="td"><span class="txtwhite">8.0  </span></td>
            <td class="td"><span class="txtwhite">10.0</span></td>
            <td class="td"><span class="txtwhite"> 97   </span></td>
            <td class="td"><span class="txtwhite">1/2”</span></td>
          </tr>
        </table>
        <table width="50%" border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="48%" class="col_0 txtwhite txt16">I.D. x O.D (inch)</td>
            <td width="52%" class="col_h txt16">Length (ft)</td>
          </tr>
          <tr>
            <td class="col_v txtwhite">3/16 x 5/16</td>
            <td class="td">10,15, 20, 25, 30, 50</td>
          </tr>
          <tr>
            <td class="col_v txtwhite">1/4 x 3/8</td>
            <td class="td">10,15, 20, 25, 30, 50</td>
          </tr>
          <tr>
            <td class="col_v txtwhite">5/6 x 15/32</td>
            <td class="td">10,15, 20, 25, 30, 50</td>
          </tr>
          <tr>
            <td class="col_v txtwhite">3/8 x 9/16</td>
            <td class="td">10,15, 20, 25, 30, 50</td>
          </tr>
        </table>
      </div>
    </div>