<div class="tablelist">
    <div class="dz">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
        <tr>
          <td width="353" valign="top"><strong>應用</strong>
            <ul>
            <li>• 各種氣動工具</li>
            <li>• 空油壓機械</li>
            <li>• 工廠設備機器</li>
            <li>• 油漆管件/捲管器</li>
            <li>• 建築及各種移動工具管件</li>
            <li>• 聚醚型PU管，防霉抗菌耐水解，適用於園藝<br>、清潔、水管等用途</li>
            <li>• FDA和NSF級產品適用於飲用水管</li>
          </ul>        </td>
          <td width="353" valign="top"><strong>特色</strong>
            <ul>
            <li>• 質輕，彈性佳，耐磨，耐曲折</li>
            <li>• 耐油耐化學性</li>
            <li>• 使用溫度範圍廣 (-30℃ to +70℃)</li>
            <li>• 耐用、恢復性佳</li>
            <li>• 耐老化</li>
            <li>• 使用壽命長</li>
          </ul>
        </td>
      </tr>
    </table>
      <div class="script">
      <strong>可用性</strong>
        <ul>
        <li>• 爆破壓力: 25 bars</li>
        <li>• Also available in inches with various lengths. </li>
      </ul>
    </div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" >
        <tr>
        <td class="col_0 txtwhite txt16">Part No.</td>
        <td width="17%" class="col_h txt16 H83">內徑x外徑 (mm)</td>
        <td width="17%" class="col_h txt16">工作長度</td>
        <td width="17%" class="col_h txt16">總長度</td>
        <td width="17%" class="col_h txt16">E (mm)</td>
        <td width="17%" class="col_h txt16">接頭</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R508025</td>
        <td class="td">5.0 x 8.0</td>
        <td class="td">2.0</td>
        <td class="td">2.5</td>
        <td class="td">44</td>
        <td class="td">1/4”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R508050 </td>
        <td class="td">5.0 x 8.0</td>
        <td class="td">4.0</td>
        <td class="td">5.0</td>
        <td class="td">44</td>
        <td class="td">1/4”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R508075</td>
        <td class="td">5.0 x 8.0</td>
        <td class="td">6.0</td>
        <td class="td">7.5</td>
        <td class="td">44</td>
        <td class="td">1/4”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R508010</td>
        <td class="td">5.0 x 8.0</td>
        <td class="td">8.0</td>
        <td class="td">10.0</td>
        <td class="td">44</td>
        <td class="td">1/4”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R651025</td>
        <td class="td">6.5 x 10.0</td>
        <td class="td">2.0</td>
        <td class="td">2.5</td>
        <td class="td">55</td>
        <td class="td">1/4”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R651050 </td>
        <td class="td">6.5 x 10.0</td>
        <td class="td">4.0</td>
        <td class="td">5.0</td>
        <td class="td">55</td>
        <td class="td">1/4”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R651075</td>
        <td class="td">6.5 x 10.0</td>
        <td class="td">6.0</td>
        <td class="td">7.5</td>
        <td class="td">55</td>
        <td class="td">1/4”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R651010</td>
        <td class="td">6.5 x 10.0</td>
        <td class="td">8.0</td>
        <td class="td">10.0</td>
        <td class="td">55</td>
        <td class="td">1/4”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R801225</td>
        <td class="td">8.0 x 12.0</td>
        <td class="td">2.0</td>
        <td class="td">2.5</td>
        <td class="td">66</td>
        <td class="td">3/8”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R801250</td>
        <td class="td">8.0 x 12.0</td>
        <td class="td">4.0</td>
        <td class="td">5.0</td>
        <td class="td">66</td>
        <td class="td">3/8”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R801275</td>
        <td class="td">8.0 x 12.0</td>
        <td class="td">6.0</td>
        <td class="td">7.5</td>
        <td class="td">66</td>
        <td class="td">3/8”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R801210 </td>
        <td class="td">8.0 x 12.0</td>
        <td class="td">8.0</td>
        <td class="td">1.0</td>
        <td class="td"> 66</td>
        <td class="td">3/8”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R951325 </td>
        <td class="td">9.5 x 13.5</td>
        <td class="td">2.0</td>
        <td class="td">2.5</td>
        <td class="td">88</td>
        <td class="td">3/8”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R9513550</td>
        <td class="td">9.5 x 13.5</td>
        <td class="td">4.0</td>
        <td class="td">5.0</td>
        <td class="td">88</td>
        <td class="td">3/8”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R9513575</td>
        <td class="td">9.5 x 13.5</td>
        <td class="td">6.0</td>
        <td class="td">7.5</td>
        <td class="td">88</td>
        <td class="td">3/8”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R9513510</td>
        <td class="td"> 9.5 x 13.5</td>
        <td class="td">8.0</td>
        <td class="td">10.0</td>
        <td class="td">88</td>
        <td class="td">3/8”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R111625</td>
        <td class="td">11.0 x 16.0</td>
        <td class="td">2.0</td>
        <td class="td">2.5</td>
        <td class="td">97</td>
        <td class="td">1/2”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R111650</td>
        <td class="td">11.0 x 16.0</td>
        <td class="td">4.0</td>
        <td class="td">5.0</td>
        <td class="td">97</td>
        <td class="td">1/2”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R111675</td>
        <td class="td">11.0 x 16.0</td>
        <td class="td">6.0</td>
        <td class="td">7.5</td>
        <td class="td">97</td>
        <td class="td">1/2”</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">R111610</td>
        <td class="td">11.0 x 16.0</td>
        <td class="td">8.0</td>
        <td class="td">10.0</td>
        <td class="td"> 97</td>
        <td class="td">1/2”</td>
      </tr>
    </table>
      <table width="50%" border="0" cellpadding="0" cellspacing="0" >
        <tr>
        <td width="48%" class="col_0 txtwhite txt16">內徑x外徑 (inch)</td>
        <td width="52%" class="col_h txt16">長度 (ft)</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">3/16 x 5/16</td>
        <td class="td">10,15, 20, 25, 30, 50</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">1/4 x 3/8</td>
        <td class="td">10,15, 20, 25, 30, 50</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">5/6 x 15/32</td>
        <td class="td">10,15, 20, 25, 30, 50</td>
      </tr>
        <tr>
        <td class="col_et txtwhite">3/8 x 9/16</td>
        <td class="td">10,15, 20, 25, 30, 50</td>
      </tr>
    </table>
  </div>
</div>