.slogan.style01
  p 鼎基專業生產之高品質氣動管，有聚酯(Polyester-based thermoplastic polyurethane)和聚醚(Polyether-based thermoplastic polyurethane)系列，二者皆具質輕，高強度，耐磨，彈性，耐油，抗化學性，環保無毒，使用年限長之特性。提供客戶因應不同需要之不同選擇。
  p 鼎基生產之氣動管，尺寸精確，真圓度佳，爆破壓力高，適用於各種氣動工具、空油壓機械、真空設備、汽車工業等管件。