<div class="tablelist">
    <div class="dz">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
        <tr>
          <td width="353" height="312" valign="top"><strong>應用</strong>
            <ul>
            <li>• 食品輸料管內層</li>
            <li>• 消防水管內層</li>
            <li>• 戶外帳篷充氣式樑柱</li>
            <li>• 醫療用的袋材</li>
          </ul>
        </td>
        <td width="353" valign="top"><div align="center"><img src="/download/pdf/air_hoses/tubular_film/tubular_filmwm.jpg" width="225" height="234" /></div></td>
      </tr>
    </table>
    <!--<img src="/resources/images/2.4.1 product_dz_air_hoses_straight_pic.jpg" width="709" height="266" />-->
  </div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
      <td width="12%" class="col_0 txtwhite txt16">物性 / 品名 </td>
      <td width="8%" class="col_h txt16 H83">色號</td>
      <td width="10%" class="col_h txt16 H83"><p>厚度</td>
        <td width="10%" class="col_h txt16">硬度<br>
      (ASTM D2240)</td>
        <td width="10%" class="col_h txt16">比重<br>
      (ASTM D792)</td>
        <td width="10%" class="col_h txt16">抗張強度<br>
      (ASTM D412)</td>
        <td width="10%" class="col_h txt16">撕裂強度<br>
        (ASTM D624<br>
      Die C)</td>
        <td width="10%" class="col_h txt16">300%模數<br>
      (ASTM D412)</td>
        <td width="10%" class="col_h txt16">伸長率<br>
      (ASTM D412)</td>
      <td width="10%" class="col_h txt16">熔點</td>
    </tr>
      <tr>
      <td class="col_et txtwhite"><a href="/download/pdf/air_hoses/tubular_film/ft1h29-t.pdf" target="_blank">FT1H29</a></td>
      <td class="td">102H</td>
        <td class="td"><p>0.25X160(扁寬)</p>
      <p>&nbsp;</p></td>
      <td class="td">85 </td>
      <td class="td">1.12</td>
        <td class="td">warp: 533 <br>
      weft: 496</td>
        <td class="td">warp:80 <br>
      weft: 86 </td>
        <td class="td">warp: 131 <br>
      weft: 124 </td>
        <td class="td">warp: 517 <br>
      weft: 527 </td>
      <td class="td">149</td>
    </tr>
  </table>
</div>