<div class="tablelist">
<div class="dz">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="353" valign="top"><strong>Applications</strong>
      <ul>
        <li>• Air tools / oil and fuel lines</li>
		<li>• Paint machines / hose reels</li>
		<li>• Polyether-based PU hoses for water applications: gardening, cleaning, medical and hydration tube</li>
		<li>• FDA and NSF grades available</li>
      </ul>        </td>
      <td width="353" valign="top"><strong>Features</strong>
      <ul>
        <li>• Light in weight</li>
        <li>• High tensile strength and elasticity</li>
        <li>• Excellent abrasion resistance</li>
        <li>• Good resistance to fuel, oils, and chemicals</li>
        <li>• Wide application temperature from -30ºC to +70ºC</li>
        <li>• Durable and long-lasting</li>
        <li>• Plasticizer free</li>
      </ul>        </td>
    </tr>
  </table>
  <div class="slogan hb36"></div>
  <!--<img src="/resources/images/5. Twin Braided" width="709" height="266" />-->
  <div class="script">
    <strong>Availability</strong>
    
    </div>
  <table width="200" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td class="col_0 txtwhite txt16">Part No.</td>
      </tr>
    <tr>
      <td class="col_v txtwhite">6.5 x 10.0 / 6.5 x 10.0							 </td>
      </tr>
    <tr>
      <td class="col_v txtwhite">8.0 x 12.0 / 8.0 x 12.0							 </td>
      </tr>
    <tr>
      <td class="col_v txtwhite">11.0 x 16.0 / 11.0 x 16.0							 </td>
      </tr>
    <tr>
      <td class="col_v txtwhite">6.5 x 10.0 / 8.0 x 12.0							 </td>
      </tr>
    <tr>
      <td class="col_v txtwhite">8.0 x 12.0 / 11.0 x 16.0</td>
      </tr>
  </table>
  <div class="script">
    <strong>Technical Data</strong>
    
    </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td class="col_0 txtwhite txt16"><p>Properties  </p>
        <p>&nbsp;</p></td>
      <td class="col_h txt16 H83"><p>Hardness </p>
        <p>&nbsp;</p></td>
      <td class="col_h txt16"><p class="txtwhite txt16 H83">Density </p>
        <p class="txtwhite txt16 H83">&nbsp;</p></td>
      <td class="col_h txt16"><p class="txtwhite txt16 H83">Tear </p>
        <p class="txtwhite txt16 H83">Strength</p>
        <p class="txtwhite txt16 H83">&nbsp;</p></td>
      <td class="col_h txt16"><p class="txtwhite txt16 H83">Tensile </p>
        <p class="txtwhite txt16 H83">Strength</p>
        <p class="txtwhite txt16 H83">&nbsp;</p></td>
      <td class="col_h txt16"><p class="txtwhite txt16 H83">Ultimate </p>
        <p class="txtwhite txt16 H83">Elongation</p>
        <p class="txtwhite txt16 H83">&nbsp;</p></td>
      <td class="col_h txt16"><p class="txtwhite txt16 H83">Abrasion</p>
        <p class="txtwhite txt16 H83"> Loss </p>
        <p class="txtwhite txt16 H83">&nbsp;</p></td>
      <td class="col_h txt16"><p class="txtwhite txt16 H83">Rebound </p>
        <p class="txtwhite txt16 H83">Resilience</p>
        <p class="txtwhite txt16 H83">&nbsp;</p></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">(Methods)</td>
      <td class="td"><span class="txtwhite">(ASTM D2240) </span></td>
      <td class="td"><span class="txtwhite"> (DIN 53479)	</span></td>
      <td class="td"><span class="txtwhite">(ASTM D624)	</span></td>
      <td class="td"><span class="txtwhite">(ASTM D412)</span></td>
      <td class="td"><span class="txtwhite"> (ASTM D412)	</span></td>
      <td class="td"><span class="txtwhite">(ASTM D3489)	</span></td>
      <td class="td"><span class="txtwhite">(ASTM D2632)</span></td>
    </tr>
    <tr>
      <td class="col_v txtwhite">Ether-based TPU</td>
      <td class="td">85 Shore A</td>
      <td class="td">1.12 g/cm<sup>3</sup> </td>
      <td class="td">87.6 kN/m </td>
      <td class="td">37.9 Mpa </td>
      <td class="td">500% </td>
      <td class="td">30 mg</td>
      <td class="td">45%</td>
    </tr>
    <tr>
      <td class="col_v txtwhite">(Methods)</td>
      <td class="td"><span class="txtwhite">(DIN 53505)</span></td>
      <td class="td"><span class="txtwhite"> (DIN 53479)</span></td>
      <td class="td"><span class="txtwhite"> (DIN 53515)	</span></td>
      <td class="td"><span class="txtwhite">(DIN 53504)</span></td>
      <td class="td"><span class="txtwhite"> (DIN 53504)	</span></td>
      <td class="td"><span class="txtwhite">(DIN 53516)</span></td>
      <td class="td"><span class="txtwhite"> (DIN 53512) </span></td>
    </tr>
    <tr>
      <td class="col_v txtwhite">Ester-based TPU</td>
      <td class="td">95 Shore A </td>
      <td class="td">1.22 g/cm<sup>3</sup> </td>
      <td class="td">70.0 kN/m </td>
      <td class="td">40 N/mm</td>
      <td class="td">450% </td>
      <td class="td">30 mm</td>
      <td class="td">42% </td>
    </tr>
    </table>

</div>
</div>
