<div class="tablelist">
<div class="dz">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="353" valign="top"><strong>Applications</strong>
      <ul>
        <li>• Air tools / oil and fuel lines</li>
		<li>• Paint machines </li>
        <li>• Machinery air hoses </li>
        <li>• Machinery assembly hoses</li>
        <li></li>
      </ul>        </td>
      <td width="353" valign="top"><strong>Features</strong>
      <ul>
        <li>• Light in weight</li>
        <li>• High tensile strength and elasticity</li>
        <li>• Excellent abrasion resistance</li>
        <li>• Good resistance to fuel, oils, and chemicals</li>
        <li>• Wide application temperature from -30ºC to +70ºC</li>
        <li>• Durable and long-lasting</li>
        <li>• Plasticizer free</li>
      </ul>        </td>
    </tr>
  </table>
  <div class="slogan hb36"></div>
  <!--<img src="resources/images/2.4.6 product_dz_air_hoses_machinery_pic.jpg" width="709" height="266" />-->
  <div class="script">
    <strong>Availability</strong>
    <ul>
      <li>• Burst Pressure: 25 bars</li>
      <li>• Max. Working Pressure Bar: 10 kg/cm² </li>
    </ul>
    </div>
    <div class="twotable"><div class="r35 floatl"><table width="331" border="0" cellpadding="0" cellspacing="0" class="line" >
    <tr>
      <td align="left" valign="top" bgcolor="#333333" class="txtwhite txt16"><p>I.D. x O.D.  </p>
        <p>(mm)</p></td>
      <td width="33%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><p>Wall</p></td>
      <td width="33%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Packing</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">3.0 x 5.0 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>1</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">4.0 x 6.0</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>1</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"> 6.0 x 8.0</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>1</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"> 8.0 x 10.0 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>1</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">10.0 x 12.0 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>1</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">12.0 x 14.0</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>1</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
      </tr>
  </table></div>
  <div class="floatl">
  <table width="331" border="0" cellpadding="0" cellspacing="0"  class="line">
    <tr>
      <td align="left" valign="top" bgcolor="#333333" class="txtwhite txt16"><p>I.D. x O.D.  </p>
        <p>(mm)</p></td>
      <td width="33%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><p>Wall</p></td>
      <td width="33%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Packing</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">0.106 x 5/32 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>0.025 </p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">300</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">0.180 x 1/4 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>0.035</p>
        <p>&nbsp; </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">300</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">0.232 x 5/16 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>0.040</p>
        <p>&nbsp; </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">300</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">0.275 x 3/8 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>0.050</p>
        <p>&nbsp; </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">300</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">3/8 x 1/2</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>0.062</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">300</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>&nbsp;</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
      </tr>
  </table></div>
  </div>
  
  <div class="script">
    <strong>Technical Data</strong>
    
    </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Properties  (Methods)</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><p>Durometer</p>
        <p> (ASTM</p>
        <p> D2240)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Specific</p>
        <p class="txtwhite txt16 H83"> Gravity</p>
        <p class="txtwhite txt16 H83"> (ASTM </p>
        <p class="txtwhite txt16 H83">D2240)</p>
        <p class="txtwhite txt16 H83">(ASTM </p>
        <p class="txtwhite txt16 H83">D792)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tear Strength (ASTM D70)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tensile Strength (ASTM D412)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Ultimate Elongation (ASTM D412)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">300% Modulus (ASTM D412)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Melting Point</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Burst Pressure</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">Value / Units</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>60 Shore D</p>
        <p>&nbsp; </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.17	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">190 Lb/in	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">9000 psi	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">390%	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">5800 psi	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">361 ºF	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">500 psi</td>
    </tr>
    </table>
    
    <div class="script">
    <strong>Oil and Chemical Resistance</strong>
    
    </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Properties  </td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><p>Duro-</p>
        <p>meter </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Pts </p>
        <p class="txtwhite txt16 H83">Change </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tensile </p>
        <p class="txtwhite txt16 H83">Strength </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">% </p>
        <p class="txtwhite txt16 H83">Change </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Ultimate </p>
        <p class="txtwhite txt16 H83">Elonga-</p>
        <p class="txtwhite txt16 H83">tion</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">%</p>
        <p class="txtwhite txt16 H83"> Change </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Volume</p>
        <p class="txtwhite txt16 H83"> Change </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Mass </p>
        <p class="txtwhite txt16 H83">Change</p></td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">Air 70hr@212F </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>60 </p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">3 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">7334 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">7.2 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">600 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">11.9 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-0.02 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-0.01 </td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">Air 336hr@158F </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>60 </p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">3 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">6911.4 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-0.3 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">533 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-0.5 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-0.13</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">0.04 </td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">Fuel B 70hr@RT</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>53 </p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-4 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">7841 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">13 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">607 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">13.2 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"> Fuel C 70hr@212F </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>48 </p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-9 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">6249.4 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-9.9 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">584 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">8.9 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">15.13 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">10.81 </td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">Fuel H 70hr@212F </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>40 </p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-17 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">5177.6 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-25.3 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">629 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">17.3 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">29.82</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">20.48 </td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">IRM903 70hr@212F </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>59 </p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">2 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">6752.2 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-2.6 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">537 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">0.1 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">Iso. Liq 3 70hr@104F</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>37</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-20</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">5197</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-25</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">602</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">12.3</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">32.51</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">22.27</td>
    </tr>
    </table>

</div>
</div>