<div class="tablelist">
<div class="dz">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="353" valign="top"><strong>Applications</strong>
      <ul>
        <li>• Air tools / oil and fuel lines</li>
		<li>• Paint machines / hose reels</li>
		<li>• Polyether-based PU hoses for water applications: gardening, cleaning, medical and hydration tube</li>
		<li>• FDA and NSF grades available</li>
      </ul>        </td>
      <td width="353" valign="top"><strong>Features</strong>
      <ul>
        <li>• Light in weight</li>
        <li>• High tensile strength and elasticity</li>
        <li>• Excellent abrasion resistance</li>
        <li>• Good resistance to fuel, oils, and chemicals</li>
        <li>• Wide application temperature from -30ºC to +70ºC</li>
        <li>• Durable and long-lasting</li>
        <li>• Plasticizer free</li>
      </ul>        </td>
    </tr>
  </table>
  
  <div class="slogan hb36"></div>
  <!--<img src="resources/images/Multiple Straight.jpg" width="709" height="266" />-->
  <div class="script">
    <strong>Availability</strong>
    
    </div>
  <div class="twotable2"><div class="r35 floatl"><table width="280" border="0" cellpadding="0" cellspacing="0" class="line" >
    <tr>
      <td width="58%" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16"><p>Part No.</p></td>
      <td width="42%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><p>Burst Pressure (bars)</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">2.5 x 4.0 / 2.5 x 4.0								 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p><span class="txtwhite">25</span></p>
        <p>&nbsp;</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">2.5 x 4.0 / 8.0 x 12.0	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p><span class="txtwhite">25 </span></p>
        <p>&nbsp;</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">2.5 x 4.0 / 11.0 x 16.0	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">25 </p>
        <p class="txtwhite">&nbsp;</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">4.0 x 6.0 / 4.0 x 6.0	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">25 </p>
        <p class="txtwhite">&nbsp;</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">5.0 x 8.0 / 5.0 x 8.0								 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">25</p>
        <p class="txtwhite">&nbsp;</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">6.5 x 10.0 / 6.5 x 10.0								 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">25</p>
        <p class="txtwhite">&nbsp;</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">8.0 x 12.0 / 8.0 x 12.0</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">25</p>
        <p class="txtwhite"></p>
        <p>&nbsp;</p></td>
    </tr>
  </table>
  </div>
  </div>
  <div class="script">
    <strong>Technical Data</strong>
    
    </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Properties  (Methods)</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><p>Hardness (ASTM D2240)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Density (D792)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tear Strength (ASTM D624)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tensile Strength (ASTM D412)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Ultimate Elongation (ASTM D412)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">300% Modulus (ASTM D2489)</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Taber Abrasion (ASTM D3489)</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Bayshore Resilience (ASTM D2632)</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">Ether-based TPU</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">98 Shore A	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.15 g/cm<sup>3</sup>	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">90 kg/cm	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">450 kg/cm²	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">500%	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">160 kg/cm²	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">n/a	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">n/a</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">Ester-based TPU</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">95 Shore A	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.22 g/cm<sup>3</sup>	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">136 kN/m	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">41.4 Mpa	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">450%	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">n/a	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">70 mg loss*	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">25%</td>
    </tr>
    <tr>
      <td colspan="9" align="left" valign="top" bgcolor="#FFFFFF">** H-18 wheel, 1000g load, 1000 cycles</td>
    </tr>
</table>

</div>
</div>