<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Physical<br />
        Properties</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83">Tensile<br />
        Strength</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tear<br />
        Strength</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">300%<br />
        Modulus</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Elongation</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF" class="H56">(kg/cm²)<br />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm)<br />
        D624 (Die C)</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(%)<br />
        D412</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Composite/pdf/FDS9980-E.pdf" target="_blank">FDS9980</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 78 </p>
          <p>weft: 76 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 53 </p>
          <p>weft: 46 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 78 </p>
          <p>weft: 74 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 300 </p>
          <p>weft: 382 </p></td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Composite/pdf/FDS0880-E.pdf" target="_blank">FDS0880</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 185 </p>
          <p>weft: 183 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 77 </p>
          <p>weft: 71 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 80 </p>
          <p>weft: 77 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 516 </p>
          <p>weft: 518 </p></td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Composite/pdf/FKS8558+PF-E.pdf" target="_blank">FKS8558+PF</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 376 </p>
        <p>weft: 351 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 79 </p>
        <p>weft: 78 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 128 </p>
        <p>weft: 128 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 502 </p>
        <p>weft: 491 </p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Composite/pdf/FDS9933-E.pdf" target="_blank">FDS9933</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 182 </p>
        <p>weft: 142 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 85 </p>
        <p>weft: 76 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 117 </p>
        <p>weft: 103 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 377 </p>
        <p>weft: 361 </p></td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Composite/pdf/FDS5580-E.pdf" target="_blank">FDS5580</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 213 </p>
        <p>weft: 219</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 70 </p>
        <p>weft: 66</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 84 </p>
        <p>weft: 79</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 504</p>
        <p> weft: 523</p></td>
      </tr>
    <tr>
      <td colspan="5" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="5" align="left" valign="top" bgcolor="#FFFFFF"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>