<div class="tablelist">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr>
      <td width="90" rowspan="2" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Physical<BR />
        Properties / Item </td>
      <td width="88" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83">Hardness </td>
      <td width="88" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Speciﬁc<BR />
        Gravity</td>
      <td width="88" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tensile<BR />
        Strength</td>
      <td width="88" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tear<BR />
        Strength</td>
      <td width="88" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">300%<BR />
        Modulus</td>
      <td width="88" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Elongation</td>
      <td width="88" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Melting<BR />
        Point</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF" class="H56">(Shore A/D)<BR />
        D2240</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">D792</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<BR />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm)<BR />
        D624 (Die C)</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<BR />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(%)<BR />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(ºC)</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1013-E.pdf" target="_blank">FT1013</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">65D</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.18</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 524<BR />
        weft: 498</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 203 <br />
        weft: 218 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 445<br />
        weft: 329</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 322<br />
        weft: 427</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">177</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1014-E.pdf" target="_blank">FT1014</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">70D</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 518<br />
        weft: 458 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 236 <br />
        weft: 232 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 304 <br />
        weft: 347 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 319 <br />
        weft: 401</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">175</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1029-E.pdf" target="_blank">FT1029</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.13</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 411<br />
        weft: 408</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 113 <br />
        weft: 118 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 137 <br />
        weft: 108</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 548 <br />
        weft: 598 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p><a href="Aromatic/pdf/FT1H29-E.pdf" target="_blank">FT1H29</a></p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.12</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 533 <br />
        weft: 496</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 80 <br />
        weft: 86 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 131 <br />
        weft: 124</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 517 <br />
        weft: 527 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">149</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1029X4-NN-E.pdf" target="_blank">FT1029X4-NN</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.12</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 436 <br />
        weft: 459 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 118 <br />
        weft: 117 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 74 <br />
        weft: 71</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 749 <br />
        weft: 797 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1037-E.pdf" target="_blank">FT1037</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">75A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.11</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 496 <br />
        weft: 586 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 60<br />
        weft: 66</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 98 <br />
        weft: 70 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 584 <br />
        weft: 665 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">127</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1038-E.pdf" target="_blank">FT1038</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">80A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.13</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 300 <br />
        weft: 325 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 110 <br />
        weft: 115 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 65 <br />
        weft: 65 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 645 <br />
        weft: 665 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1039-E.pdf" target="_blank">FT1039</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">82A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.13</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 345 <br />
        weft: 335 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 105 <br />
        weft: 105 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 70 <br />
        weft: 65 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 635 <br />
        weft: 690 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1045-E.pdf" target="_blank">FT1045</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.14</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 514 <br />
        weft: 771</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 181 <br />
        weft: 189</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 331 <br />
        weft: 406 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 387 <br />
        weft: 401 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">165</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1087-E.pdf" target="_blank">FT1087</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">87A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.12</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 451<br />
        weft: 474</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 103<br />
        weft: 97</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 118<br />
        weft: 108</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 576<br />
        weft: 604</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1093-E.pdf" target="_blank">FT1093</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">92A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.13</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 610 <br />
        weft: 596 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 96 <br />
        weft: 98</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 230 <br />
        weft: 226 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 517<br />
        weft: 473 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">168</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1095-E.pdf" target="_blank">FT1095</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">95A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.12</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 472 <br />
        weft: 485 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 115<br />
        weft: 129</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 146 <br />
        weft: 148</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 547<br />
        weft: 540</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">160</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1098-E.pdf" target="_blank">FT1098</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">98A/53D</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.16</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp:691<br />
        weft: 681 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 133 <br />
        weft: 130 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 453 <br />
        weft: 427 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 367 <br />
        weft: 378 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">181</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1099-E.pdf" target="_blank">FT1099</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85D</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.22</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp:867<br />
        weft: 734 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 289 <br />
        weft: 319 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 504 <br />
        weft: 518</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 218 <br />
        weft: 173</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">160</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1929B-E.pdf" target="_blank">FT1929B</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.10</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 212 <br />
        weft: 171 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 71 <br />
        weft: 68</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 76<br />
        weft: 76</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 675<br />
        weft: 635</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">142</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT1929A10-E.pdf" target="_blank">FT1929A10</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.13</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 321<br />
        weft: 301</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 88<br />
        weft: 88</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 68<br />
        weft: 70</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 814<br />
        weft: 778</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT29E3X4-E.pdf" target="_blank">FT29E3X4</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">92A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.23</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 110 <br />
        weft: 110 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 62<br />
        weft: 62</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 104 <br />
        weft: 98 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 201 <br />
        weft: 294</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">133</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT3090-E.pdf" target="_blank">FT3090</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">90A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.14</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 565 <br />
        weft: 560 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 155<br />
        weft: 155</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 200<br />
        weft: 185 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 415<br />
        weft: 430</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">170</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT389S-E.pdf" target="_blank">FT389S</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">90A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.16</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp:364<br />
        weft: 402 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 71 <br />
        weft: 86 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: --- <br />
        weft: --- </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 491 <br />
        weft: 503</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">153</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Aromatic/pdf/FT5086-E.pdf" target="_blank">FT5086</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.13</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 411<br />
        weft: 408 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 113<br />
        weft: 118 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 137 <br />
        weft: 108</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 548 <br />
        weft: 598 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS1007-E.pdf" target="_blank">FS1007</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.22</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 390 <br />
        weft: 380 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 100 <br />
        weft: 105 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 80 <br />
        weft: 75 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 550 <br />
        weft: 570</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS1008-E.pdf" target="_blank">FS1008</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>92A</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.21</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 360 <br />
        weft: 350 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 130 <br />
        weft: 130 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 130 <br />
        weft: 140 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 465<br />
        weft: 440</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">145</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS1009-E.pdf" target="_blank">FS1009</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">90A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.22</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 767<br />
        weft: 770</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 105<br />
        weft: 111</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 165<br />
        weft: 161</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 544<br />
        weft: 555</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">147</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS1035-E.pdf" target="_blank">FS1035</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">74A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.17</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 404<br />
        weft: 389</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 87<br />
        weft: 83</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 43<br />
        weft: 43</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 736<br />
        weft: 740</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">140</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS2090-E.pdf" target="_blank">FS2090</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">86A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.20</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 435 <br />
        weft: 430 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 115 <br />
        weft: 115 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 105 <br />
        weft: 90 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 470<br />
        weft: 500</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">155</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS2091S-E.pdf" target="_blank">FS2091S</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.10</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 465<br />
        weft: 340 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 135<br />
        weft: 135</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 115<br />
        weft: 100</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 555<br />
        weft: 520</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS2095-E.pdf" target="_blank">FS2095</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">95A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.21</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 578 <br />
        weft: 629 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 159<br />
        weft: 161</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 325 <br />
        weft: 249</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 430<br />
        weft: 488</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">153</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS2865-E.pdf" target="_blank">FS2865</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">65D</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.22</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 773 <br />
        weft: 725 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 278 <br />
        weft: 278 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 492<br />
        weft: 475 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 392<br />
        weft: 384 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">185</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS2885-E.pdf" target="_blank">FS2885</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.20</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 546 <br />
        weft: 453 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 90 <br />
        weft: 86</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 123 <br />
        weft: 105 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 533 <br />
        weft: 633 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">143</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS2895-E.pdf" target="_blank">FS2895</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">95A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.20</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 683 <br />
        weft: 735</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 98 <br />
        weft: 87 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 210 <br />
        weft: 277</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 477 <br />
        weft: 507 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">155</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS3270-E.pdf" target="_blank">FS3270</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">75A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 399 <br />
        weft: 371 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 74 <br />
        weft: 78 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 81 <br />
        weft: 78 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 658 <br />
        weft: 661 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS3293-E.pdf" target="_blank">FS3293</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 623 <br />
        weft: 617</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 130<br />
        weft: 130</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 203<br />
        weft: 162 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 523 <br />
        weft: 529 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">175</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS4013-E.pdf" target="_blank">FS4013</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">74A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 250 <br />
        weft: 210 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 90 <br />
        weft: 95 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 55 <br />
        weft: 45</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 590<br />
        weft: 598</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">125</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS4055-E.pdf" target="_blank">FS4055</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">55A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.15</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 230 <br />
        weft: 253 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 57 <br />
        weft: 58 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 25<br />
        weft: 25</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 840 <br />
        weft: 900 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">98</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS4078-E.pdf" target="_blank">FS4078</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">75A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 355 <br />
        weft: 375 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 75 <br />
        weft: 80 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 70 <br />
        weft: 60 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 480 <br />
        weft: 505 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">105</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS5098-E.pdf" target="_blank">FS5098</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">77A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.13</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 454 <br />
        weft: 386 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 111 <br />
        weft: 110 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 104 <br />
        weft: 67 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 612 <br />
        weft: 707 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">152</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS80HT-E.pdf" target="_blank">FS80HT</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">82A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.20</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 284 <br />
        weft: 249 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 84 <br />
        weft: 87</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 62 <br />
        weft: 56 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 790 <br />
        weft: 872 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS8080-E.pdf" target="_blank">FS8080</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">80A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.21</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 172 <br />
        weft: 161 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 71<br />
        weft: 73</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 56 <br />
        weft: 55 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 806<br />
        weft: 846 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">118</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS8083-E.pdf" target="_blank">FS8083</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">83A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.21</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 130 <br />
        weft: 131 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 71<br />
        weft: 69 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 59 <br />
        weft: 57</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 856 <br />
        weft: 899 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">105</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS8085-E.pdf" target="_blank">FS8085</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.21</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 480 <br />
        weft: 485</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 95 <br />
        weft: 100</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 75 <br />
        weft: 85</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 495 <br />
        weft: 460 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS8088-E.pdf" target="_blank">FS8088</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.20</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 430<br />
        weft: 385</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 111<br />
        weft: 145</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 105<br />
        weft: 80</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 560<br />
        weft: 555</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS8090-E.pdf" target="_blank">FS8090</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">90A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.21</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 357<br />
        weft: 329 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 105<br />
        weft: 100 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 107<br />
        weft: 80 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 628 <br />
        weft: 724 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS8095-E.pdf" target="_blank">FS8095</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">95A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.20</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 495 <br />
        weft: 480 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 135<br />
        weft: 150</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 215<br />
        weft: 165 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 405<br />
        weft: 465 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">155</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Aromatic/pdf/FS8096-E.pdf" target="_blank">FS8096</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">96A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.23</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 389 <br />
        weft: 386 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 219 <br />
        weft: 231 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 305<br />
        weft: 294 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 381 <br />
        weft: 386 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">165</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><p><a href="Aromatic/pdf/FS9285-E.pdf" target="_blank">FS9285</a></p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.23</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 696 <br />
        weft: 695</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 106<br />
        weft: 111 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 151 <br />
        weft: 145 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">warp: 580 <br />
        weft: 558 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">---</td>
    </tr>
    <tr>
      <td colspan="8" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td height="39" colspan="8" align="left" valign="top" bgcolor="#FFFFFF"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>
