<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Physical Properties / Item </td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83">Hardness </td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Speciﬁc<br />
        Gravity</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tensile<br />
        Strength</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tear<br />
        Strength</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">300%<br />
        Modulus</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Elongation</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Melting<br />
        Point</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF" class="H56">(Shore A/D)<br />
        D2240</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">D792</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm)<br />
        D624 (Die C)</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(%)<br />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(ºC)</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="Hot%20Melt/pdf/FTA3270X39+PEX39-E.pdf" target="_blank" class="style1">FTA3270X39+PEX39</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">78A </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.07 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 345 </p>
        <p>weft: 354 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 48 </p>
        <p>weft: 50 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 82 </p>
        <p>weft: 79 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 514 </p>
        <p>weft: 537 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p><a href="Hot%20Melt/pdf/FT3254X1+DZ03-E.pdf" target="_blank">FT3254X1+DZ03</a></p>
          <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">58A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.05</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 77 </p>
          <p>weft: 47 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 12 </p>
          <p>weft: 14 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 11 </p>
          <p>weft: 9.2 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 916 </p>
          <p>weft: 852 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS2650-PE-E.pdf" target="_blank" class="style1">FS2650-PE</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">47D </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 450 </p>
        <p>weft: 450</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 115 </p>
        <p>weft: 115</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 85 </p>
        <p>weft: 75 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 800 </p>
        <p>weft: 810 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85 </td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS26V0-PE-E.pdf" target="_blank" class="style1">FS26V0-PE</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">92A </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.13 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 219 </p>
        <p>weft: 242 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 96 </p>
        <p>weft: 90 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 69 </p>
        <p>weft: 66 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 730 </p>
        <p>weft: 769 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85 </td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS3215X1+DZ03P-E.pdf" target="_blank" class="style1">FS3215X1+DZ03P</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">40D </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 318 </p>
        <p>weft: 296</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 77 </p>
        <p>weft: 80 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 72 </p>
        <p>weft: 64 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"> <p>warp: 903 </p>
        <p>weft: 891 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">60 </td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS3233X1+DZ03P-E.pdf" target="_blank" class="style1">FS3233X1+DZ03P</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">45D </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.16 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 445 </p>
        <p>weft: 435 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 88 </p>
        <p>weft: 91 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 70 </p>
        <p>weft: 58 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 892 </p>
        <p>weft: 902 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">90 </td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS3253X1+DZ03P-E.pdf" target="_blank" class="style1">FS3253X1+DZ03P</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">65A </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.15 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 177 </p>
        <p>weft: 184 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 45 </p>
        <p> weft: 45 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 23 </p>
        <p>weft: 22 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 1011 </p>
        <p>weft: 1026 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS3258X1+DZ03P-E.pdf" target="_blank" class="style1">FS3258X1+DZ03P</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">73A </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.16 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 121 </p>
        <p>weft: 125 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 37 </p>
        <p>weft: 37 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 28 </p>
        <p>weft: 30 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 911 </p>
        <p>weft: 945 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85 </td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS3280X1+DZ03P-E.pdf" target="_blank" class="style1">FS3280X1+DZ03P</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">83A </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.21 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 383 </p>
        <p>weft: 382 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 75 </p>
        <p>weft: 70 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 73 </p>
        <p>weft: 72 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 717 </p>
        <p>weft: 723 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">115 </td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><p><a href="Hot%20Melt/pdf/FS3713-E.pdf" target="_blank" class="style1">FS3713</a></p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">92A</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 525 </p>
          <p>weft: 453 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 74 </p>
          <p>weft: 72 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 111 </p>
          <p>weft: 108 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 838 </p>
          <p>weft: 813 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">65</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS4213+DZ03P-E.pdf" target="_blank" class="style1">FS4213+DZ03P</a> </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">95A </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.17 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 475 </p>
        <p>weft: 454 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 93 </p>
        <p>weft: 95 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 78 </p>
        <p>weft: 77 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 768 </p>
        <p>weft: 759 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">82 </td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Hot%20Melt/pdf/FS5723X1+DZ03P-E.pdf" target="_blank" class="style1">FS5723X1+DZ03P</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">40D</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.19</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 293 </p>
        <p>weft: 219</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 102 </p>
        <p>weft: 91</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 87 </p>
        <p>weft: 63</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 737 </p>
        <p>weft: 796</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">57</td>
      </tr>
    <tr>
      <td colspan="8" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="8" align="left" valign="top" bgcolor="#FFFFFF"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>