//Product Adventa™ Film

= content_for :title do 
  <title>DingZing | Adventa™ Film</title>
  
.path
  | Products > Adventa™ Film

.main_container

  #right.right
    .rightcont
      =rdownload_link_to("href", "")
  .main
    a.toggle href="#right" show Menu
    .leftcont
      .titleimage
        h1
          img src="/images/product/section_logo/10_advanta.png" alt="Adventa™"
      .maincont.library
        .slogan
          p Adventa (formerly known as Dintex®) is our original line of trademarked technical films. This industry-leading series is designed for applications that require outstanding waterproof functionality and breathability. Available in different levels of breathability for different applications, Adventa films come in a variety of colors and prints. Widely recognized as a top waterproof, breathable material, Adventa technical films can be used in a wide range of applications and products, including snow jackets, raincoats, and skiing and snowboarding gloves and hats.
          p The name Adventa is a combination of the words “advanced” and “ventilation,” highlighting the advanced breathability of this series of waterproof-breathable technical films.
        .contlist
          ul
            li: a href="/product/aventa_film_dintex_breathable.html" Adventa™ Breathable >>
            li: a href="/product/aventa_color.html" Adventa™ Breathable (Color) >>
            li: a href="/product/aventa_print.html" Adventa™ Breathable (Print) >>

/ <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
/ <html xmlns="http://www.w3.org/1999/xhtml">
/ <head>
/ <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
/ <title>DingZing</title>
/ <link href="resources/css/base.css" rel="stylesheet" type="text/css" />
/ <link rel="stylesheet" href="resources/css/global.css">
/ <!--[if IE 6]>
/ <script src="scripts/DD_belatedPNG_0.0.8a-min.js"></script>
/ <script>
/   DD_belatedPNG.fix('div,span,img,a,li,input,p,tr,iframe');
/ </script>
/ <![endif]--> 
/ <script type="text/javascript" src="scripts/jquery-1.6.2.min.js"></script>
/ <script type="text/javascript" src="scripts/jquery-ui-1.8.2.custom.min.js"></script>
/ <script type="text/javascript" src="scripts/jquery.ui.core.js"></script>
/ <script type="text/javascript" src="scripts/jquery.jqtransform.js"></script>
/ <script type="text/javascript" src="scripts/jquery.tools.min.js"></script>
/ <script type="text/javascript" src="scripts/jquery.corner.js"></script>
/ <script type="text/javascript" src="scripts/jquery.hoverIntent.js"></script>
/ <script type="text/javascript" src="scripts/jquery.cycle.all.js"></script>
/ <script type="text/javascript" src="scripts/jquery.bgiframe.js"></script>
/ <script type="text/javascript" src="scripts/jquery.tinyscrollbar.min.js"></script>
/ <script type="text/javascript" src="scripts/page.js"></script>

/ <script src="scripts/slides.min.jquery.js"></script>

/ <script>
/ 		$(function(){
/ 			$('#slides').slides({
/ 				preload: true,
/ 				preloadImage: 'resources/img/loading.gif',
/ 				play: 4000,
/ 				pause: 3500,
/ 				hoverPause: true
/ 			});
/ 		});
/ 	</script>
/ </head>

/ <body>
/ <div class="wrapper">
/ <div class="wrapper1">
/ <!-- head -->
/ <div class="header">
/   <h1 class="logo"><a href="index.htm"><strong>DingZing</strong></a></h1>
  
/   <!-- tab -->
/ <div id="tabcontent">

/ <div class="nav05">
/ <ul id="nav01">
/ <li><a href="product_duopel_film.html#" id="navnow101" class="imgnav" ><strong>Products</strong></a>
/ 		<!-- 下拉選單 -->
/ <div class="subdiv">

/    <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable04">
/     <tr class="subnavtitle">
/       <th valign="middle" class="subnavtitle01"><a href="product_provecta_film.html">Provecta Films</a></th>
/       <th rowspan="4" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
/   <tr>
/       <th valign="middle" class="subnavtitle01"><a href="product_orkesta_film.html">Orkesta Films</a></th>
/     </tr>
/     <tr>
/       <td valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_orkesta_film_orkesta_composite.html">Orkesta Composite</a></li>
/       </ul>
/       <div class="h19"></div>
/       </td>
/     </tr>
/     <tr>
/       <th valign="middle" class="subnavtitle01"><a href="product_duopel_film.html">Dintex Films
/ </a></th>
/     </tr>
/     <tr>
/       <td valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_duopel_film_dintex_breathable.html">Dintex Breathable</a></li>
/       </ul></td>
/     </tr>
/ </table>
/ </th>
/       <th valign="middle" class="subnavtitle01">Air Hoses</th>
/       <th valign="middle" class="subnavtitle01">Belts</th>
/       <th valign="middle" class="subnavtitle01no">Seals</th>
/     </tr>
/     <tr>
/       <td valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_provecta_film_provecta_aromatic.html">Provecta Aromatic</a></li>
/         <li><a href="product_provecta_film_provecta_aliphatic.html">Provecta Aliphatic</a></li>
/         <li><a href="product_provecta_film_provecta_hot_melt.html">Provecta Hot Melt</a></li>
/         <li><a href="product_provecta_film_provecta_tape.html">Provecta Tape</a></li>
/         <li><a href="product_provecta_film_provecta_foam.html">Provecta Foam</a></li>
/       </ul><div class="h19"></div></td>
/       <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
/ 	    <li><a href="product_dz_air_hoses_tubular_film.html">tubular_film</a></li>
/         <li><a href="product_dz_air_hoses_straight.html">Straight</a></li>
/         <li><a href="product_dz_air_hoses_multiple_straight.html">Multiple Straight</a></li>
/         <li><a href="product_dz_air_hoses_recoil.html">Recoil</a></li>
/         <li><a href="product_dz_air_hoses_braided.html">Braided</a></li>
/         <li><a href="product_dz_air_hoses_twin_braided.html">Twin Braided</a></li>
/         <li><a href="product_dz_air_hoses_machinery.html">Machinery</a></li>
/       </ul></td>
/       <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_dz_belt_round_rough.html">Round (Rough)</a></li>
/         <li><a href="product_dz_belt_round_smooth.html">Round (Smooth)</a></li>
/         <li><a href="product_dz_belt_v_belt.html">V-Belt</a></li>
/         <li><a href="product_dz_belt_ridgetop.html">ridgetop</a></li>
/       </ul></td>
/       <td rowspan="3" valign="top" class="sublinklineno"><ul class="sublink">
/         <li><a href="product_dz_seals_piston.html">Piston</a></li>
/         <li><a href="product_dz_seals_rod.html">Rod</a></li>
/         <li><a href="product_dz_seals_piston_rodseals.html">Piston and Rod</a></li>
/         <li><a href="product_dz_seals_rotary.html">Rotary</a></li>
/         <li><a href="product_dz_seals_buffer_ring.html">Buffer Ring</a></li>
/         <li><a href="product_dz_seals_dust_wiper.html">Dust Wiper</a></li>
/         <li><a href="product_dz_seals_metal_clad_wiper.html">Metal Clad Wiper</a></li>
/       </ul>
      
/       </td>
/     </tr>
/     <tr>
/       <th valign="middle" class="subnavtitle01"><a href="product_provecta_bio_film.html">Provecta Bio Films</a></th>
/     </tr>
/     <tr>
/       <td valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_provecta_bio_film_provecta_bio_aromatic.html">Provecta Bio</a></li>
/       </ul>
/       <div class="h19"></div>
/       </td>
/     </tr>
/     </table>
/ </div>
/ <!-- 下拉選單 end -->
/ </li>


/ <li><a href="product_duopel_film.html#" id="nav102" class="imgnav" ><strong>Applications</strong></a>
/ 		<!-- 下拉選單 -->
/ <div class="subdiv">
/   <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable01">
/     <tr class="subnavtitle">
/       <th valign="middle" class="subnavtitle02no"><ul class="sublink">
/         <li><a href="applications_apparel.html">Apparel</a></li>
/         <li><a href="applications_automotive.html">Automotive</a></li>
/         <li><a href="applications_electronics.html">Electronics</a></li>
/         <li><a href="applications_footwear.html">Footwear</a></li>
/         <li><a href="applications_medical.html">Medical</a></li>
/         <li><a href="applications_optical.html">Optical</a></li>
/         <li><a href="applications_outdoor.html">Outdoor / Sporting Goods</a></li>
/       </ul></th>
/     </tr>
/   </table>
/ </div>
/ <!-- 下拉選單 end -->
/ </li>


/ <li><a href="Library.html" id="nav103" class="imgnav" ><strong>Library</strong></a></li>



/ <li><a href="product_duopel_film.html#" id="nav104" class="imgnav" ><strong>Our Company</strong></a>
/ 		<!-- 下拉選單 -->
/ <div class="subdiv">
/   <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable02">
/     <tr class="subnavtitle">
/       <th valign="middle" class="subnavtitle02no"><ul class="sublink">
/         <li><a href="about_dingzing.html">About DingZing</a></li>
/         <li><a href="innovation_playground.html">Innovation Playground</a></li>
/         <li><a href="exhibition.html">Exhibitions</a></li>
/         <li><a href="news.html">News</a></li>
/       </ul></th>
/     </tr>
/   </table>
/ </div>

/ <!-- 下拉選單 end -->
/ </li>
/ <li><a href="product_duopel_film.html#" id="nav105" class="imgnav" ><strong>Contact Us</strong></a>
/ 		<!-- 下拉選單 -->
/ <div class="subdiv">
/  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable03">
/     <tr class="subnavtitle">
/       <th valign="middle" class="subnavtitle02no"><ul class="sublink">
/         <li><a href="contact_us_headquarters_and_branch.html">Global Offices</a></li>
/         <li><a href="contact_us_distrbutor_and_agents.html">Distributors & Agents</a></li>
/       </ul></th>
/     </tr>
/   </table>
/ </div>
/ <!-- 下拉選單 end -->
/ </li>



/ </ul>
/ </div>

/ </div>
/ <!-- tab end-->

/   <div id="searchbox">
/     <!--<div class="searchinfo">
/       <form id="form1" name="form1" method="post" action="">
/         <div class="searchtxt">
/           <input name="textfield" type="text" id="textfield" value="Search" onfocus="if(this.value=='Search') this.value='';" onblur="if(this.value=='') this.value='Search';"  />
/         </div>
/         <input name="imageField" type="image" class="b-s" id="imageField" src="resources/images/b-s.jpg" />
/       </form>
/     </div>-->
/     <div class="lang"><a href="tw/index.htm">中文</a> / English</div>
/   </div>
/ </div>
/ <div class="main">
/ <div class="path">Products > Dintex Films</div>
/ <table width="1200" border="0" cellspacing="0" cellpadding="0">
/   <tr>
/     <td align="left" valign="top" bgcolor="#FFFFFF"><div class="leftcont">
/ <div class="titleimage"><img src="resources/images/Title/2.3%20product_duopel_%20Film.jpg" width="799" height="124" /></div>
/ <div class="maincont">
/ <div class="slogan">
/ Dintex is our original line of trademarked technical films. This industry-leading series is designed for applications that require outstanding waterproof functionality and breathability. Available in different levels of breathability for different applications, Dintex films come in a variety of colors and prints. Widely recognized as one of the top waterproof, breathable materials, Dintex technical films can be used in a wide range of applications and products, including snow jackets, raincoats, and skiing and snowboarding gloves and hats.</div>
/ <div class="contlist">
/   <ul>


/     <li><a href="product_duopel_film_dintex_breathable.html">Dintex Breathable >></a></li>
/     <li><a href="product_doupel_color.html">Dintex Breathable (Color) >></a></li>
/     <li><a href="product_doupel_print.html">Dintex Breathable (Print) >></a></li>
    
/   </ul>
/   <div class="h130"></div></div>
/ </div>


/ </div></td>
/     <td align="left" valign="top" bgcolor="#E6E6E6"><div class="rightcont">
/ <div class="rtitleimage"><img src="resources/images/2.1%20product_provecta_Film_rtitle.jpg" /></div>
/ <div class="rcont1">
/       <p>What can you do to DingZing technical film?</p>
/       <div class="link03"><a href="download/pdf/Technical%20Brochure.pdf" target="_blank">Download the brochure >></a></div>
/ </div>
      
/  <div class="rcontact">
/   <strong>Get in touch with us.</strong>
/   <p>We offer an extensive range of advanced  technical films for a variety of products and applications. Contact us to learn more about how we can work together.</p><BR />
/   <p><a href="mailto:film@dingzing.com"><strong>film@dingzing.com</strong></a></p>
/  </div>
/     </div></td>
/   </tr>
/ </table>



/ </div>







/ <!-- head end-->
/ <div class="footer">Copyright © 2012 DingZing Chemical Corporation. All rights reserved.</div>
/ </div>
/ </div>


/ </body>
/ </html>
