<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DingZing</title>
<link href="resources/css/base.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="resources/css/global.css">
<!--[if IE 6]>
<script src="scripts/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('div,span,img,a,li,input,p,tr,iframe');
</script>
<![endif]--> 
<script type="text/javascript" src="scripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery.ui.core.js"></script>
<script type="text/javascript" src="scripts/jquery.jqtransform.js"></script>
<script type="text/javascript" src="scripts/jquery.tools.min.js"></script>
<script type="text/javascript" src="scripts/jquery.corner.js"></script>
<script type="text/javascript" src="scripts/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="scripts/jquery.cycle.all.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.js"></script>
<script type="text/javascript" src="scripts/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript" src="scripts/page.js"></script>

<script src="scripts/slides.min.jquery.js"></script>

<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'resources/img/loading.gif',
				play: 4000,
				pause: 3500,
				hoverPause: true
			});
		});
	</script>
</head>

<body>
<div class="wrapper">
<div class="wrapper1">
<!-- head -->
<div class="header">
  <h1 class="logo"><a href="index.htm"><strong>DingZing</strong></a></h1>
  
  <!-- tab -->
<div id="tabcontent">

<div class="nav05">
<ul id="nav01">
<li><a href="product_dz_belt_v_belt.html#" id="navnow101" class="imgnav" ><strong>Products</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">

  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable04">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle01"><a href="product_provecta_film.html">Provecta Films</a></th>
      <th rowspan="4" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_orkesta_film.html">Orkesta Films</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_orkesta_film_orkesta_composite.html">Orkesta Composite</a></li>
      </ul>
      <div class="h19"></div>
      </td>
    </tr>
    <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_duopel_film.html">Dintex Films
</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_duopel_film_dintex_breathable.html">Dintex Breathable</a></li>
      </ul></td>
    </tr>
</table>
</th>
      <th valign="middle" class="subnavtitle01">Air Hoses</th>
      <th valign="middle" class="subnavtitle01">Belts</th>
      <th valign="middle" class="subnavtitle01no">Seals</th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_provecta_film_provecta_aromatic.html">Provecta Aromatic</a></li>
        <li><a href="product_provecta_film_provecta_aliphatic.html">Provecta Aliphatic</a></li>
        <li><a href="product_provecta_film_provecta_hot_melt.html">Provecta Hot Melt</a></li>
        <li><a href="product_provecta_film_provecta_tape.html">Provecta Tape</a></li>
        <li><a href="product_provecta_film_provecta_foam.html">Provecta Foam</a></li>
      </ul><div class="h19"></div></td>
      <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
	    <li><a href="product_dz_air_hoses_tubular_film.html">tubular_film</a></li>
        <li><a href="product_dz_air_hoses_straight.html">Straight</a></li>
        <li><a href="product_dz_air_hoses_multiple_straight.html">Multiple Straight</a></li>
        <li><a href="product_dz_air_hoses_recoil.html">Recoil</a></li>
        <li><a href="product_dz_air_hoses_braided.html">Braided</a></li>
        <li><a href="product_dz_air_hoses_twin_braided.html">Twin Braided</a></li>
        <li><a href="product_dz_air_hoses_machinery.html">Machinery</a></li>
      </ul></td>
      <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_dz_belt_round_rough.html">Round (Rough)</a></li>
        <li><a href="product_dz_belt_round_smooth.html">Round (Smooth)</a></li>
        <li><a href="product_dz_belt_v_belt.html">V-Belt</a></li>
        <li><a href="product_dz_belt_ridgetop.html">ridgetop</a></li>
      </ul></td>
      <td rowspan="3" valign="top" class="sublinklineno"><ul class="sublink">
        <li><a href="product_dz_seals_piston.html">Piston</a></li>
        <li><a href="product_dz_seals_rod.html">Rod</a></li>
        <li><a href="product_dz_seals_piston_rodseals.html">Piston Rod</a></li>
        <li><a href="product_dz_seals_rotary.html">Rotary</a></li>
        <li><a href="product_dz_seals_buffer_ring.html">Buffer Ring</a></li>
        <li><a href="product_dz_seals_dust_wiper.html">Dust Wiper</a></li>
        <li><a href="product_dz_seals_metal_clad_wiper.html">Metal Clad Wiper</a></li>
      </ul>
      
      </td>
    </tr>
    <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_provecta_bio_film.html">Provecta Bio Films</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_provecta_bio_film_provecta_bio_aromatic.html">Provecta Bio</a></li>
      </ul>
      <div class="h19"></div>
      </td>
    </tr>
    </table>
</div>
<!-- 下拉選單 end -->
</li>


<li><a href="product_dz_belt_v_belt.html#" id="nav102" class="imgnav" ><strong>Applications</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable01">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="applications_apparel.html">Apparel</a></li>
        <li><a href="applications_automotive.html">Automotive</a></li>
        <li><a href="applications_electronics.html">Electronics</a></li>
        <li><a href="applications_footwear.html">Footwear</a></li>
        <li><a href="applications_medical.html">Medical</a></li>
        <li><a href="applications_optical.html">Optical</a></li>
        <li><a href="applications_outdoor.html">Outdoor / Sporting Goods</a></li>
      </ul></th>
    </tr>
  </table>
</div>
<!-- 下拉選單 end -->
</li>


<li><a href="Library.html" id="nav103" class="imgnav" ><strong>Library</strong></a></li>



<li><a href="product_dz_belt_v_belt.html#" id="nav104" class="imgnav" ><strong>Our Company</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable02">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="about_dingzing.html">About DingZing</a></li>
        <li><a href="innovation_playground.html">Innovation Playground</a></li>
        <li><a href="exhibition.html">Exhibitions</a></li>
        <li><a href="news.html">News</a></li>
      </ul></th>
    </tr>
  </table>
</div>

<!-- 下拉選單 end -->
</li>
<li><a href="product_dz_belt_v_belt.html#" id="nav105" class="imgnav" ><strong>Contact Us</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
 <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable03">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="contact_us_headquarters_and_branch.html">Global Offices</a></li>
        <li><a href="contact_us_distrbutor_and_agents.html">Distributors & Agents</a></li>
      </ul></th>
    </tr>
  </table>
</div>
<!-- 下拉選單 end -->
</li>



</ul>
</div>

</div>
<!-- tab end-->

  <div id="searchbox">
    <!--<div class="searchinfo">
      <form id="form1" name="form1" method="post" action="">
        <div class="searchtxt">
          <input name="textfield" type="text" id="textfield" value="Search" onfocus="if(this.value=='Search') this.value='';" onblur="if(this.value=='') this.value='Search';"  />
        </div>
        <input name="imageField" type="image" class="b-s" id="imageField" src="resources/images/b-s.jpg" />
      </form>
    </div>-->
    <div class="lang"><a href="tw/index.htm">中文</a> / English</div>
  </div>
</div>
<div class="main">
<div class="path">Products > DinZing Belts > V-Belts</div>
<table width="1200" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF"><div class="leftcont">
<div class="titleimage"><img src="resources/images/title2/2.5.3.jpg" width="799" height="124" /></div>
<div class="maincont">
<div class="slogan">DingZing Belts are a series of high recovery transmission belts that feature excellent mechanical, physical, and chemical properties. Highly durable, DingZing Belts provide good abrasion and impact resistance along with outstanding flexibility. </div>
<div class="tablelist">
<div class="dz">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="353" valign="top"><strong>Applications</strong>
      <ul><li>• Newspaper conveying  </li>
        <li>• Packing machines  </li>
        <li>• Ceramic and stoneware processing plants  </li>
        <li>• Cannery conveying equipment  </li>
        <li>• Floor and roof tiles  </li>
        <li>• Woodworking machines </li>
        <li>• Board plants and textile machines  </li>
        <li>• Power transmission belts  </li>
        <li>• Paper and cardboard converting industries</li>
        <li></li>
        <li></li>
      </ul>        </td>
      <td width="353" valign="top"><strong>Features</strong>
      <ul>
        <li>• Outstanding abrasion resistance  </li>
        <li>• High tensile and tear strength  </li>
        <li>• Resistance to oils, fuels, and oxygen  </li>
        <li>• Good weatherability and high impact resistance  </li>
        <li>• Low compression set  </li>
        <li>• Wide application temperatures  </li>
        <li>• Plasticizer free</li>
        <li></li>
      </ul>        </td>
    </tr>
  </table>
  <div class="slogan hb36"></div>
  <!--<p><img src="resources/images/2.5.3%20product_dz_belt_V-BELT_pic.jpg" width="709" height="265" /></p>-->
  <p><img src="resources/images/2.5.3%20product_dz_belt_V-BELT_pic2.jpg" width="709" height="78" /></p>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="381" valign="top"><p>Durometer: 88A</p>
        <p>Color: Red, Beige, Transparent </p>
        <p>Application Temp:-35ºC~+75ºC</p></td>
      <td width="326" valign="top"><p>&nbsp;</p>
        <ul>
          <li></li>
      </ul></td>
    </tr>
  </table>
  <div class="line1"></div>
  <div class="script">
    <strong>Availability</strong>
    
</div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="25%" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Type	</td>
      <td width="25%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Diameter (mm)	</span></td>
      <td width="25%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Packing (m/roll)	</span></td>
      <td width="25%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Min. Pulley Diameter</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">VM/10	 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">10×5.5 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">100	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">65</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite"> VA/13	 									 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">13×9 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">30	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">85</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">VB/17	 									 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">17×11.5 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">30	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">120</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">VC/22	 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">22×14  </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">30	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">150</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">VD/32	 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">32×20 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">30	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">210</span></td>
      </tr>
</table>
  <div class="script">
    <strong>Technical Data</strong>
    
    </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Hardness	</td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Density	</span></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tensile </p>
        <p class="txtwhite txt16 H83">Strength </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Ultimate </p>
        <p class="txtwhite txt16 H83">Elongation </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">20% Tensile</p>
        <p class="txtwhite txt16 H83"> Strength </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">100% Tensile</p>
        <p class="txtwhite txt16 H83"> Strength </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">300%Tensile </p>
        <p class="txtwhite txt16 H83">Strength</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><p>DIN 53505</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"> DIN 53505	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	 </td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#E7E8E9" ><p class="txtwhite">88 Shore A	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">1.19g/cm³	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">55N/mm³	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">600%	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">3.5N/mm²	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">6N/mm²	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">13N/mm²</span></td>
      </tr>
    </table>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p>Tear </p>
        <p>Strength </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><p class="txtwhite txt16">Abrasion </p>
        <p class="txtwhite txt16">Loss </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Compression</p>
        <p class="txtwhite txt16 H83"> Set</p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83"> 70ºC Compression Set</p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tensile Strength  21 days in 80ºC Water</p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Elongation at Break  21 days in 80ºC Water</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><p>DIN 53515	</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53516	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53517	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53517	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504 </td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#E7E8E9" ><p class="txtwhite">13N/mm²</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">30%</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">25%	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">40%	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">40N/mm²	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">650%</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
    </tr>
  </table>
</div>
</div>
</div>
    </div></td>
    <td align="left" valign="top" bgcolor="#E6E6E6"><div class="rightcont">


  <div class="rcontprodlist3">
      <p><a href="product_dz_belt_v_belt.html#">DingZing Belts</a></p>
      <ul>
        
        <li><a href="product_dz_belt_round_rough.html">Round (Rough)</a></li>
        <li><a href="product_dz_belt_round_smooth.html">Round (Smooth)</a></li>
        <li><a href="product_dz_belt_v_belt.html" class="now">V-Belt</a></li>
        <li><a href="product_dz_belt_ridgetop.html">ridgetop</a></li>
        
      </ul>
   </div>
      
 <div class="rcontact">
  <strong>Get in touch with us.</strong>
  <BR />
  <p><a href="mailto:hb@dingzing.com"><strong>hb@dingzing.com</strong></a></p>
  <BR />
  
</div>     
      
      
</div></td>
  </tr>
</table>



</div>







<!-- head end-->
<div class="footer">Copyright © 2012 DingZing Chemical Corporation. All rights reserved.</div>
</div>
</div>


</body>
</html>
