<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DingZing</title>
<link href="resources/css/base.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="resources/css/global.css">
<link rel="stylesheet" href="resources/css/open.css">
<!--[if IE 6]>
<script src="scripts/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('div,span,img,a,li,input,p,tr,iframe');
</script>
<![endif]--> 
<script type="text/javascript" src="scripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery.ui.core.js"></script>
<script type="text/javascript" src="scripts/jquery.jqtransform.js"></script>
<script type="text/javascript" src="scripts/jquery.tools.min.js"></script>
<script type="text/javascript" src="scripts/jquery.corner.js"></script>
<script type="text/javascript" src="scripts/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="scripts/jquery.cycle.all.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.js"></script>
<script type="text/javascript" src="scripts/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript" src="scripts/page.js"></script>

<script src="scripts/slides.min.jquery.js"></script>

<script type="text/javascript">
$(function(){

		$('#qaContent3 ul.accordionPart li div.qa_title').toggle(function(){
			$(this).addClass('qa_title_on');
			$(this).next('div.qa_content').slideDown();
		},function(){
			$(this).removeClass('qa_title_on');
			$(this).next('div.qa_content').slideUp();
		});
	

		$('#qaContent3 ul.accordionPart li div.open').addClass('qa_title_on');
		$('#qaContent3 ul.accordionPart li div.open').next('div.qa_content').show();
		$('#qaContent3 ul.accordionPart li div.open').click();
	});
</script>
</head>

<body>
<div class="wrapper">
<div class="wrapper1">
<!-- head -->
<div class="header">
  <h1 class="logo"><a href="index.htm"><strong>DingZing</strong></a></h1>
  
  <!-- tab -->
<div id="tabcontent">

<div class="nav05">
<ul id="nav01">
<li><a href="product_dz_seals_dust_wiper.html#" id="navnow101" class="imgnav" ><strong>Products</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">

  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable04">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle01"><a href="product_provecta_film.html">Provecta Films</a></th>
      <th rowspan="4" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_orkesta_film.html">Orkesta Films</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_orkesta_film_orkesta_composite.html">Orkesta Composite</a></li>
      </ul>
      <div class="h19"></div>
      </td>
    </tr>
    <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_duopel_film.html">Dintex Films
</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_duopel_film_dintex_breathable.html">Dintex Breathable</a></li>
      </ul></td>
    </tr>
</table>
</th>
      <th valign="middle" class="subnavtitle01">Air Hoses</th>
      <th valign="middle" class="subnavtitle01">Belts</th>
      <th valign="middle" class="subnavtitle01no">Seals</th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_provecta_film_provecta_aromatic.html">Provecta Aromatic</a></li>
        <li><a href="product_provecta_film_provecta_aliphatic.html">Provecta Aliphatic</a></li>
        <li><a href="product_provecta_film_provecta_hot_melt.html">Provecta Hot Melt</a></li>
        <li><a href="product_provecta_film_provecta_tape.html">Provecta Tape</a></li>
        <li><a href="product_provecta_film_provecta_foam.html">Provecta Foam</a></li>
      </ul><div class="h19"></div></td>
      <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
	    <li><a href="product_dz_air_hoses_tubular_film.html">tubular_film</a></li>
        <li><a href="product_dz_air_hoses_straight.html">Straight</a></li>
        <li><a href="product_dz_air_hoses_multiple_straight.html">Multiple Straight</a></li>
        <li><a href="product_dz_air_hoses_recoil.html">Recoil</a></li>
        <li><a href="product_dz_air_hoses_braided.html">Braided</a></li>
        <li><a href="product_dz_air_hoses_twin_braided.html">Twin Braided</a></li>
        <li><a href="product_dz_air_hoses_machinery.html">Machinery</a></li>
      </ul></td>
      <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_dz_belt_round_rough.html">Round (Rough)</a></li>
        <li><a href="product_dz_belt_round_smooth.html">Round (Smooth)</a></li>
        <li><a href="product_dz_belt_v_belt.html">V-Belt</a></li>
        <li><a href="product_dz_belt_ridgetop.html">ridgetop</a></li>
      </ul></td>
      <td rowspan="3" valign="top" class="sublinklineno"><ul class="sublink">
        <li><a href="product_dz_seals_piston.html">Piston</a></li>
        <li><a href="product_dz_seals_rod.html">Rod</a></li>
        <li><a href="product_dz_seals_piston_rodseals.html">Piston and Rod</a></li>
        <li><a href="product_dz_seals_rotary.html">Rotary</a></li>
        <li><a href="product_dz_seals_buffer_ring.html">Buffer Ring</a></li>
        <li><a href="product_dz_seals_dust_wiper.html">Dust Wiper</a></li>
        <li><a href="product_dz_seals_metal_clad_wiper.html">Metal Clad Wiper</a></li>
      </ul>
      
      </td>
    </tr>
    <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_provecta_bio_film.html">Provecta Bio Films</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_provecta_bio_Film_provecta_bio_aromatic.html">Provecta Bio</a></li>
      </ul>
      <div class="h19"></div>
      </td>
    </tr>
    </table>
</div>
<!-- 下拉選單 end -->
</li>


<li><a href="product_dz_seals_dust_wiper.html#" id="nav102" class="imgnav" ><strong>Applications</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable01">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="applications_apparel.html">Apparel</a></li>
        <li><a href="applications_automotive.html">Automotive</a></li>
        <li><a href="applications_electronics.html">Electronics</a></li>
        <li><a href="applications_footwear.html">Footwear</a></li>
        <li><a href="applications_medical.html">Medical</a></li>
        <li><a href="applications_optical.html">Optical</a></li>
        <li><a href="applications_outdoor.html">Outdoor / Sporting Goods</a></li>
      </ul></th>
    </tr>
  </table>
</div>
<!-- 下拉選單 end -->
</li>


<li><a href="Library.html" id="nav103" class="imgnav" ><strong>Library</strong></a></li>



<li><a href="product_dz_seals_dust_wiper.html#" id="nav104" class="imgnav" ><strong>Our Company</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable02">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="about_dingzing.html">About DingZing</a></li>
        <li><a href="innovation_playground.html">Innovation Playground</a></li>
        <li><a href="exhibition.html">Exhibitions</a></li>
        <li><a href="news.html">News</a></li>
      </ul></th>
    </tr>
  </table>
</div>

<!-- 下拉選單 end -->
</li>
<li><a href="product_dz_seals_dust_wiper.html#" id="nav105" class="imgnav" ><strong>Contact Us</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
 <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable03">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="contact_us_headquarters_and_branch.html">Global Offices</a></li>
        <li><a href="contact_us_distrbutor_and_agents.html">Distributors & Agents</a></li>
      </ul></th>
    </tr>
  </table>
</div>
<!-- 下拉選單 end -->
</li>



</ul>
</div>

</div>
<!-- tab end-->

  <div id="searchbox">
    <!--<div class="searchinfo">
      <form id="form1" name="form1" method="post" action="">
        <div class="searchtxt">
          <input name="textfield" type="text" id="textfield" value="Search" onfocus="if(this.value=='Search') this.value='';" onblur="if(this.value=='') this.value='Search';"  />
        </div>
        <input name="imageField" type="image" class="b-s" id="imageField" src="resources/images/b-s.jpg" />
      </form>
    </div>-->
    <div class="lang"><a href="tw/index.htm">中文</a> / English</div>
  </div>
</div>
<div class="main">
<div class="path">Products > DING ZING DZ Seals > Dust Wiper Seals</div>
<table width="1200" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF"><div class="leftcont">
<div class="titleimage"><img src="resources/images/title2/2.6.6.jpg" width="800" height="125" /></div>
<div class="maincont">
<div class="slogan">DING ZING DZ Seals, for hydraulic applications, all of which have excellent tensile strength, compression set, oil temperature and pressure resistance etc... DING ZING DZ is known for long lasting lift cycle, suitable for light, medium and heavy duty cylinders. </div>
<div class="tablelist">
<div class="dz">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td valign="top"><strong>Mechanical Properties</strong>
        <ul>
          <li>• Material: 8L95J (D-9), 8L953 </li>
          <li>• Specific Gravity (ASTM D792): 1.20 (D-9), 1.19 </li>
          <li>• Hardness (ASTM D2240): 95 (D-9), 93 </li>
          <li>• Tensile Strength (ASTM D412): 317 (D-9), 276 </li>
          <li>• 100% Modulus (ASTM D412): 110 (D-9), 100 </li>
          <li>• 300% Modulus (ASTM D412): 170 (D-9), 191 </li>
          <li>• Compression Set 70h/70ºC (ASTM D395B): 42 </li>
          <li>• Compression Set 70h/100ºC (ASTM D395B): 56 (D-9), 56</li>
          <li></li>
        </ul></td>
      <td valign="top"><strong>Oil Resistance</strong>
        <ul>
          <li>• Testing Oil: Hydraulic Oil 46# </li>
          <li>• Testing Temperature (ºC): 100 </li>
          <li>• Testing Time (Hour): 100 </li>
          <li>• Hardness Variation (Shore A): 0 </li>
          <li>• Tensile Strength Variation (%): -4 (D-9), -5 </li>
          <li>• Volume Variation (%): +0.08 (D-9), +0.12 </li>
          <li></li>
        </ul></td>
    </tr>
    <tr>
      <td width="353" valign="top"><strong>Working Conditions</strong><ul><li>• Working Speed: 0.03 ~ 0.5 m/sec </li>
          <li>• Working Temperature: -20ºC ~ 100ºC</li>
        </ul>
        <ul>
          <li></li>
          <li></li>
          </ul></td>
      <td width="353" valign="top">&nbsp;</td>
    </tr>
  </table>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="20%" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Type	</td>
      <td width="30%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Section	</span></td>
      <td width="16%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Material	</span></td>
      <td width="16%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Hardness </p>
        <p class="txtwhite txt16 H83">(Shore A) </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Adaptable </p>
        <p class="txtwhite txt16 H83">Temp ºC</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">D-9</td>
      <td align="center" valign="middle" bgcolor="#E7E8E9"><img src="resources/images/d9s.jpg" width="150" height="70" /></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">8L95J </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">95 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-20ºC ~ 100ºC</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">DH</td>
      <td align="center" valign="middle" bgcolor="#E7E8E9"><img src="resources/images/dh.jpg" width="150" height="70" /></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">8L953</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-20ºC ~ 100ºC</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">DH-03</td>
      <td align="center" valign="middle" bgcolor="#E7E8E9"><img src="resources/images/dh3s.jpg" width="150" height="70" /></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">8L953 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-20ºC ~ 100ºC</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">DH-04</td>
      <td align="center" valign="middle" bgcolor="#E7E8E9"><img src="resources/images/dh4s.jpg" width="150" height="70" /></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">8L953</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-20ºC ~ 100ºC</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">DH-05</td>
      <td align="center" valign="middle" bgcolor="#E7E8E9"><img src="resources/images/dh5s.jpg" width="150" height="70" /></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">8L953</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-20ºC ~ 100ºC</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">DH-07</td>
      <td align="center" valign="middle" bgcolor="#E7E8E9"><img src="resources/images/dh7s.jpg" width="150" height="70" /></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">8L953</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">93</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">-20ºC ~ 100ºC</td>
      </tr>
</table>

</div>
</div>
</div>
    </div></td>
    <td align="left" valign="top" bgcolor="#E6E6E6" width="403"><div class="rightcont">
    <div class="rprodlist">
<div class="sealstitle">DING ZING DZ Seals</div>
<div id="qaContent3">

	<ul class="accordionPart">
		<li>
			<div class="qa_title">Piston</div>
			<div class="qa_content">
            	
				<p><a href="product_dz_seals_piston.html">Piston Seals</a></p>
                <p><a href="d-1.html">D-1</a></p>
                <p><a href="d-8.html">D-8</a></p>
              
                
			</div>
		</li>
		<li>
			<div class="qa_title">Rod</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_rod.html">Rod Seals</a></p>
                <p><a href="d-2.html">D-2</a></p>
                <p><a href="d-3.html">D-3</a></p>
                
                 
			</div>
		</li>
        <li>
			<div class="qa_title">Piston and Rod</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_piston_rodseals.html">Piston and Rod Seals</a></p>
                <p><a href="un01.html">UN Ø4-9</a></p>
                <p><a href="un02.html">UN Ø10-15.8</a></p>
                <p><a href="un03.html">UN Ø16-20</a></p>
                <p><a href="un04.html">UN Ø22-31.8</a></p>
                <p><a href="un05.html">UN Ø32-42</a></p>
                <p><a href="un06.html">UN Ø43-60</a></p>
                <p><a href="un07.html">UN Ø61-78</a></p>
                <p><a href="un08.html">UN Ø80-107</a></p>
                <p><a href="un09.html">UN Ø110-175</a></p>
                <p><a href="un10.html">UN Ø180-370</a></p>
                <p><a href="un11.html">UN Ø1/2- 5 1/2</a></p>
                <p><a href="d-4.html">D-4</a></p>
                <p><a href="d-6.html">D-6</a></p>
                <p><a href="d-7.html">D-7</a></p>
                 
			</div>
		</li>
        <li>
			<div class="qa_title">Rotary</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_rotary.html">Rotary Seals</a></p>
                <p><a href="D-14.html">D-14</a></p>
               
            
                 
			</div>
		</li>
        <li> 
			<div class="qa_title">Buffer Ring</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_buffer_ring.html">Buffer Ring Seals</a></p>
                <p><a href="D-10.html">D-10</a></p>
               
            
                 
			</div>
		</li>
        <li>
			<div class="qa_title open">Dust Wiper</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_dust_wiper.html" id="one">Dust Wiper Seals</a></p>
                <p><a href="d-9.html">D-9</a></p>
                <p><a href="dh.html">DH</a></p>
                <p><a href="dh-3.html">DH-03</a></p>
                <p><a href="dh-4.html">DH-04</a></p>
                <p><a href="dh-5.html">DH-05</a></p>
                <p><a href="dh-7.html">DH-07</a></p>
            
                
			</div>
		</li>
        <li>
			<div class="qa_title">Metal Clad Wiper</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_metal_clad_wiper.html">Metal Clad Wiper Seals</a></p>
                <p><a href="me-1.html">ME-1</a></p>
                <p><a href="me-1n.html">ME-1N</a></p>
                <p><a href="me-2.html">ME-2</a></p>
                <p><a href="me-3.html">ME-3</a></p>
                <p><a href="me-4.html">ME-4</a></p>
                <p><a href="me-5.html">ME-5</a></p>
                <p><a href="me-8.html">ME-8</a></p>

                 
			</div>
		</li>
	</ul>
</div>
</div>
  
      <div class="rcontact">
  <strong>Get in touch with us.</strong>
  <BR />
  <p><a href="mailto:seals@dingzing.com"><strong>seals@dingzing.com</strong></a></p>
  <BR />
  
</div>     
      
      
</div></td>
  </tr>
</table>



</div>







<!-- head end-->
<div class="footer">Copyright © 2012 DingZing Chemical Corporation. All rights reserved.</div>
</div>
</div>


</body>
</html>
