<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DingZing</title>
<link href="resources/css/base.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="resources/css/global.css">
<!--[if IE 6]>
<script src="scripts/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('div,span,img,a,li,input,p,tr,iframe');
</script>
<![endif]--> 
<script type="text/javascript" src="scripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery.ui.core.js"></script>
<script type="text/javascript" src="scripts/jquery.jqtransform.js"></script>
<script type="text/javascript" src="scripts/jquery.tools.min.js"></script>
<script type="text/javascript" src="scripts/jquery.corner.js"></script>
<script type="text/javascript" src="scripts/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="scripts/jquery.cycle.all.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.js"></script>
<script type="text/javascript" src="scripts/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript" src="scripts/page.js"></script>

<script src="scripts/slides.min.jquery.js"></script>

<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'resources/img/loading.gif',
				play: 4000,
				pause: 3500,
				hoverPause: true
			});
		});
	</script>
<style type="text/css">
<!--
.style1 {color: #FFFFFF}
-->
</style>
</head>

<body>
<div class="wrapper">
<div class="wrapper1">
<!-- head -->
<div class="header">
  <h1 class="logo"><a href="index.htm"><strong>DingZing</strong></a></h1>
  
  <!-- tab -->
<div id="tabcontent">

<div class="nav05">
<ul id="nav01">
<li><a href="product_provecta_bio_Film_provecta_bio_aromatic.html#" id="navnow101" class="imgnav" ><strong>Products</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">

  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable04">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle01"><a href="product_provecta_film.html">Provecta Films</a></th>
      <th rowspan="4" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_orkesta_film.html">Orkesta Films</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_orkesta_film_orkesta_composite.html">Orkesta Composite</a></li>
      </ul>
      <div class="h19"></div>
      </td>
    </tr>
    <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_duopel_film.html">Dintex Films
</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_duopel_film_dintex_breathable.html">Dintex Breathable</a></li>
      </ul></td>
    </tr>
</table>
</th>
      <th valign="middle" class="subnavtitle01">Air Hoses</th>
      <th valign="middle" class="subnavtitle01">Belts</th>
      <th valign="middle" class="subnavtitle01no">Seals</th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_provecta_film_provecta_aromatic.html">Provecta Aromatic</a></li>
        <li><a href="product_provecta_film_provecta_aliphatic.html">Provecta Aliphatic</a></li>
        <li><a href="product_provecta_film_provecta_hot_melt.html">Provecta Hot Melt</a></li>
        <li><a href="product_provecta_film_provecta_tape.html">Provecta Tape</a></li>
        <li><a href="product_provecta_film_provecta_foam.html">Provecta Foam</a></li>
      </ul><div class="h19"></div></td>
      <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
	    <li><a href="product_dz_air_hoses_tubular_film.html">tubular_film</a></li>
        <li><a href="product_dz_air_hoses_straight.html">Straight</a></li>
        <li><a href="product_dz_air_hoses_multiple_straight.html">Multiple Straight</a></li>
        <li><a href="product_dz_air_hoses_recoil.html">Recoil</a></li>
        <li><a href="product_dz_air_hoses_braided.html">Braided</a></li>
        <li><a href="product_dz_air_hoses_twin_braided.html">Twin Braided</a></li>
        <li><a href="product_dz_air_hoses_machinery.html">Machinery</a></li>
      </ul></td>
      <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_dz_belt_round_rough.html">Round (Rough)</a></li>
        <li><a href="product_dz_belt_round_smooth.html">Round (Smooth)</a></li>
        <li><a href="product_dz_belt_v_belt.html">V-Belt</a></li>
        <li><a href="product_dz_belt_ridgetop.html">ridgetop</a></li>
      </ul></td>
      <td rowspan="3" valign="top" class="sublinklineno"><ul class="sublink">
        <li><a href="product_dz_seals_piston.html">Piston</a></li>
        <li><a href="product_dz_seals_rod.html">Rod</a></li>
        <li><a href="product_dz_seals_piston_rodseals.html">Piston and Rod</a></li>
        <li><a href="product_dz_seals_rotary.html">Rotary</a></li>
        <li><a href="product_dz_seals_buffer_ring.html">Buffer Ring</a></li>
        <li><a href="product_dz_seals_dust_wiper.html">Dust Wiper</a></li>
        <li><a href="product_dz_seals_metal_clad_wiper.html">Metal Clad Wiper</a></li>
      </ul>
      
      </td>
    </tr>
    <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_provecta_bio_film.html">Provecta Bio Films</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_provecta_bio_Film_provecta_bio_aromatic.html">Provecta Bio</a></li>
      </ul>
      <div class="h19"></div>
      </td>
    </tr>
    </table>
</div>
<!-- 下拉選單 end -->
</li>


<li><a href="product_provecta_bio_Film_provecta_bio_aromatic.html#" id="nav102" class="imgnav" ><strong>Applications</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable01">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="applications_apparel.html">Apparel</a></li>
        <li><a href="applications_automotive.html">Automotive</a></li>
        <li><a href="applications_electronics.html">Electronics</a></li>
        <li><a href="applications_footwear.html">Footwear</a></li>
        <li><a href="applications_medical.html">Medical</a></li>
        <li><a href="applications_optical.html">Optical</a></li>
        <li><a href="applications_outdoor.html">Outdoor / Sporting Goods</a></li>
      </ul></th>
    </tr>
  </table>
</div>
<!-- 下拉選單 end -->
</li>


<li><a href="Library.html" id="nav103" class="imgnav" ><strong>Library</strong></a></li>



<li><a href="product_provecta_bio_Film_provecta_bio_aromatic.html#" id="nav104" class="imgnav" ><strong>Our Company</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable02">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="about_dingzing.html">About DingZing</a></li>
        <li><a href="innovation_playground.html">Innovation Playground</a></li>
        <li><a href="exhibition.html">Exhibitions</a></li>
        <li><a href="news.html">News</a></li>
      </ul></th>
    </tr>
  </table>
</div>

<!-- 下拉選單 end -->
</li>
<li><a href="product_provecta_bio_Film_provecta_bio_aromatic.html#" id="nav105" class="imgnav" ><strong>Contact Us</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
 <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable03">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="contact_us_headquarters_and_branch.html">Global Offices</a></li>
        <li><a href="contact_us_distrbutor_and_agents.html">Distributors & Agents</a></li>
      </ul></th>
    </tr>
  </table>
</div>
<!-- 下拉選單 end -->
</li>



</ul>
</div>

</div>
<!-- tab end-->

  <div id="searchbox">
    <!--<div class="searchinfo">
      <form id="form1" name="form1" method="post" action="">
        <div class="searchtxt">
          <input name="textfield" type="text" id="textfield" value="Search" onfocus="if(this.value=='Search') this.value='';" onblur="if(this.value=='') this.value='Search';"  />
        </div>
        <input name="imageField" type="image" class="b-s" id="imageField" src="resources/images/b-s.jpg" />
      </form>
    </div>-->
    <div class="lang"><a href="tw/index.htm">中文</a> / English</div>
  </div>
</div>
<div class="main">
<div class="path">Products > Provecta<sup>TM</sup> Bio Films > Provecta<sup>TM</sup> Bio</div>
<table width="1200" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF"><div class="leftcont">
<div class="titleimage"><img src="resources/images/Title/2.7.1product_provecta_Bio%20Film_provecta_Bio.jpg" width="800" height="125" /></div>
<div class="maincont">
<div class="slogan">Provecta<sup>TM</sup> Bio films are not only environmentally friendly but are also ideal for applications that require flexibility, durability, and sturdiness, such as footwear.</div>
<div class="tablelist">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td rowspan="2" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Physical<br />
        Properties / Item </td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83">Hardness </td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Speciﬁc<br />
        Gravity</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tensile<br />
        Strength</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tear<br />
        Strength</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">300%<br />
        Modulus</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Elongation</td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Melting<br />
        Point</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF" class="H56">(Shore A/D)<br />
        D2240</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">D792</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm)<br />
        D624 (Die C)</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(%)<br />
        D412</td>
      <td align="left" valign="top" bgcolor="#FFFFFF">(ºC)</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Bio/pdf/FS6170X1+DZ03P-E.pdf" target="_blank">FS6170X1+DZ03P</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">77A </td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.22 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 309 </p>
          <p>weft: 324 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 40 </p>
          <p>weft: 40 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 54 </p>
          <p>weft: 53 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 687 </p>
          <p>weft: 700 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">116</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="Bio/pdf/FS6185-E.pdf" target="_blank">FS6185</a></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">85A	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9">1.22	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 410 </p>
        <p>weft: 394 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 83 </p>
        <p>weft: 80 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 125 </p>
        <p>weft: 112 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 596 </p>
        <p>weft: 623 </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">165</td>
    </tr>
    <tr>
      <td colspan="8" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
    </tr>
    <tr>
      <td colspan="8" align="left" valign="top" bgcolor="#FFFFFF"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
    </tr>
  </table>
</div>
</div>
<div class="h456"></div>

</div></td>
    <td align="left" valign="top" bgcolor="#E6E6E6"><div class="rightcont">
<div class="rtitleimage"><img src="resources/images/2.1%20product_provecta_Film_rtitle.jpg" /></div>
<div class="rcont1">
      <p>What can you do to DingZing technical film?</p>
      <div class="link03"><a href="download/pdf/Technical%20Brochure.pdf" target="_blank">Download the brochure >></a></div>
</div>
  <div class="rcontprodlist">
      <p><a href="product_provecta_bio_film.html">Provecta<sup>TM</sup> Bio Films
</a></p>
      <ul>
        
        <li><a href="product_provecta_bio_Film_provecta_bio_aromatic.html" class="now"> Provecta<sup>TM</sup> Bio</a></li>
      </ul>
   </div>
      
 <div class="rcontact">
  <strong>Get in touch with us.</strong>
  <p>We offer an extensive range of advanced  technical films for a variety of products and applications. Contact us to learn more about how we can work together.</p><BR />
  <p><a href="mailto:film@dingzing.com"><strong>film@dingzing.com</strong></a></p>
  </div>     
      
      
</div></td>
  </tr>
</table>



</div>







<!-- head end-->
<div class="footer">Copyright © 2012 DingZing Chemical Corporation. All rights reserved.</div>
</div>
</div>


</body>
</html>
