//Product Provecta Aliphatic

= content_for :title do 
  <title>DingZing | Provecta Aliphatic</title>
  
.path
  | Products > Provecta™ Films > Provecta™ Aliphatic

.main_container

  #right.right
    .rightcont
      .rtitleimage
        img src="/images/playground.jpg"
      .rcont1
        p
          | Find out more about how DingZing works with clients to develop and launch
          | products that energize industries.
        .link03
          a href="/innovation_playground/" Click here to go to the Innovation Playground >
  .main
    a.toggle href="#right" show Menu
    .leftcont
      .titleimage
        h1
          img src="/images/product/section_logo/products_section_logo_0000_provecta.png" alt="Provecta"
      .maincont.library
        .slogan
          p Provecta™ Aliphatic technical films are excellent for applications that require flexibility, durability, and sturdiness.
        =render "provecta_film_provecta_aromatic_table.html.erb"
        
/ <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
/ <html xmlns="http://www.w3.org/1999/xhtml">
/ <head>
/ <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
/ <title>DingZing</title>
/ <link href="resources/css/base.css" rel="stylesheet" type="text/css" />
/ <link rel="stylesheet" href="resources/css/global.css">
/ <!--[if IE 6]>
/ <script src="scripts/DD_belatedPNG_0.0.8a-min.js"></script>
/ <script>
/   DD_belatedPNG.fix('div,span,img,a,li,input,p,tr,iframe');
/ </script>
/ <![endif]--> 
/ <script type="text/javascript" src="scripts/jquery-1.6.2.min.js"></script>
/ <script type="text/javascript" src="scripts/jquery-ui-1.8.2.custom.min.js"></script>
/ <script type="text/javascript" src="scripts/jquery.ui.core.js"></script>
/ <script type="text/javascript" src="scripts/jquery.jqtransform.js"></script>
/ <script type="text/javascript" src="scripts/jquery.tools.min.js"></script>
/ <script type="text/javascript" src="scripts/jquery.corner.js"></script>
/ <script type="text/javascript" src="scripts/jquery.hoverIntent.js"></script>
/ <script type="text/javascript" src="scripts/jquery.cycle.all.js"></script>
/ <script type="text/javascript" src="scripts/jquery.bgiframe.js"></script>
/ <script type="text/javascript" src="scripts/jquery.tinyscrollbar.min.js"></script>
/ <script type="text/javascript" src="scripts/page.js"></script>

/ <script src="scripts/slides.min.jquery.js"></script>

/ <script>
/ 		$(function(){
/ 			$('#slides').slides({
/ 				preload: true,
/ 				preloadImage: 'resources/img/loading.gif',
/ 				play: 4000,
/ 				pause: 3500,
/ 				hoverPause: true
/ 			});
/ 		});
/ 	</script>
/ <style type="text/css">
/ <!--
/ .style1 {color: #FFFFFF}
/ -->
/ </style>
/ </head>

/ <body>
/ <div class="wrapper">
/ <div class="wrapper1">
/ <!-- head -->
/ <div class="header">
/   <h1 class="logo"><a href="index.htm"><strong>DingZing</strong></a></h1>
  
/   <!-- tab -->
/ <div id="tabcontent">

/ <div class="nav05">
/ <ul id="nav01">
/ <li><a href="product_provecta_film_provecta_aliphatic.html#" id="navnow101" class="imgnav" ><strong>Products</strong></a>
/ 		<!-- 下拉選單 -->
/ <div class="subdiv">

/   <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable04">
/     <tr class="subnavtitle">
/       <th valign="middle" class="subnavtitle01"><a href="product_provecta_film.html">Provecta Films</a></th>
/       <th rowspan="4" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
/   <tr>
/       <th valign="middle" class="subnavtitle01"><a href="product_orkesta_film.html">Orkesta Films</a></th>
/     </tr>
/     <tr>
/       <td valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_orkesta_film_orkesta_composite.html">Orkesta Composite</a></li>
/       </ul>
/       <div class="h19"></div>
/       </td>
/     </tr>
/     <tr>
/       <th valign="middle" class="subnavtitle01"><a href="product_duopel_film.html">Dintex Films
/ </a></th>
/     </tr>
/     <tr>
/       <td valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_duopel_film_dintex_breathable.html">Dintex Breathable</a></li>
/       </ul></td>
/     </tr>
/ </table>
/ </th>
/       <th valign="middle" class="subnavtitle01">Air Hoses</th>
/       <th valign="middle" class="subnavtitle01">Belts</th>
/       <th valign="middle" class="subnavtitle01no">Seals</th>
/     </tr>
/     <tr>
/       <td valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_provecta_film_provecta_aromatic.html">Provecta Aromatic</a></li>
/         <li><a href="product_provecta_film_provecta_aliphatic.html">Provecta Aliphatic</a></li>
/         <li><a href="product_provecta_film_provecta_hot_melt.html">Provecta Hot Melt</a></li>
/         <li><a href="product_provecta_film_provecta_tape.html">Provecta Tape</a></li>
/         <li><a href="product_provecta_film_provecta_foam.html">Provecta Foam</a></li>
/       </ul><div class="h19"></div></td>
/       <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
/ 	    <li><a href="product_dz_air_hoses_tubular_film.html">tubular_film</a></li>
/         <li><a href="product_dz_air_hoses_straight.html">Straight</a></li>
/         <li><a href="product_dz_air_hoses_multiple_straight.html">Multiple Straight</a></li>
/         <li><a href="product_dz_air_hoses_recoil.html">Recoil</a></li>
/         <li><a href="product_dz_air_hoses_braided.html">Braided</a></li>
/         <li><a href="product_dz_air_hoses_wwin_braided.html">Twin Braided</a></li>
/         <li><a href="product_dz_air_hoses_machinery.html">Machinery</a></li>
/       </ul></td>
/       <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_dz_belt_round_rough.html">Round (Rough)</a></li>
/         <li><a href="product_dz_belt_round_smooth.html">Round (Smooth)</a></li>
/         <li><a href="product_dz_belt_v_belt.html">V-Belt</a></li>
/         <li><a href="product_dz_belt_ridgetop.html">ridgetop</a></li>
/       </ul></td>
/       <td rowspan="3" valign="top" class="sublinklineno"><ul class="sublink">
/         <li><a href="product_dz_seals_piston.html">Piston</a></li>
/         <li><a href="product_dz_seals_rod.html">Rod</a></li>
/         <li><a href="product_dz_seals_piston_rodseals.html">Piston and Rod</a></li>
/         <li><a href="product_dz_seals_rotary.html">Rotary</a></li>
/         <li><a href="product_dz_seals_buffer_ring.html">Buffer Ring</a></li>
/         <li><a href="product_dz_seals_dust_wiper.html">Dust Wiper</a></li>
/         <li><a href="product_dz_seals_metal_clad_wiper.html">Metal Clad Wiper</a></li>
/       </ul>
      
/       </td>
/     </tr>
/     <tr>
/       <th valign="middle" class="subnavtitle01"><a href="product_provecta_bio_film.html">Provecta Bio Films</a></th>
/     </tr>
/     <tr>
/       <td valign="top" class="sublinkline"><ul class="sublink">
/         <li><a href="product_provecta_bio_film_provecta_bio_aromatic.html">Provecta Bio</a></li>
/       </ul>
/       <div class="h19"></div>
/       </td>
/     </tr>
/     </table>
/ </div>
/ <!-- 下拉選單 end -->
/ </li>


/ <li><a href="product_provecta_film_provecta_aliphatic.html#" id="nav102" class="imgnav" ><strong>Applications</strong></a>
/ 		<!-- 下拉選單 -->
/ <div class="subdiv">
/   <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable01">
/     <tr class="subnavtitle">
/       <th valign="middle" class="subnavtitle02no"><ul class="sublink">
/         <li><a href="applications_apparel.html">Apparel</a></li>
/         <li><a href="applications_automotive.html">Automotive</a></li>
/         <li><a href="applications_electronics.html">Electronics</a></li>
/         <li><a href="applications_footwear.html">Footwear</a></li>
/         <li><a href="applications_medical.html">Medical</a></li>
/         <li><a href="applications_optical.html">Optical</a></li>
/         <li><a href="applications_outdoor.html">Outdoor / Sporting Goods</a></li>
/       </ul></th>
/     </tr>
/   </table>
/ </div>
/ <!-- 下拉選單 end -->
/ </li>


/ <li><a href="Library.html" id="nav103" class="imgnav" ><strong>Library</strong></a></li>



/ <li><a href="product_provecta_film_provecta_aliphatic.html#" id="nav104" class="imgnav" ><strong>Our Company</strong></a>
/ 		<!-- 下拉選單 -->
/ <div class="subdiv">
/   <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable02">
/     <tr class="subnavtitle">
/       <th valign="middle" class="subnavtitle02no"><ul class="sublink">
/         <li><a href="about_dingzing.html">About DingZing</a></li>
/         <li><a href="innovation_playground.html">Innovation Playground</a></li>
/         <li><a href="exhibition.html">Exhibitions</a></li>
/         <li><a href="news.html">News</a></li>
/       </ul></th>
/     </tr>
/   </table>
/ </div>

/ <!-- 下拉選單 end -->
/ </li>
/ <li><a href="product_provecta_film_provecta_aliphatic.html#" id="nav105" class="imgnav" ><strong>Contact Us</strong></a>
/ 		<!-- 下拉選單 -->
/ <div class="subdiv">
/  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable03">
/     <tr class="subnavtitle">
/       <th valign="middle" class="subnavtitle02no"><ul class="sublink">
/         <li><a href="contact_us_headquarters_and_branch.html">Global Offices</a></li>
/         <li><a href="contact_us_distrbutor_and_agents.html">Distributors & Agents</a></li>
/       </ul></th>
/     </tr>
/   </table>
/ </div>
/ <!-- 下拉選單 end -->
/ </li>



/ </ul>
/ </div>

/ </div>
/ <!-- tab end-->

/   <div id="searchbox">
/     <!--<div class="searchinfo">
/       <form id="form1" name="form1" method="post" action="">
/         <div class="searchtxt">
/           <input name="textfield" type="text" id="textfield" value="Search" onfocus="if(this.value=='Search') this.value='';" onblur="if(this.value=='') this.value='Search';"  />
/         </div>
/         <input name="imageField" type="image" class="b-s" id="imageField" src="resources/images/b-s.jpg" />
/       </form>
/     </div>-->
/     <div class="lang"><a href="tw/index.htm">中文</a> / English</div>
/   </div>
/ </div>
/ <div class="main">
/ <div class="path">Products > Provecta<sup>TM</sup> Films > Provecta<sup>TM</sup> Aliphatic</div>
/ <table width="1200" border="0" cellspacing="0" cellpadding="0">
/   <tr>
/     <td align="left" valign="top" bgcolor="#FFFFFF"><div class="leftcont">
/ <div class="titleimage"><img src="resources/images/Title/2.1.2%20product_provecta_Film_provecta_Aliphatic.jpg" width="799" height="124" /></div>
/ <div class="maincont">
/ <div class="slogan">
/ Provecta<sup>TM</sup> Aliphatic technical films are UV stable and best for applications that require optical clarity, such as surface protection or glass lamination.</div>
/ <div class="tablelist">
/   <table width="100%" border="0" cellpadding="0" cellspacing="0" >
/     <tr>
/       <td rowspan="2" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Physical<br />
/         Properties / Item </td>
/       <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83">Hardness </td>
/       <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Speciﬁc<br />
/         Gravity</td>
/       <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tensile<br />
/         Strength</td>
/       <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Tear<br />
/         Strength</td>
/       <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">300%<br />
/         Modulus</td>
/       <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Elongation</td>
/       <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Melting<br />
/         Point</td>
/       <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">UV<br />
/         Discoloration</td>
/     </tr>
/     <tr>
/       <td align="left" valign="top" bgcolor="#FFFFFF" class="H56">(Shore A/D)<br />
/         D2240</td>
/       <td align="left" valign="top" bgcolor="#FFFFFF">D792</td>
/       <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
/         D412</td>
/       <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm)<br />
/         D624 (Die C)</td>
/       <td align="left" valign="top" bgcolor="#FFFFFF">(kg/cm²)<br />
/         D412</td>
/       <td align="left" valign="top" bgcolor="#FFFFFF">(%)<br />
/         D412</td>
/       <td align="left" valign="top" bgcolor="#FFFFFF">(ºC)</td>
/       <td align="left" valign="top" bgcolor="#FFFFFF">G154</td>
/     </tr>
/     <tr>
/       <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p><a href="aliphatic/pdf/FTA3270X39_PEX39-E.pdf" target="_blank">FTA3270X39+PEX39</a></p>
/         <p>&nbsp;</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">78A</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">1.07</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 345 </p>
/           <p>weft: 354 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 48 </p>
/           <p>weft: 50 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 82 </p>
/           <p>weft: 79 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 514 </p>
/           <p>weft: 537 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">93</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">--</td>
/     </tr>
/     <tr>
/       <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="aliphatic/pdf/FTA3290_5.5-E.pdf" target="_blank">FTA3290+5.5</a></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">92A</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">1.09   </td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 681 </p>
/         <p>weft: 610 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 77 </p>
/         <p>weft: 68 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 419 </p>
/         <p>weft: 415 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 370 </p>
/         <p>weft: 351 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">92   </td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
/     </tr>
/     <tr>
/       <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><a href="aliphatic/pdf/FTA3296_5.5-E.pdf" target="_blank">FTA3296+5.5</a></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">55D  </td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">1.08</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 616 </p>
/         <p>weft: 605</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 87 </p>
/         <p>weft: 87 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 432 </p>
/         <p>weft: 415 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 374 </p>
/         <p>weft: 355 </p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">104</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
/     </tr>
/     <tr>
/       <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="aliphatic/pdf/FSA3295_30-E.pdf" target="_blank">FSA3295+30</a></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">48D</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">1.12</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 670 </p>
/         <p>weft: 636</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 112 </p>
/         <p>weft: 109</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 418 </p>
/         <p>weft: 420</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 393 </p>
/         <p>weft: 387</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">107</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
/     </tr>
/     <tr>
/       <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><a href="aliphatic/pdf/FSA3H95_5.5-E.pdf" target="_blank">FSA3H95+5.5</a></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>95A</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">1.16</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 580 </p>
/         <p>weft: 534</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 103 </p>
/         <p>weft: 102</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 164 </p>
/         <p>weft: 158</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9"><p>warp: 609 </p>
/         <p>weft: 594</p></td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">142</td>
/       <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
/     </tr>
/     <tr>
/       <td colspan="9" align="left" valign="top" bgcolor="#FFFFFF">** The data and information provided are for reference only and are not guaranteed.</td>
/     </tr>
/     <tr>
/       <td colspan="9" align="left" valign="top" bgcolor="#FFFFFF"><span class="undertable1">█</span>Ether-based ﬁlms <span class="undertable2">█</span>Ester-based ﬁlms</td>
/     </tr>
/   </table>
/ </div>
/ </div>
/ <div class="h456"></div>

/ </div></td>
/     <td align="left" valign="top" bgcolor="#E6E6E6"><div class="rightcont">
/ <div class="rtitleimage"><img src="resources/images/2.1%20product_provecta_Film_rtitle.jpg" /></div>
/ <div class="rcont1">
/       <p>What can you do to DingZing technical film?</p>
/       <div class="link03"><a href="download/pdf/Technical%20Brochure.pdf" target="_blank">Download the brochure >></a></div>
/ </div>
/   <div class="rcontprodlist">
/       <p><a href="product_provecta_film.html">Provecta<sup>TM</sup> Films</a></p>
/       <ul>
/         <li><a href="product_provecta_Film_provecta_Aromatic.html">Provecta<sup>TM</sup> Aromatic</a></li>
/         <li><a href="product_provecta_film_provecta_aliphatic.html" class="now">Provecta<sup>TM</sup> Aliphatic</a></li>
/         <li><a href="product_provecta_Film_provecta_Hot%20Melt.html">Provecta<sup>TM</sup> Hot Melt</a></li>
/         <li><a href="product_provecta_film_provecta_tape.html">Provecta<sup>TM</sup> Tape</a></li>
/         <li><a href="product_provecta_Film_provecta_Foam.html">Provecta<sup>TM</sup> Foam</a></li>
/       </ul>
/    </div>
      
/  <div class="rcontact">
/   <strong>Get in touch with us.</strong>
/   <p>We offer an extensive range of advanced  technical films for a variety of products and applications. Contact us to learn more about how we can work together.</p><BR />
/   <p><a href="mailto:film@dingzing.com"><strong>film@dingzing.com</strong></a></p>
/   <BR />
/  </div>
/     </div></td>
/   </tr>
/ </table>



/ </div>







/ <!-- head end-->
/ <div class="footer">Copyright © 2012 DingZing Chemical Corporation. All rights reserved.</div>
/ </div>
/ </div>


/ </body>
/ </html>
