<div class="tablelist">
  <div class="dz">
    <div class="r17">
      <table width="335" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td width="60" class="col_0 txtwhite txt16">Items </td>
          <td width="55" class="col_h txt16 H83"><span class="txtwhite txt16">Ø d  </span></td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">Ø D  </span></td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">t</span></td>
          <td width="55" class="col_h txt16">h</td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">H</span></td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">14</td>
          <td class="td">19</td>
          <td class="td">2</td>
          <td class="td">3.2</td>
          <td class="td">2.5</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">30</td>
          <td class="td">38</td>
          <td class="td">5</td>
          <td class="td">6.5</td>
          <td class="td">6</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">35</td>
          <td class="td">43</td>
          <td class="td">6</td>
          <td class="td">8</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">40</td>
          <td class="td">50</td>
          <td class="td">6</td>
          <td class="td">8</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">45</td>
          <td class="td">55</td>
          <td class="td">6</td>
          <td class="td">8</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">50</td>
          <td class="td">60</td>
          <td class="td">6</td>
          <td class="td">8</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">50</td>
          <td class="td">63</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">55</td>
          <td class="td">65</td>
          <td class="td">6</td>
          <td class="td">8</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">55</td>
          <td class="td">68</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">60</td>
          <td class="td">73</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">65</td>
          <td class="td">78</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">70</td>
          <td class="td">80</td>
          <td class="td">6</td>
          <td class="td">8</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">70</td>
          <td class="td">83</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">75</td>
          <td class="td">88</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">80</td>
          <td class="td">93</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">85</td>
          <td class="td">98</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
      </table>
    </div>
    <div class="l18">
      <table width="335" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td width="60" class="col_0 txtwhite txt16">Items </td>
          <td width="55" class="col_h txt16 H83"><span class="txtwhite txt16">Ø d </span></td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">Ø D </span></td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">t</span></td>
          <td width="55" class="col_h txt16">h</td>
          <td width="55" class="col_h txt16"><span class="txtwhite txt16 H83">H</span></td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">90</td>
          <td class="td">103</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">92</td>
          <td class="td">107.1</td>
          <td class="td">6.1</td>
          <td class="td">9</td>
          <td class="td">7</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">95</td>
          <td class="td">108</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">100</td>
          <td class="td">113</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">105</td>
          <td class="td">118</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">108</td>
          <td class="td">123</td>
          <td class="td">6.5</td>
          <td class="td">10.3</td>
          <td class="td">7.5</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">110</td>
          <td class="td">123</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">120</td>
          <td class="td">133</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">125</td>
          <td class="td">138</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">130</td>
          <td class="td">143</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">136</td>
          <td class="td">149</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">140</td>
          <td class="td">155</td>
          <td class="td">6.5</td>
          <td class="td">10.3</td>
          <td class="td">7.5</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">155</td>
          <td class="td">170</td>
          <td class="td">6.5</td>
          <td class="td">10.3</td>
          <td class="td">7.5</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">160</td>
          <td class="td">173</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">170</td>
          <td class="td">183</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
        <tr>
          <td class="col_et txtwhite"><p>D-9</p>
          <p>&nbsp;</p></td>
          <td class="td">190</td>
          <td class="td">203</td>
          <td class="td">7</td>
          <td class="td">9.5</td>
          <td class="td">8</td>
        </tr>
      </table>
    </div>
  </div>
</div>