<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DingZing</title>
<link href="resources/css/base.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="resources/css/global.css">
<link rel="stylesheet" href="resources/css/open.css">
<!--[if IE 6]>
<script src="scripts/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('div,span,img,a,li,input,p,tr,iframe');
</script>
<![endif]--> 
<script type="text/javascript" src="scripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="scripts/jquery.ui.core.js"></script>
<script type="text/javascript" src="scripts/jquery.jqtransform.js"></script>
<script type="text/javascript" src="scripts/jquery.tools.min.js"></script>
<script type="text/javascript" src="scripts/jquery.corner.js"></script>
<script type="text/javascript" src="scripts/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="scripts/jquery.cycle.all.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.js"></script>
<script type="text/javascript" src="scripts/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript" src="scripts/page.js"></script>

<script src="scripts/slides.min.jquery.js"></script>

<script type="text/javascript">
$(function(){

		$('#qaContent3 ul.accordionPart li div.qa_title').toggle(function(){
			$(this).addClass('qa_title_on');
			$(this).next('div.qa_content').slideDown();
		},function(){
			$(this).removeClass('qa_title_on');
			$(this).next('div.qa_content').slideUp();
		});
	

		$('#qaContent3 ul.accordionPart li div.open').addClass('qa_title_on');
		$('#qaContent3 ul.accordionPart li div.open').next('div.qa_content').show();
		$('#qaContent3 ul.accordionPart li div.open').click();
	});
</script>
</head>

<body>
<div class="wrapper">
<div class="wrapper1">
<!-- head -->
<div class="header">
  <h1 class="logo"><a href="index.htm"><strong>DingZing</strong></a></h1>
  
  <!-- tab -->
<div id="tabcontent">

<div class="nav05">
<ul id="nav01">
<li><a href="dh.html#" id="navnow101" class="imgnav" ><strong>Products</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">

  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable04">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle01"><a href="product_provecta_film.html">Provecta Films</a></th>
      <th rowspan="4" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_orkesta_film.html">Orkesta Films</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_orkesta_film_orkesta_composite.html">Orkesta Composite</a></li>
      </ul>
      <div class="h19"></div>
      </td>
    </tr>
    <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_duopel_film.html">Dintex Films
</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_duopel_film_dintex_breathable.html">Dintex Breathable</a></li>
      </ul></td>
    </tr>
</table>
</th>
      <th valign="middle" class="subnavtitle01">Air Hoses</th>
      <th valign="middle" class="subnavtitle01">Belts</th>
      <th valign="middle" class="subnavtitle01no">Seals</th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_provecta_film_provecta_aromatic.html">Provecta Aromatic</a></li>
        <li><a href="product_provecta_film_provecta_aliphatic.html">Provecta Aliphatic</a></li>
        <li><a href="product_provecta_film_provecta_hot_melt.html">Provecta Hot Melt</a></li>
        <li><a href="product_provecta_film_provecta_tape.html">Provecta Tape</a></li>
        <li><a href="product_provecta_film_provecta_foam.html">Provecta Foam</a></li>
      </ul><div class="h19"></div></td>
      <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
	    <li><a href="product_dz_air_hoses_tubular_film.html">tubular_film</a></li>
        <li><a href="product_dz_air_hoses_straight.html">Straight</a></li>
        <li><a href="product_dz_air_hoses_multiple_straight.html">Multiple Straight</a></li>
        <li><a href="product_dz_air_hoses_recoil.html">Recoil</a></li>
        <li><a href="product_dz_air_hoses_braided.html">Braided</a></li>
        <li><a href="product_dz_air_hoses_twin_braided.html">Twin Braided</a></li>
        <li><a href="product_dz_air_hoses_machinery.html">Machinery</a></li>
      </ul></td>
      <td rowspan="3" valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_dz_belt_round_rough.html">Round (Rough)</a></li>
        <li><a href="product_dz_belt_round_smooth.html">Round (Smooth)</a></li>
        <li><a href="product_dz_belt_v_belt.html">V-Belt</a></li>
        <li><a href="product_dz_belt_ridgetop.html">ridgetop</a></li>
      </ul></td>
      <td rowspan="3" valign="top" class="sublinklineno"><ul class="sublink">
        <li><a href="product_dz_seals_piston.html">Piston</a></li>
        <li><a href="product_dz_seals_rod.html">Rod</a></li>
        <li><a href="product_dz_seals_piston_rodseals.html">Piston and Rod</a></li>
        <li><a href="product_dz_seals_rotary.html">Rotary</a></li>
        <li><a href="product_dz_seals_buffer_ring.html">Buffer Ring</a></li>
        <li><a href="product_dz_seals_dust_wiper.html">Dust Wiper</a></li>
        <li><a href="product_dz_seals_metal_clad_wiper.html">Metal Clad Wiper</a></li>
      </ul>
      
      </td>
    </tr>
    <tr>
      <th valign="middle" class="subnavtitle01"><a href="product_provecta_bio_film.html">Provecta Bio Films</a></th>
    </tr>
    <tr>
      <td valign="top" class="sublinkline"><ul class="sublink">
        <li><a href="product_provecta_bio_Film_provecta_bio_aromatic.html">Provecta Bio</a></li>
      </ul>
      <div class="h19"></div>
      </td>
    </tr>
    </table>
</div>
<!-- 下拉選單 end -->
</li>


<li><a href="dh.html#" id="nav102" class="imgnav" ><strong>Applications</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable01">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="applications_apparel.html">Apparel</a></li>
        <li><a href="applications_automotive.html">Automotive</a></li>
        <li><a href="applications_electronics.html">Electronics</a></li>
        <li><a href="applications_footwear.html">Footwear</a></li>
        <li><a href="applications_medical.html">Medical</a></li>
        <li><a href="applications_optical.html">Optical</a></li>
        <li><a href="applications_outdoor.html">Outdoor / Sporting Goods</a></li>
      </ul></th>
    </tr>
  </table>
</div>
<!-- 下拉選單 end -->
</li>


<li><a href="Library.html" id="nav103" class="imgnav" ><strong>Library</strong></a></li>



<li><a href="dh.html#" id="nav104" class="imgnav" ><strong>Our Company</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable02">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="about_dingzing.html">About DingZing</a></li>
        <li><a href="innovation_playground.html">Innovation Playground</a></li>
        <li><a href="exhibition.html">Exhibitions</a></li>
        <li><a href="news.html">News</a></li>
      </ul></th>
    </tr>
  </table>
</div>

<!-- 下拉選單 end -->
</li>
<li><a href="dh.html#" id="nav105" class="imgnav" ><strong>Contact Us</strong></a>
		<!-- 下拉選單 -->
<div class="subdiv">
 <table border="0" align="center" cellpadding="0" cellspacing="0" class="subnavtable03">
    <tr class="subnavtitle">
      <th valign="middle" class="subnavtitle02no"><ul class="sublink">
        <li><a href="contact_us_headquarters_and_branch.html">Global Offices</a></li>
        <li><a href="contact_us_distrbutor_and_agents.html">Distributors & Agents</a></li>
      </ul></th>
    </tr>
  </table>
</div>
<!-- 下拉選單 end -->
</li>



</ul>
</div>

</div>
<!-- tab end-->

  <div id="searchbox">
    <!--<div class="searchinfo">
      <form id="form1" name="form1" method="post" action="">
        <div class="searchtxt">
          <input name="textfield" type="text" id="textfield" value="Search" onfocus="if(this.value=='Search') this.value='';" onblur="if(this.value=='') this.value='Search';"  />
        </div>
        <input name="imageField" type="image" class="b-s" id="imageField" src="/resources/images/b-s.jpg" />
      </form>
    </div>-->
    <div class="lang"><a href="tw/index.htm">中文</a> / English</div>
  </div>
</div>
<div class="main">
<div class="path">Products > DING ZING DZ Seals > Dust Wiper Seals > DH</div>
<table width="1200" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF"><div class="leftcont">
<div class="titleimage"><img src="/resources/images/title2/2.6.6DH.jpg" width="800" height="125" /></div>
<div class="maincont">
<div class="slogan">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50%"><img src="/resources/images/DH_pic.jpg"/></td>
      <td width="50%" align="right">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><div class="picscript"><p>R ≦ 0.3 </p>
      <p>Rod <span class="txtwhite txt16">Ø d</span> Surface Roughness: 0.8~1.6 μ mRmax (0.2~0.4 μ mRa)</p>
      </div></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<div class="tablelist">

<div class="dz">
  
      <div class="r17">
      <table width="335" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td width="60" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Items	</td>
          <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Ø d	</span></td>
          <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Ø D 	</span></td>
          <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">t</span></td>
          <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">h</td>
          <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">H</span></td>
        </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">11.2</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">19.2</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">14</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">22</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">16</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">24</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">18</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">26</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">18</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">26</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">20</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">27</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">20</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">28</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">20</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">28</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">22</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">31</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3.7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7.6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.2</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">22.4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">30.4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">23.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">31.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">25</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">33</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">25</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">33</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">26</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">32</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">2.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.2</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">3</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">28</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">36</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">30</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">38</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">31.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">39.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">32</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">40</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">32</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">40</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">32</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">40.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">35</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">43</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">35</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">43</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">35</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">44</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">35.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">43.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">38</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">46</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">40</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">48</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">40</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">50</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">9</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">42</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">50</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">44.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">52.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">45</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">53</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">45</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">53</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">50</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">58</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">50</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">58</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">53</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">61</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">55</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">63</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">55</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">63</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">55</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">65</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">56</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">64</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">60</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">68</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">63</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">71</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">65</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">73</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">4.5</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">65</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">73</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        <tr>
          <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
          <td align="left" valign="top" bgcolor="#E7E8E9">67</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">75</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6.5</td>
          <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
          </tr>
        </table>
        </div>   
        <div class="l18">
          <table width="335" border="0" cellpadding="0" cellspacing="0" >
            <tr>
              <td width="60" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Items </td>
              <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Ø d </span></td>
              <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Ø D </span></td>
              <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">t</span></td>
              <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">h</td>
              <td width="55" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">H</span></td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">70</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">80</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">71</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">81</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">75</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">85</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">80</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">90</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">85</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">95</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">90</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">95</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">105</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">98</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">108</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">100</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">110</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">104.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">117</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">105</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">115</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">106</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">116</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">107</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">117</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">110</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">120</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">112</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">122</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">115</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">125</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">120</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">10</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">120</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">136</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">12</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">10</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">125</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">138</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">130</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">143</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">132</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">145</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">136</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">149</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">140</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">153</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">140</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">157</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">6</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">10</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">145</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">158</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">150</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">163</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">155</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">168</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">160</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">173</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">160</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">174</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">165</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">178</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">165</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">179</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">180</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">193</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">180</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">194</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">190</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">203</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">200</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">213</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">200</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">214</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">204</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">218</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">205</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">215</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">210</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">223</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">220</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">233</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">230</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">244</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
                <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">250</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">263</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">7</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">9.5</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">8</td>
              </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#666666" class="txtwhite"><p>DH</p>
            <p>&nbsp;</p></td>
              <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
              <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
            </tr>
          </table>
        </div>
</div>
</div>
<div class="h456"></div>
</div>
    </div></td>
    <td align="left" valign="top" bgcolor="#E6E6E6" width="403"><div class="rightcont">
    <div class="rprodlist">
<div class="sealstitle">DING ZING DZ Seals</div>
<div id="qaContent3">

	<ul class="accordionPart">
		<li>
			<div class="qa_title">Piston</div>
			<div class="qa_content">
            	
				<p><a href="product_dz_seals_piston.html">Piston Seals</a></p>
                <p><a href="d-1.html" >D-1</a></p>
                <p><a href="d-8.html">D-8</a></p>
              
                
			</div>
		</li>
		<li>
			<div class="qa_title">Rod</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_rod.html">Rod Seals</a></p>
                <p><a href="d-2.html">D-2</a></p>
                <p><a href="d-3.html">D-3</a></p>
                
                 
			</div>
		</li>
        <li>
			<div class="qa_title">Piston and Rod</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_piston_rodseals.html">Piston and Rod Seals</a></p>
                <p><a href="un01.html">UN Ø4-9</a></p>
                <p><a href="un02.html">UN Ø10-15.8</a></p>
                <p><a href="un03.html">UN Ø16-20</a></p>
                <p><a href="un04.html">UN Ø22-31.8</a></p>
                <p><a href="un05.html">UN Ø32-42</a></p>
                <p><a href="un06.html">UN Ø43-60</a></p>
                <p><a href="un07.html">UN Ø61-78</a></p>
                <p><a href="un08.html">UN Ø80-107</a></p>
                <p><a href="un09.html">UN Ø110-175</a></p>
                <p><a href="un10.html">UN Ø180-370</a></p>
                <p><a href="un11.html">UN Ø1/2- 5 1/2</a></p>
                <p><a href="d-4.html">D-4</a></p>
                <p><a href="d-6.html">D-6</a></p>
                <p><a href="d-7.html">D-7</a></p>
                 
			</div>
		</li>
        <li>
			<div class="qa_title">Rotary</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_rotary.html">Rotary Seals</a></p>
                <p><a href="D-14.html" id="one">D-14</a></p>
               
            
                 
			</div>
		</li>
        <li> 
			<div class="qa_title">Buffer Ring</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_buffer_ring.html">Buffer Ring Seals</a></p>
                <p><a href="D-10.html">D-10</a></p>
               
            
                 
			</div>
		</li>
        <li>
			<div class="qa_title open">Dust Wiper</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_dust_wiper.html">Dust Wiper Seals</a></p>
                <p><a href="d-9.html">D-9</a></p>
                <p><a href="dh.html" id="one">DH</a></p>
                <p><a href="dh-3.html">DH-03</a></p>
                <p><a href="dh-4.html">DH-04</a></p>
                <p><a href="dh-5.html">DH-05</a></p>
                <p><a href="dh-7.html">DH-07</a></p>
            
                
			</div>
		</li>
        <li>
			<div class="qa_title">Metal Clad Wiper</div>
			<div class="qa_content">
				
				<p><a href="product_dz_seals_metal_clad_wiper.html">Metal Clad Wiper Seals</a></p>
                <p><a href="me-1.html">ME-1</a></p>
                <p><a href="me-1n.html">ME-1N</a></p>
                <p><a href="me-2.html">ME-2</a></p>
                <p><a href="me-3.html">ME-3</a></p>
                <p><a href="me-4.html">ME-4</a></p>
                <p><a href="me-5.html">ME-5</a></p>
                <p><a href="me-8.html">ME-8</a></p>

                 
			</div>
		</li>
	</ul>
</div>
</div>
  
      <div class="rcontact">
  <strong>Get in touch with us.</strong>
  <BR />
  <p><a href="mailto:seals@dingzing.com"><strong>seals@dingzing.com</strong></a></p>
  <BR />
  
</div>     
      
      
</div></td>
  </tr>
</table>



</div>







<!-- head end-->
<div class="footer">Copyright © 2012 DingZing Chemical Corporation. All rights reserved.</div>
</div>
</div>


</body>
</html>
