<table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
  <tr>
    <td width="353" valign="top">
      <strong>應用</strong>
      <ul>
        <li>• 傳動傳送</li>
        <li>• 包裝機</li>
        <li>• 水泥與石塊輸送</li>
        <li>• 食品，罐頭工廠輸送裝置</li>
        <li>• 地板與天花板磁磚</li>
        <li>• 木製產品機器</li>
        <li>• 木板廠與紡織機</li>
        <li>• 印刷品，報紙，紙類與紙板傳動傳送</li>
      </ul>
    </td>
    <td width="353" valign="top">
      <strong>特色</strong>
      <ul>
        <li>• 優異的耐磨性</li>
        <li>• 高張力, 延伸係數小</li>
        <li>• 耐油性、耐燃料性與高抗氧化性</li>
        <li>• 耐磨耗與耐衝擊</li>
        <li>• 不易壓縮變形</li>
        <li>• 使用溫度範圍廣</li>
        <li>• 不含可塑劑</li>
        <li>• 彈性和恢復性佳</li>
      </ul>
    </td>
  </tr>
</table>