<div class="tablelist">
<div class="dz">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="353" valign="top"><strong>Applications</strong>
      <ul><li>• Newspaper conveying  </li>
        <li>• Packing machines  </li>
        <li>• Ceramic and stoneware processing plants  </li>
        <li>• Cannery conveying equipment  </li>
        <li>• Floor and roof tiles  </li>
        <li>• Woodworking machines </li>
        <li>• Board plants and textile machines  </li>
        <li>• Power transmission belts  </li>
        <li>• Paper and cardboard converting industries</li>
        <li></li>
        <li></li>
      </ul>        </td>
      <td width="353" valign="top"><strong>Features</strong>
      <ul>
        <li>• Outstanding abrasion resistance  </li>
        <li>• High tensile and tear strength  </li>
        <li>• Resistance to oils, fuels, and oxygen  </li>
        <li>• Good weatherability and high impact resistance  </li>
        <li>• Low compression set  </li>
        <li>• Wide application temperatures  </li>
        <li>• Plasticizer free</li>
        <li></li>
      </ul>        </td>
    </tr>
  </table>
  <div class="slogan hb36"></div>
  <!--<p><img src="/resources/images/2.5.2%20product_dz_belt_Round%20(Smooth)_pic.jpg" width="709" height="265" /></p>-->
  <p><img src="/resources/images/2.5.2%20product_dz_belt_Round%20(Smooth)_pic2.jpg" width="709" height="78" /></p>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="201" valign="top"><p><strong>Smooth Surface</strong></p>
        <p>Color: Red (RR) </p>
        <p>Durometer: 88A  </p>
        <p>Application Temp:-35ºC~+75ºC</p></td>
      <td width="202" valign="top"><p><strong>Smooth Surface</strong></p>
        <p>Color: Orange (RO) </p>
        <p>Durometer: 85A  </p>
        <p>Application Temp:-35ºC~+70ºC</p></td>
      <td width="304" valign="top"><p>DUROMETER: 90A, 85A or upon request </p>
      <p>Color: Red, Orange </p>
      <p>Application Temp:-30ºC~+70ºC</p>
        <ul>
          <li></li>
      </ul></td>
    </tr>
  </table>
  <div class="line1"></div>
  <div class="script">
    <strong>Availability</strong>
    
</div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="20%" rowspan="2" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Type	</td>
      <td width="20%" rowspan="2" class="col_h txt16 H83"><span class="txtwhite txt16">Diameter (mm)	</span></td>
      <td width="20%" rowspan="2" class="col_h txt16"><span class="txtwhite txt16 H83">Packing (m/roll)	</span></td>
      <td colspan="2" class="col_h txt16"><span class="txtwhite txt16 H83">Min. Pulley Diameter</span></td>
      </tr>
    <tr>
      <td width="20%" align="left" valign="top" bgcolor="#FFFFFF" class="txt16">(RR)</td>
      <td width="20%" align="left" valign="top" bgcolor="#FFFFFF" class="txt16">(RO)</td>
    </tr>
    <tr>
      <td class="col_v txtwhite">RR-2 / RO-2	</td>
      <td class="td"><p class="txtwhite">2	 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">400	</span></td>
      <td class="td"><span class="txtwhite">20	</span></td>
      <td class="td"><span class="txtwhite">19</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-3 / RO-3	</td>
      <td class="td"><p class="txtwhite">3	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">400	 </span></td>
      <td class="td"><span class="txtwhite">30	</span></td>
      <td class="td"><span class="txtwhite">28</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-4 / RO-4	</td>
      <td class="td"><p class="txtwhite">4	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">200	 </span></td>
      <td class="td"><span class="txtwhite">40	</span></td>
      <td class="td"><span class="txtwhite">38</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-5 / RO-5</td>
      <td class="td"><p class="txtwhite"> 5	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">200	 </span></td>
      <td class="td"><span class="txtwhite">50	</span></td>
      <td class="td"><span class="txtwhite">48</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-6 / RO-6	</td>
      <td class="td"><p class="txtwhite">6	 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">200	</span></td>
      <td class="td"><span class="txtwhite">60	</span></td>
      <td class="td"><span class="txtwhite">57</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-7 / RO-7	</td>
      <td class="td"><p class="txtwhite">7	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">100	 </span></td>
      <td class="td"><span class="txtwhite">70	</span></td>
      <td class="td"><span class="txtwhite">67</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-8 / RO-8	</td>
      <td class="td"><p class="txtwhite">8	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">100	</span></td>
      <td class="td"><span class="txtwhite">80</span></td>
      <td class="td"><span class="txtwhite"> 76</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite"> RR-9 / RO-9	</td>
      <td class="td"><p class="txtwhite">9	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">100</span></td>
      <td class="td"><span class="txtwhite"> 90</span></td>
      <td class="td"><span class="txtwhite"> 86 </span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-10 / RO-10</td>
      <td class="td"><p class="txtwhite"> 10</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite"> 50	</span></td>
      <td class="td"><span class="txtwhite">100</span></td>
      <td class="td"><span class="txtwhite"> 95 </span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-12 / RO-12	</td>
      <td class="td"><p class="txtwhite">12	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">50	</span></td>
      <td class="td"><span class="txtwhite">120	 </span></td>
      <td class="td"><span class="txtwhite">114</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-15 / RO-15	</td>
      <td class="td"><p class="txtwhite">15</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite"> 50	</span></td>
      <td class="td"><span class="txtwhite">150	 </span></td>
      <td class="td"><span class="txtwhite">142</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">RR-18 / RO-18 </td>
      <td class="td"><p class="txtwhite">18	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">30	</span></td>
      <td class="td"><span class="txtwhite">180	</span></td>
      <td class="td"><span class="txtwhite">170</span></td>
      </tr>
  </table>
  <table width="280" border="0" cellpadding="0" cellspacing="0" class="line" >
    <tr>
      <td width="50%" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16"><p>I.D. × O.D. </p>
        <p>(mm)</p></td>
      <td width="50%" class="col_h txt16 H83"><p>Packing </p>
        <p>(m/roll)</p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td class="col_v txtwhite">4.8 × 1.8 </td>
      <td class="td"><p class="txtwhite">200 </p>
        <p class="txtwhite">&nbsp;</p></td>
    </tr>
    <tr>
      <td class="col_v txtwhite">6.3 × 2.5 				 </td>
      <td class="td"><p class="txtwhite">100</p>
        <p class="txtwhite">&nbsp;</p></td>
    </tr>
    <tr>
      <td class="col_v txtwhite">8.0 × 3.2 				 </td>
      <td class="td"><p class="txtwhite">100</p>
        <p class="txtwhite">&nbsp;</p></td>
    </tr>
    <tr>
      <td class="col_v txtwhite">9.5 × 3.8 </td>
      <td class="td"><p class="txtwhite">100 </p>
        <p class="txtwhite">&nbsp;</p></td>
    </tr>
    <tr>
      <td class="col_v txtwhite">12.5 × 5.2 					 </td>
      <td class="td"><p class="txtwhite">50</p>
        <p class="txtwhite">&nbsp;</p></td>
    </tr>
    <tr>
      <td class="col_v txtwhite">15.0 × 5.2 </td>
      <td class="td"><p class="txtwhite">50</p>
        <p class="txtwhite">&nbsp;</p></td>
    </tr>
  </table>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="14%" class="col_h txt16"><p>Hardness	</p></td>
      <td width="14%" class="col_h txt16 H83">Density </td>
      <td width="14%" class="col_h txt16">Tensile Strength </td>
      <td width="14%" class="col_h txt16">Ultimate Elongation </td>
      <td width="14%" class="col_h txt16">100% Tensile Strength </td>
      <td width="14%" class="col_h txt16">300% Tensile Strength </td>
      <td class="col_h txt16">70ºC Compression Set</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">ISO 868	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">ISO 1183	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">ISO 527-1,-3	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">ISO 527-1,-3	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"> DIN 53517</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#E7E8E9" >85 Shore A	</td>
      <td class="td">1200kg/m³</td>
      <td class="td">6.0MPa	</td>
      <td class="td">450%	</td>
      <td class="td">6N/mm²	</td>
      <td class="td">13N/mm²	</td>
      <td class="td">40%</td>
    </tr>
  </table>
</div>
</div>
