
<div class="tablelist">
<div class="dz">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="353" valign="top"><strong>Applications</strong>
      <ul><li>• Newspaper conveying  </li>
        <li>• Packing machines  </li>
        <li>• Ceramic and stoneware processing plants  </li>
        <li>• Cannery conveying equipment  </li>
        <li>• Floor and roof tiles  </li>
        <li>• Woodworking machines </li>
        <li>• Board plants and textile machines  </li>
        <li>• Power transmission belts  </li>
        <li>• Paper and cardboard converting industries</li>
        <li></li>
        <li></li>
      </ul>        </td>
      <td width="353" valign="top"><strong>Features</strong>
      <ul>
        <li>• Outstanding abrasion resistance  </li>
        <li>• High tensile and tear strength  </li>
        <li>• Resistance to oils, fuels, and oxygen  </li>
        <li>• Good weatherability and high impact resistance  </li>
        <li>• Low compression set  </li>
        <li>• Wide application temperatures  </li>
        <li>• Plasticizer free</li>
        <li></li>
      </ul>        </td>
    </tr>
  </table>
  <div class="slogan hb36"></div>
  <!--<p><img src="resources/images/2.5.1%20product_dz_belt_Round%20(Rough)_pic.jpg" width="709" height="265" /></p>-->
  <p><img src="resources/images/2.5.1%20product_dz_belt_Round%20(Rough)_pic2.jpg" width="709" height="78" /></p>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="381" valign="top"><p><strong>Rough Surface</strong>
        </p>
        <p>Color: Green  </p>
        <p>Durometer: 88A  </p>
        <p>Application Temp: -35C~+75C</p></td>
      <td width="326" valign="top"><p>&nbsp;</p>
        <ul>
          <li></li>
      </ul></td>
    </tr>
  </table>
  <div class="line1"></div>
  <div class="script">
    <strong>Availability</strong>
    
</div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="25%" align="left" valign="top" bgcolor="#333333" class="txtwhite txt16">Type	</td>
      <td width="25%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Diameter (mm)	</span></td>
      <td width="25%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Packing (m/roll)	</span></td>
      <td width="25%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><span class="txtwhite txt16 H83">Min. Pulley Diameter</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-2										 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">2	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">400	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">20</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-3										 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">3	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">400	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">30</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-4</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite"> 4	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">200	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">40 </span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-5	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">5</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite"> 200	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">50 </span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-6									 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite"> 6	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">200	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">60</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-7	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">7	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">100	 </span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">70</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-8	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">8	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">100	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">80 </span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-9										 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">9	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">100	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">90</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-10										 </td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">10	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">50	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">100</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-12	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">12	 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">50	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">120</span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-15</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite"> 15</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite"> 50	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">150 </span></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#666666" class="txtwhite">RG-18	</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><p class="txtwhite">18</p>
        <p class="txtwhite">&nbsp; </p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">30	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">180</span></td>
      </tr>
  </table>
  <div class="script">
    <strong>Technical Data</strong>
    
    </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">Hardness	</td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><span class="txtwhite txt16">Density	</span></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tensile </p>
        <p class="txtwhite txt16 H83">Strength </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Ultimate </p>
        <p class="txtwhite txt16 H83">Elongation </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">20% Tensile</p>
        <p class="txtwhite txt16 H83"> Strength </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">100% Tensile</p>
        <p class="txtwhite txt16 H83"> Strength </p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">300%Tensile </p>
        <p class="txtwhite txt16 H83">Strength</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><p>DIN 53505</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"> DIN 53505	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	 </td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#E7E8E9" ><p class="txtwhite">88 Shore A	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">1.19g/cm³	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">55N/mm³	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">600%	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">3.5N/mm²	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">6N/mm²	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">13N/mm²</span></td>
      </tr>
    </table>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p>Tear </p>
        <p>Strength </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16 H83"><p class="txtwhite txt16">Abrasion </p>
        <p class="txtwhite txt16">Loss </p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Compression</p>
        <p class="txtwhite txt16 H83"> Set</p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83"> 70ºC Compression Set</p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Tensile Strength  21 days in 80ºC Water</p></td>
      <td width="14%" align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16"><p class="txtwhite txt16 H83">Elongation at Break  21 days in 80ºC Water</p></td>
      <td align="left" valign="top" bgcolor="#6f8ac5" class="txtwhite txt16">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><p>DIN 53515	</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53516	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53517	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53517	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504 </td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#E7E8E9" ><p class="txtwhite">75N/mm²</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">30mm³</td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">25%	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">40%	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">40N/mm²	</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9"><span class="txtwhite">650%</span></td>
      <td align="left" valign="top" bgcolor="#E7E8E9">&nbsp;</td>
    </tr>
  </table>
</div>
</div>
