<div class="tablelist">
<div class="dz">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="353" valign="top"><strong>Applications</strong>
      <ul><li>• Newspaper conveying  </li>
        <li>• Packing machines  </li>
        <li>• Ceramic and stoneware processing plants  </li>
        <li>• Cannery conveying equipment  </li>
        <li>• Floor and roof tiles  </li>
        <li>• Woodworking machines </li>
        <li>• Board plants and textile machines  </li>
        <li>• Power transmission belts  </li>
        <li>• Paper and cardboard converting industries</li>
        <li></li>
        <li></li>
      </ul>        </td>
      <td width="353" valign="top"><strong>Features</strong>
      <ul>
        <li>• Outstanding abrasion resistance  </li>
        <li>• High tensile and tear strength  </li>
        <li>• Resistance to oils, fuels, and oxygen  </li>
        <li>• Good weatherability and high impact resistance  </li>
        <li>• Low compression set  </li>
        <li>• Wide application temperatures  </li>
        <li>• Plasticizer free</li>
        <li></li>
      </ul>        </td>
    </tr>
  </table>
  <div class="slogan hb36"></div>
  <!--<p><img src="/resources/images/2.5.3_product_dz_belt_v-belt_pic.jpg" width="709" height="265" /></p>-->
  <p><img src="/resources/images/2.5.3_product_dz_belt_v-belt_pic2.jpg" width="709" height="78" /></p>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
    <tr>
      <td width="381" valign="top"><p>Durometer: 88A</p>
        <p>Color: Red, Beige, Transparent </p>
        <p>Application Temp:-35ºC~+75ºC</p></td>
      <td width="326" valign="top"><p>&nbsp;</p>
        <ul>
          <li></li>
      </ul></td>
    </tr>
  </table>
  <div class="line1"></div>
  <div class="script">
    <strong>Availability</strong>
    
</div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="25%" class="col_0 txtwhite txt16">Type	</td>
      <td width="25%" class="col_h txt16 H83"><span class="txtwhite txt16">Diameter (mm)	</span></td>
      <td width="25%" class="col_h txt16"><span class="txtwhite txt16 H83">Packing (m/roll)	</span></td>
      <td width="25%" class="col_h txt16"><span class="txtwhite txt16 H83">Min. Pulley Diameter</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">VM/10	 </td>
      <td class="td"><p class="txtwhite">10×5.5 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">100	</span></td>
      <td class="td"><span class="txtwhite">65</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite"> VA/13	 									 </td>
      <td class="td"><p class="txtwhite">13×9 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">30	</span></td>
      <td class="td"><span class="txtwhite">85</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">VB/17	 									 </td>
      <td class="td"><p class="txtwhite">17×11.5 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">30	</span></td>
      <td class="td"><span class="txtwhite">120</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">VC/22	 </td>
      <td class="td"><p class="txtwhite">22×14  </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">30	</span></td>
      <td class="td"><span class="txtwhite">150</span></td>
      </tr>
    <tr>
      <td class="col_v txtwhite">VD/32	 </td>
      <td class="td"><p class="txtwhite">32×20 </p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">30	</span></td>
      <td class="td"><span class="txtwhite">210</span></td>
      </tr>
</table>
  <div class="script">
    <strong>Technical Data</strong>
    
    </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="14%" class="col_h txt16">Hardness	</td>
      <td width="14%" class="col_h txt16 H83"><span class="txtwhite txt16">Density	</span></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83">Tensile </p>
        <p class="txtwhite txt16 H83">Strength </p></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83">Ultimate </p>
        <p class="txtwhite txt16 H83">Elongation </p></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83">20% Tensile</p>
        <p class="txtwhite txt16 H83"> Strength </p></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83">100% Tensile</p>
        <p class="txtwhite txt16 H83"> Strength </p></td>
      <td class="col_h txt16"><p class="txtwhite txt16 H83">300%Tensile </p>
        <p class="txtwhite txt16 H83">Strength</p></td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><p>DIN 53505</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"> DIN 53505	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	 </td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504</td>
      </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#E7E8E9" ><p class="txtwhite">88 Shore A	</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td"><span class="txtwhite">1.19g/cm³	</span></td>
      <td class="td"><span class="txtwhite">55N/mm³	</span></td>
      <td class="td"><span class="txtwhite">600%	</span></td>
      <td class="td"><span class="txtwhite">3.5N/mm²	</span></td>
      <td class="td"><span class="txtwhite">6N/mm²	</span></td>
      <td class="td"><span class="txtwhite">13N/mm²</span></td>
      </tr>
    </table>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
    <tr>
      <td width="14%" class="col_h txt16"><p>Tear </p>
        <p>Strength </p></td>
      <td width="14%" class="col_h txt16 H83"><p class="txtwhite txt16">Abrasion </p>
        <p class="txtwhite txt16">Loss </p></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83">Compression</p>
        <p class="txtwhite txt16 H83"> Set</p></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83"> 70ºC Compression Set</p></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83">Tensile Strength  21 days in 80ºC Water</p></td>
      <td width="14%" class="col_h txt16"><p class="txtwhite txt16 H83">Elongation at Break  21 days in 80ºC Water</p></td>
      <td class="col_h txt16">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite"><p>DIN 53515	</p>
        <p>&nbsp;</p></td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53516	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53517	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53517	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504	</td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">DIN 53504 </td>
      <td align="left" valign="top" bgcolor="#999999" class="txtwhite">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" bgcolor="#E7E8E9" ><p class="txtwhite">13N/mm²</p>
        <p class="txtwhite">&nbsp;</p></td>
      <td class="td">30%</td>
      <td class="td"><span class="txtwhite">25%	</span></td>
      <td class="td"><span class="txtwhite">40%	</span></td>
      <td class="td"><span class="txtwhite">40N/mm²	</span></td>
      <td class="td"><span class="txtwhite">650%</span></td>
      <td class="td">&nbsp;</td>
    </tr>
  </table>
</div>
</div>