<div class="tablelist">
  <div class="dz">
    <%= render :partial => "logan_dz_table.html.erb" %>
    <div class="slogan hb36"></div>
    <!--<p><img src="/resources/images/2.5.3_product_dz_belt_v-belt_pic.jpg" width="709" height="265" /></p>-->
    <p><img src="/resources/images/2.5.3_product_dz_belt_v-belt_pic2.jpg" width="709" height="78" /></p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="noline">
      <tr>
        <td width="381" valign="top">
          <p>硬度: 88A</p>
          <p>顏色: 紅色, 米黃色, 透明</p>
          <p>作業溫度範圍:-35ºC~+75ºC</p>
        </td>
        <td width="326" valign="top"><p>&nbsp;</p></td>
      </tr>
    </table>
    <div class="line1"></div>
    <div class="script">
      <strong>可用性</strong>
    </div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="25%" class="col_0 txtwhite txt16">品名 </td>
        <td width="25%" class="col_h txt16 H83"><span class="txtwhite txt16">直徑 (mm)</span></td>
        <td width="25%" class="col_h txt16"><span class="txtwhite txt16 H83">包裝 (m/捲)</span></td>
        <td width="25%" class="col_h txt16"><span class="txtwhite txt16 H83">最小轉徑</span></td>
      </tr>
      <tr>
        <td class="col_et txtwhite">VM/10</td>
        <td class="td"><p class="txtwhite">10×5.5</p>
        <p class="txtwhite">&nbsp;</p></td>
        <td class="td"><span class="txtwhite">100</span></td>
        <td class="td"><span class="txtwhite">65</span></td>
      </tr>
      <tr>
        <td class="col_et txtwhite"> VA/13</td>
        <td class="td"><p class="txtwhite">13×9</p>
        <p class="txtwhite">&nbsp;</p></td>
        <td class="td"><span class="txtwhite">30</span></td>
        <td class="td"><span class="txtwhite">85</span></td>
      </tr>
      <tr>
        <td class="col_et txtwhite">VB/17</td>
        <td class="td"><p class="txtwhite">17×11.5</p>
        <p class="txtwhite">&nbsp;</p></td>
        <td class="td"><span class="txtwhite">30</span></td>
        <td class="td"><span class="txtwhite">120</span></td>
      </tr>
      <tr>
        <td class="col_et txtwhite">VC/22</td>
        <td class="td"><p class="txtwhite">22×14</p>
        <p class="txtwhite">&nbsp;</p></td>
        <td class="td"><span class="txtwhite">30</span></td>
        <td class="td"><span class="txtwhite">150</span></td>
      </tr>
      <tr>
        <td class="col_et txtwhite">VD/32</td>
        <td class="td"><p class="txtwhite">32×20</p>
        <p class="txtwhite">&nbsp;</p></td>
        <td class="td"><span class="txtwhite">30</span></td>
        <td class="td"><span class="txtwhite">210</span></td>
      </tr>
    </table>
    <div class="script">
      <strong>技術數據</strong>
      
    </div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="14%" class="col_h txt16">硬度</td>
        <td width="14%" class="col_h txt16 H83"><span class="txtwhite txt16">密度</span></td>
        <td width="14%" class="col_h txt16"><p>張力</p>
        </td>
        <td width="14%" class="col_h txt16"><p>伸長率</p>
        </td>
        <td width="14%" class="col_h txt16"><p>20% 張力</p>
        </td>
        <td width="14%" class="col_h txt16"><p>100% 張力</p>
        </td>
        <td class="col_h txt16"><p>300%張力</p>
        </td>
      </tr>
      <tr>
        <td class="col_es txtwhite"><p>DIN 53505</p>
        <p>&nbsp;</p></td>
        <td class="col_es txtwhite">DIN 53505</td>
        <td class="col_es txtwhite">DIN 53504</td>
        <td class="col_es txtwhite">DIN 53504</td>
        <td class="col_es txtwhite">DIN 53504</td>
        <td class="col_es txtwhite">DIN 53504</td>
        <td class="col_es txtwhite">DIN 53504</td>
      </tr>
      <tr>
        <td bgcolor="#E7E8E9" ><p class="txtwhite">88 Shore A  </p>
        <p class="txtwhite">&nbsp;</p></td>
        <td class="td"><span class="txtwhite">1.19g/cm³</span></td>
        <td class="td"><span class="txtwhite">55N/mm³</span></td>
        <td class="td"><span class="txtwhite">600%</span></td>
        <td class="td"><span class="txtwhite">3.5N/mm²</span></td>
        <td class="td"><span class="txtwhite">6N/mm²</span></td>
        <td class="td"><span class="txtwhite">13N/mm²</span></td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="14%" class="col_h txt16"><p>拉伸強度</p></td>
        <td width="14%" class="col_h txt16 H83"><p>磨耗</p></td>
        <td width="14%" class="col_h txt16"><p>壓縮率</p>
        </td>
        <td width="14%" class="col_h txt16"><p>70ºC 壓縮率</p></td>
        <td width="14%" class="col_h txt16"><p>在80 ºC水下21天的張力</p></td>
        <td width="14%" class="col_h txt16"><p>在80 ºC水下21天的伸長率</p></td>
        <td class="col_h txt16">&nbsp;</td>
      </tr>
      <tr>
        <td class="col_es txtwhite"><p>DIN 53515</p>
        <p>&nbsp;</p></td>
        <td class="col_es txtwhite">DIN 53516</td>
        <td class="col_es txtwhite">DIN 53517</td>
        <td class="col_es txtwhite">DIN 53517</td>
        <td class="col_es txtwhite">DIN 53504</td>
        <td class="col_es txtwhite">DIN 53504</td>
        <td class="col_es txtwhite">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#E7E8E9" ><p class="txtwhite">13N/mm²</p>
        <p class="txtwhite">&nbsp;</p></td>
        <td class="td">30%</td>
        <td class="td"><span class="txtwhite">25%</span></td>
        <td class="td"><span class="txtwhite">40%</span></td>
        <td class="td"><span class="txtwhite">40N/mm²</span></td>
        <td class="td"><span class="txtwhite">650%</span></td>
        <td class="td">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>